﻿@using FibaEmeklilikSales.Classes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eAcente Fibaemeklilik - Ürün Seçimi</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">
    <link href="/css/acenta.css" rel="stylesheet">
    <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/acenta.js?v1.3"></script>
    <script src="/js/cookie.js"></script>

    <div id="headerContainer" class="container-fluid">
        <div id="header" class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 columns">
                    <div class="e-acenta columns">
                        <div></div>
                    </div>
                    <div class="logo columns">
                        <a href="javascript:;"></a>
                    </div>
                    <div class="userLogin">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 clearfix columns">
                    <a class="exit" href="javascript:;" onclick="$('#myModalClose').modal('show');"></a>
                    <a href="/main/index" class="home"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="contentContainer" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <h1>500</h1>
                        <h3>Sayfada bir hata oluştu.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalClose" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">ÇIKIŞ</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-12">
                        <p>Çıkmak istediğine emin misin?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='/shared/close';">Evet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
