﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
    ViewBag.Top = "0";
    ViewBag.Tab = "0";

    var productTable = Sessions.ProductTable;

    int valueCount = 0;
    if (productTable != null)
    {
        if (productTable.First().Values != null)
        {
            valueCount = productTable.First().Values.Count;
        }
    }
}

<div class="col-xs-12">
    <h2>Ürün Tablosu</h2>

    <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
        <fieldset>
            <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="control-label" for="strName">Başlık Adı</label>
                <input id="strColumn" type="text" required name="strColumn" style="width: 200px;" maxlength="50" class="form-control input-md">
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class=" control-label" for="btnSave">&nbsp;</label>
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </fieldset>
    </form>
    <br />
    @if (productTable != null)
    {
        <form id="frmTable" method="post" action="/Product/AgeTableRow?pi=@Request.QueryString["pi"]" class="form-horizontal">
            <input type="hidden" id="hdType" name="hdType" value="insert" />
            <div class="tableContainer" style="width: 400px">
                <table class="table">
                    <tr>
                        @foreach (var item in productTable)
                        {
                            <th>@item.strColumn</th>                                     
                        }
                        <th>&nbsp;</th>
                    </tr>
                    @for (int i = 0; i < valueCount; i++)
                    {
                        <tr>
                            @foreach (var item in productTable)
                            {
                                <td>
                                    <input type="text" name="@(item.strColumn + "_" + i)" value="@(item.Values != null ? item.Values[i].Value : "")" class="form-control input-md" style="width:100px; margin-right:10px;"/>
                                </td>    
                            }
                            <td>
                                <input type="button" value="Güncelle" class="btn btn-primary" onclick="$('#hdType').val('update'); $('#frmTable').submit();" style="margin-right: 10px;" />
                            </td>
                        </tr>
                    }
                    <tr>
                        @foreach (var item in productTable)
                        {
                            <td>
                                <input type="text" name="@(item.strColumn)" value="" class="form-control input-md" style="width:100px; margin-right:10px;" /></td>
                        }
                        <td>
                            <input type="button" value="Ekle" class="btn btn-primary" onclick="$('#hdType').val('insert'); $('#frmTable').submit();" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
                        
                        if (valueCount > 0)
                        {
        <br />
        <input id="btnSave" type="button" value="Kaydet" class="btn btn-success" onclick="MsgAgeTable();" />
                        }
    }
</div>

<script type="text/javascript">
    function MsgAgeTable() {
        top.location = '/Product/Update?i=@Request.QueryString["pi"]';
    };
</script>
