﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ürün " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;

    var _data = new tblProducts();
}

<div class="col-xs-12">
    <h2>Ürün @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intProductID = QueryStrings.ID;

        DBEntities db = new DBEntities();

        if (PageControl.DomainType == "update" && intProductID > 0)
        {
            _data = db.tblProducts.Where(w => w.intProductID == intProductID).First();
        }

        bool bolInsert = PageControl.GetDetail(false, "", "new");
        bool bolUpdate = PageControl.GetDetail(false, "", "update");
        bool bolDelete = PageControl.GetDetail(false, "", "delete");

        <form method="post" action="@Request.Url.ToString()" class="form-horizontal" enctype="multipart/form-data">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
                @if (Request.QueryString["type"] == null)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strName">Adı</label>
                        <input id="strName" type="text" value="@_data.strName" required name="strName" maxlength="250" class="form-control input-md">
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strTariffCode">Tarife Kodu</label>
                        <input id="strTariffCode" type="text" value="@_data.strTariffCode" required name="strTariffCode" maxlength="10" class="form-control input-md">
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolIsActive">Durumu</label>
                        <label class="checkbox-inline" for="bolIsActive">
                            <input id="bolIsActive" type="checkbox" name="bolIsActive" @(_data.bolIsActive ? "checked" : "")>
                            Aktif
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolIsRefresh">Yenileme</label>
                        <label class="checkbox-inline" for="bolIsRefresh">
                            <input id="bolIsRefresh" type="checkbox" name="bolIsRefresh" @(_data.bolIsRefresh ? "checked" : "")>
                            Var
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolScratchWin">Kazı Kazan Ürünü</label>
                        <label class="checkbox-inline" for="bolScratchWin">
                            <input id="bolScratchWin" type="checkbox" name="bolScratchWin" @(_data.bolScratchWin ? "checked" : "")>
                            Evet
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolPersonalProduct">Ferdi Kaza Ürünü</label>
                        <label class="checkbox-inline" for="bolPersonalProduct">
                            <input id="bolPersonalProduct" type="checkbox" name="bolPersonalProduct" @(_data.bolPersonalProduct ? "checked" : "")>
                            Evet
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolContactForm">İletişim Formu</label>
                        <label class="checkbox-inline" for="bolContactForm">
                            <input id="bolContactForm" type="checkbox" name="bolContactForm" @(_data.bolContactForm ? "checked" : "")>
                            Evet
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <label class="control-label" for="strQuestion">Sağlık Sorusu</label>
                        <textarea id="strQuestion" name="strQuestion" maxlength="4000" class="form-control">@_data.strQuestion</textarea>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <label class="control-label" for="strNote">Satıcı Notu</label>
                        <textarea id="strNote" name="strNote" class="form-control">@_data.strNote</textarea>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <label class="control-label" for="strComment">Açıklama</label>
                        <textarea id="strComment" name="strComment" class="form-control">@_data.strComment</textarea>
                    </div>

                    if (_data.intProductID > 0)
                    {
                        string strJsonTable = _data.strJsonTable;
                        if (!string.IsNullOrEmpty(strJsonTable) && Sessions.ProductTable == null && !Sessions.ProductTableDelete)
                        {
                            Sessions.ProductTable = JsonSerializer.Deserialize<List<cProductTable>>(strJsonTable);
                        }

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <label class=" control-label" for="btnSave">Yaş Tablosu</label>
                            @if (Sessions.ProductTable != null)
                            {
                                List<cProductTable> productTable = Sessions.ProductTable;

                                <div class="tableContainer" style="width: 400px">
                                    <table class="table">
                                        <tr>
                                            @foreach (var item in productTable)
                                            {
                                                <th>@item.strColumn</th>
                                            }
                                        </tr>
                                        @if (productTable.FirstOrDefault() != null)
                                        {
                                            if (productTable.First().Values != null)
                                            {
                                                for (int i = 0; i < productTable.First().Values.Count; i++)
                                                {
                                                    <tr>
                                                        @foreach (var item in productTable)
                                                        {
                                                            try
                                                            {
                                                                <td>
                                                                    @(item.Values != null ? item.Values[i].Value : "")
                                                                </td>
                                                            }
                                                            catch { }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </div>
                            }

                            @if (bolInsert)
                            {
                                <input id="btnAgeTable" type="button" value="Tablo @(Sessions.ProductTable == null ? "Ekle" : "Güncelle")" class="btn btn-primary" />
                            }

                            @if (bolDelete && Sessions.ProductTable != null)
                            {
                                <a href="/Product/AgeTableDelete?i=@Request.QueryString["i"]" class="btn btn-primary">Tablo Sil</a>
                            }
                        </div>
                    }

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label" for="bolWebSale">Web Satış</label>
                        <label class="checkbox-inline" for="bolWebSale">
                            <input id="bolWebSale" type="checkbox" name="bolWebSale" @(_data.bolWebSale ? "checked" : "")>
                            Aktif
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Ödeme Seçenekleri</label>
                        @foreach (var item in db.tblPaymentMethods.ToList())
                        {
                            bool bolChecked = string.IsNullOrEmpty(_data.intPaymentMethodIDs) ? false : _data.intPaymentMethodIDs.Split(',').ToList().Count(c => c == item.intPaymentMethodID.ToString()) > 0;

                            <label class="checkbox-inline">
                                <input type="checkbox" name="paymentMethod-@(item.intPaymentMethodID)" @(bolChecked ? "checked" : "")>
                                @item.strName
                            </label>
                        }
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolFirstBonus">Yıllık taksitli mi?</label>
                        <label class="checkbox-inline" for="bolFirstBonus">
                            <input id="bolFirstBonus" type="checkbox" name="bolFirstBonus" @(_data.bolFirstBonus ? "checked" : "")>
                            Evet
                        </label>
                    </div>
                }
                else if (Request.QueryString["type"] == "publish")
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label" for="bolPublished">İnternet'de Yayımla</label>
                        <label class="checkbox-inline" for="bolPublished">
                            <input id="bolPublished" type="checkbox" name="bolPublished" @(_data.bolPublished ? "checked" : "")>
                            Aktif
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <label class="control-label" for="bolSlider">Slider da Göster</label>
                        <label class="checkbox-inline" for="bolSlider">
                            <input id="bolSlider" type="checkbox" name="bolSlider" @(_data.bolSlider ? "checked" : "")>
                            Aktif
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strDetailUrl">Detaylı Bilgi Link</label>
                        <input id="strDetailUrl" type="text" value="@_data.strDetailUrl" name="strDetailUrl" class="form-control input-md">
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strPublishSpot">Spot Alanı</label>
                        <textarea name="strPublishSpot" id="strPublishSpot" class="form-control" rows="5">@_data.strPublishSpot</textarea>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strPublishComment">Açıklama</label>
                        <textarea id="strPublishComment" name="strPublishComment" class="form-control">@_data.strPublishComment</textarea>
                    </div>

                    <div id="uploaders_imagetable" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="imagetable">Tablo Resmi</label>
                        <input id="imagetable" type="file" name="imagetable" class="form-control input-md imagetableid">
                        <ul id="selected_imagetable"></ul>
                    </div>

                    <div id="uploaders_image" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="image">Ürün Resmi</label>
                        <input id="image" type="file" name="image" class="form-control input-md imageid">
                        <ul id="selected_image"></ul>
                    </div>

                    <div id="uploaders_imagethumb" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="imagethumb">Ürün Resmi (Thumb)</label>
                        <input id="imagethumb" type="file" name="imagethumb" class="form-control input-md imagethumbid">
                        <ul id="selected_imagethumb"></ul>
                    </div>

                    <div id="uploaders_video" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="video">Ürün Videosu</label>
                        <input id="video" type="file" name="video" class="form-control input-md videoid">
                        <ul id="selected_video"></ul>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="strDtSub2">DigiTouch Key(adv_sub2)</label>
                        <input id="strDtSub2" type="text" value="@_data.strDtSub2" name="strDtSub2" maxlength="50" style="width:250px" class="form-control input-md">
                    </div>
                }


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/Product/List">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
            <input type="hidden" id="hd_image" name="hd_image" />
            <input type="hidden" id="hd_imagethumb" name="hd_imagethumb" />
            <input type="hidden" id="hd_imagetable" name="hd_imagetable" />
            <input type="hidden" id="hd_video" name="hd_video" />
            <input type="hidden" id="hd_image_Delete" name="hd_image_Delete" value="" />
            <input type="hidden" id="hd_imagethumb_Delete" name="hd_imagethumb_Delete" value="" />
            <input type="hidden" id="hd_imagetable_Delete" name="hd_imagetable_Delete" value="" />
            <input type="hidden" id="hd_video_Delete" name="hd_video_Delete" value="" />
        </form>
    }
</div>

<div id="modalAge" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btnMyModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <iframe id="frmAge" width="100%" height="500" src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdIDAge" />

<script src="/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
@if (Request.QueryString["type"] == null)
{
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                $("#divMessage").html("");
                if (tinyMCE.get('strNote').getContent() == "") {
                    Msg(3, "Satıcı notunu giriniz!");
                    return false;
                }

                if (tinyMCE.get('strComment').getContent() == "") {
                    Msg(3, "Açıklama giriniz!");
                    return false;
                }
            });

            $("#btnAgeTable").click(function () {
                validNavigation = true;
                OpenAgeTable();
            });

            getEditor("strNote", "100%", "80");
            getEditor("strQuestion", "100%", "80");
            getEditor("strComment", "100%", "300");
        });
    </script>
}
else if (Request.QueryString["type"] == "publish")
{
    <script type="text/javascript">
        $(function () {
            getEditor("strPublishComment", "100%", "300");
        });
    </script>
}

<script type="text/javascript">
    function OpenAgeTable() {
        $("#frmAge").attr("src", "/Product/AgeTable?pi=@Request.QueryString["i"]");
        $('#modalAge').modal('show');
    };
    function OpenAgeTableUpdate(ageID) {
        $("#frmAge").attr("src", "/Product/AgeTable?pi=@Request.QueryString["i"]&i=" + ageID);
        $('#modalAge').modal('show');
    };
    function DeleteAgeTable(id) {
        $("#hdIDAge").val(id);
        $("#deleteTitle").html("Sil");
        $("#lblDeleteMsg").html('Silmek istediğine emin misin?');
        $('#myModalDelete').modal('show');
    };
    function DeleteModal() {
        location.href = '/Product/DeleteAgeTable?pi=@Request.QueryString["i"]&i=' + $("#hdIDAge").val();
    };
    function getEditor(_area, width, height) {
        tinyMCE.init({
            mode: "exact",
            elements: _area,
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "",
            theme_advanced_resizing: false,
            extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,

            width: width,
            height: height,

            // Drop lists for link/image/media/template dialogs
            template_external_list_url: "js/template_list.js",
            external_link_list_url: "js/link_list.js",
            external_image_list_url: "js/image_list.js",
            media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            },

            // Schema is HTML5 instead of default HTML4
            schema: "html5",

            // End container block element when pressing enter inside an empty block
            end_container_on_empty_block: true,

            // HTML5 formats
            style_formats: [
            { title: 'h1', block: 'h1' },
            { title: 'h2', block: 'h2' },
            { title: 'h3', block: 'h3' },
            { title: 'h4', block: 'h4' },
            { title: 'h5', block: 'h5' },
            { title: 'h6', block: 'h6' },
            { title: 'p', block: 'p' },
            { title: 'div', block: 'div' },
            { title: 'pre', block: 'pre' },
            { title: 'section', block: 'section', wrapper: true, merge_siblings: false },
            { title: 'article', block: 'article', wrapper: true, merge_siblings: false },
            { title: 'blockquote', block: 'blockquote', wrapper: true },
            { title: 'hgroup', block: 'hgroup', wrapper: true },
            { title: 'aside', block: 'aside', wrapper: true },
            { title: 'figure', block: 'figure', wrapper: true }
            ]
        });
    }
</script>

<script>
    var files;
    var storedImage = [];
    var upcImage = 0;
    var upcImageThumb = 0;
    var upcImageTable = 0;
    var upcVideo = 0;
    var selDivImage = document.querySelector("#selected_image");
    var selDivImageThumb = document.querySelector("#selected_imagethumb");
    var selDivImageTable = document.querySelector("#selected_imagetable");
    var selDivVideo = document.querySelector("#selected_video");
    var imageExt = '';
    var configImageExt = '@System.Configuration.ConfigurationManager.AppSettings["ImageExt"]';
    var configVideoExt = '@System.Configuration.ConfigurationManager.AppSettings["VideoExt"]';

    $(function () {
        $(":file").attr('title', '  ');
        $("#image").change(function (e) {
            doReCreate(e, 'image');
        });

        $("#imagethumb").change(function (e) {
            doReCreate(e, 'imagethumb');
        });

        $("#imagetable").change(function (e) {
            doReCreate(e, 'imagetable');
        });

        $("#video").change(function (e) {
            doReCreate(e, 'video');
        });
    });

    function doReCreate(e, id) {
        var upc = 0;
        if (id == "image") {
            upcImage = upcImage + 1;
            upc = upcImage;
        } else if (id == "imagethumb") {
            upcImageThumb = upcImageThumb + 1;
            upc = upcImageThumb;
        } else if (id == "imagetable") {
            upcImageTable = upcImageTable + 1;
            upc = upcImageTable;
        } else if (id == "video") {
            upcVideo = upcVideo + 1;
            upc = upcVideo;
            imageExt = configVideoExt;
        }

        $("." + id + "id").hide();
        $('<input>').attr({
            type: 'file',
            id: id + upc,
            name: id + upc,
            title: '  ',
            class: 'form-control input-md ' + id + 'id',
            onchange: "doReCreate(event, '" + id + "')"
        }).appendTo('#uploaders_' + id);

        handleFileSelect(e, id);
    };

    function handleFileSelect(e, id) {
        if (!e.target.files) return;

        files = e.target.files;
        InsertFiles(files, true, id);
    };

    function InsertFiles(fileList, bolMsg, id) {
        var bolInserted = false;

        storedImage = [];
        $('#selected_' + id).empty();

        var imageExtList = imageExt.split(',');

        for (var i = 0; i < fileList.length; i++) {
            var f = fileList[i];

            var bolEx = false;
            for (var j = 0; j < imageExtList.length; j++) {
                if (f.name.toLowerCase().indexOf('.' + imageExtList[j]) != -1) {
                    bolEx = true;
                    break;
                }
            }

            if (bolEx) {
                bolInserted = true;

                var strHtml = '<li>' + (!bolMsg ? (id == 'video' ? '<a href="/besplan/video?src=' + f.file + '" target="_blank" data-video="' + f.file + '" class="filename js-video-content-popup">' : '<a href="' + f.file + '" target="_blank">') + f.name + '</a>' : f.name) + '<a href="javascript:;" onclick="removeAtt(this, \'' + id + '\')" title="SİL"> X </a></li>';

                if (id == "image") {
                    selDivImage.innerHTML += strHtml;
                } else if (id == "imagethumb") {
                    selDivImageThumb.innerHTML += strHtml;
                } else if (id == "imagetable") {
                    selDivImageTable.innerHTML += strHtml;
                } else if (id == "video") {
                    //try {
                    //    selDivVideo.append(strHtml);
                    //} catch (ex) {
                    //    selDivVideo.innerHTML += strHtml;
                    //}
                    selDivVideo.innerHTML += strHtml;
                }
                storedImage.push(f.name);
            }
        }

        if (!bolInserted && bolMsg) {
            Msg(3, "Dosya formatını hatalı seçtiniz!");
        }

        $('#hd_' + id).val(storedImage);
    };

    function removeAtt(t, id) {
        var serEle = $(t).parent().text().slice(0, -3);

        var index = storedImage.indexOf(serEle);
        if (index !== -1) {
            storedImage.splice(index, 1);
        }
        $(t).parent().remove();

        $('#hd_' + id).val(storedImage);
        $("#hd_" + id + "_Delete").val($("#hd_" + id + "_Delete").val() + "," + serEle);
    };
</script>

@if (!string.IsNullOrEmpty(_data.strImage))
{
    string strProductImage = System.Configuration.ConfigurationManager.AppSettings["ProductImage"];
    string strFiles = "[{\"name\" : \"" + _data.strImage.Trim() + "\", \"file\" : \"" + strProductImage + _data.strImage.Trim() + "\"}]";

    <script type="text/javascript">
        $(function () {
            InsertFiles($.parseJSON('@Html.Raw(strFiles)'), false, 'image');
        });
    </script>
}

@if (!string.IsNullOrEmpty(_data.strImageThumb))
{
    string strProductImageThumb = System.Configuration.ConfigurationManager.AppSettings["ProductImageThumb"];
    string strFiles = "[{\"name\" : \"" + _data.strImageThumb.Trim() + "\", \"file\" : \"" + strProductImageThumb + _data.strImageThumb.Trim() + "\"}]";

    <script type="text/javascript">
        $(function () {
            InsertFiles($.parseJSON('@Html.Raw(strFiles)'), false, 'imagethumb');
        });
    </script>
}

@if (!string.IsNullOrEmpty(_data.strImageTable))
{
    string strProductImageTable = System.Configuration.ConfigurationManager.AppSettings["ProductImage"];
    string strFiles = "[{\"name\" : \"" + _data.strImageTable.Trim() + "\", \"file\" : \"" + strProductImageTable + _data.strImageTable.Trim() + "\"}]";

    <script type="text/javascript">
        $(function () {
            InsertFiles($.parseJSON('@Html.Raw(strFiles)'), false, 'imagetable');
        });
    </script>
}

@if (!string.IsNullOrEmpty(_data.strVideo))
{
    string strProductVideo = System.Configuration.ConfigurationManager.AppSettings["ProductVideo"];
    string strFiles = "[{\"name\" : \"" + _data.strVideo.Trim() + "\", \"file\" : \"" + strProductVideo + _data.strVideo.Trim() + "\"}]";

    <script type="text/javascript">
        $(function () {
            InsertFiles($.parseJSON('@Html.Raw(strFiles)'), false, 'video');
        });
    </script>
}