html, body {
	margin: 0;
	padding: 0;
	/* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
   /* Safari 4+, Chrome 1-9 */                         background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6ebf7), to(#93ccea));
/* Safari 5.1+, Mobile Safari, Chrome 10+ */    background-image:   -webkit-linear-gradient(top, #d6ebf7, #93ccea);
/* Firefox 3.6+ */                                      background-image:   -moz-linear-gradient(top, #d6ebf7, #93ccea);
/* IE 7-*/                                                  filter:                 progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d6ebf7', endColorStr='#93ccea', GradientType=0);
/* IE 8+*/                                                  -ms-filter:             "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d6ebf7', endColorStr='#93ccea', GradientType=0)";
/* IE 10+ */                                                background-image:   -ms-linear-gradient(top, #d6ebf7, #93ccea);
/* Opera 11.10+ */                                      background-image:   -o-linear-gradient(top, #d6ebf7, #93ccea);
/* fallback/image non-cover color */                background-color:   #d6ebf7;
min-height: 100vh;
}

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.body {
	
	margin: 0 auto;
	padding: 40px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	min-height: calc(100vh - 252px);
}
.body-modal .perfect-form {
	padding: 0 75px!important;
}
.body-b {
	max-width: 1110px;
	margin: 0 auto;
	padding: 40px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	min-height: calc(100vh - 252px);
	display: flex;
	justify-content: center;
    align-items: center;
}
.body-b .perfect-form {
	padding: 0 150px;
}
.body-s {
	max-width: 400px;
}
.modal {
	padding: 25px 30px;
	background: rgba(255,255,255,0.9);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.modal a {
	color: #2da5da;
}

@media screen and (max-width: 600px) {
	.body {
		padding: 40px;
	}
}
header{
	height: 90px;
	background-color: #0177c1;
	text-align: center;
}
header img{
	margin-top: 18px;
}
footer{
	height: 70px;
	text-align: center;
	background-color: #0177c1;
}
footer p{
	color: #fff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-top: 28px;
}
.button-main{
	width: 100%;
	padding: 0!important;
	float: none;
	margin: 0!important;
}
footer .footer-info-block{
	width: 100%;
	padding: 0;
	margin: 15px 0 0;
}
footer .footer-info-block a{
	color: #000!important;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
footer .footer-info-block .left-block{
	text-align: left;
}
footer .footer-info-block .right-block{
	text-align: right;
}

#tahsilat-tutari{
	width: 100%;
	height: 80px;
	background-color: #d6ebf7;
	margin-bottom: 20px;
	text-align: center;
	display: table;
}
#tahsilat-tutari p{
	color: #0c4363;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}
#tahsilat-tutari p span{
	vertical-align: middle;
}

#tahsilat-tutari p span i{
	font-size: 25px;
	vertical-align: middle;
}

#sozlesme{
	height: 140px;
	background-color: #eff2f4;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 30px 20px;
}
#sozlesme p{
	color: #3e3e3e;
}
.tahsilat-bold-text{
	font-size: 29px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	padding: 0 15px;
	vertical-align: middle;
}

@media screen and (max-width: 600px) {
	.perfect-form {
		padding: 0 15px!important;
		width:100%;
	}
}
@media screen and (max-width: 1200px) {
	.body-b .perfect-form {
		padding: 0 15px!important;
		width:400px;
	}
}

#modal-page{
	padding: 80px 0;
	text-align: center;
}
#modal-page p{
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	margin-top: 20px;
	font-size: 22px;
}
.small-text{
	font-size: 16px;
	color: #929597;
	font-weight: normal;
	margin-top: 30px!important;
}
.withfifty {
	width: 50%;
	float: left;
	display: inline-block;
}
section{
	position: relative;
}
.perfect-form .state-error + em{
	position: absolute;
    top: 16px;
    right: 30px;
    margin-top: auto; 
    padding: 0;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}

.hide-mobile{
	display: none !important;
}

@media only screen and (max-width: 1400px){
	.info{
		width: 315px !important;
	}
	
	
	.a-list__item__text {
		width: 190px !important;
	}
	.aside__content__a-header {
		padding: 0 0 10px !important;
	}
	.a-list__item {
		padding: 10px 0 !important;
	}
}

@media only screen and (max-width: 1260px){
	.perfect-form{
		max-width: 330px !important;
	}
}

@media only screen and (max-width: 1240px) {
	.hide-mobile{
		display: block !important;
	}
	.info{
		display: none !important;
	}
}

@media only screen and (max-width: 1239px) {
	.hide-desktop{
		display:none;
	}
	.aside__content__image {
		margin-left:30px !important;
	}
}

.-width {
	width: 100% !important;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.info {
	position: absolute;
	right: 15px;
	top:130px;
	display: flex;
	justify-content: center;
	width: 400px;
	height: calc(100% - 200px);
	max-height: 600px;
	background-color: white;
	border-radius: 10px;
	overflow-y: auto;
}
.aside {
	width: 100%;
}
.aside__content {
	padding:30px 30px 0 30px;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: black;
}
.aside__content__a-header {
	font-weight: 700;
	font-size: 20px;
	padding: 0 0 30px;
	border-bottom: #000 solid 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.a-header__image {
	width:63px;
	height: 56px;
	background-image: url(/img/lock.png);
	background-repeat: no-repeat, no-repeat;
}
.aside__content__a-list {
	padding: 10px 0;
}
.a-list__item {
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	
}
.a-list__item__icon {
	width:18px;
	height: 48px;
	padding-right: 30px;
	background-image: url(/img/icon.png);
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
	background-position: center;
}
.a-list__item__text {
	font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
	color: black;
	width: 250px;
	padding-left: 15px;
}


.aside__content__image {
	margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	border-top: 2px solid #d0d7dc;
}
.aside__content__image > img{
	width: 100%;
    height: auto;
    padding: 20px 0;
}