﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{  
    Layout = "~/Views/Shared/_Layout.cshtml";

    tblUserAuth userPage = null;
    try
    {
        userPage = Sessions.CurrentUser.tblUserAuth.Where(w => w.tblPages.strUrl == HttpContext.Current.Request.Url.AbsolutePath).FirstOrDefault();
    }
    catch { }

    ViewBag.Title = (userPage == null ? "Satış İptali" : userPage.tblPages.strPageName);
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;
    string strSearch = QueryStrings.search != "" ? cCrypto.DecryptText(QueryStrings.search) : "";
    
    <div class="col-xs-12">
        <h2>@(userPage == null || userPage.intPageID == 5 ? "Satış İptali" : userPage.tblPages.strPageName)</h2>

        @if (bolResponse)
        {            
            <form method="post" action="/ProductSale/CancelRedirect" class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="txtSearch">TC Kimlik No</label>
                        <input type="text" id="txtSearch" name="txtSearch" value="@strSearch" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="btnSearch">&nbsp;</label>
                        <button type="submit" id="btnSearch" class="btn btn-primary">Ara</button>
                    </div>
                </fieldset>
                <input type="hidden" id="hdUserPage" name="hdUserPage" value="@(userPage == null || userPage.intPageID == 5 ? "/ProductSale/Cancel" : userPage.tblPages.strUrl)" />
            </form>
            <br />
                        
            if (Sessions.Message2 != "")
            {
            <div class="alert alert-info">
                @Html.Raw(Sessions.Message2)
            </div>
                Sessions.Message2 = "";
            }

            if (strSearch != "")
            {
                try
                {
                    FibaEmeklilikSales.FIBAWS.FibawsPolicesorguoutrecUser musteri = null;
                    using (FibaEmeklilikSales.FIBAWS.fibawsClient service = new FibaEmeklilikSales.FIBAWS.fibawsClient())
                    {
                        musteri = service.getpolicesorgu(new FibaEmeklilikSales.FIBAWS.FibawsPolicesorguinrecUser
                        {
                            branskod = "H",
                            kimlikno = strSearch,
                            acenteno = Sessions.CurrentUser.tblCallcenters.strCallcenterCode
                        });

                        service.Close();
                    }

                    if (musteri != null)
                    {
                        var pollist = musteri.pollist.Where(w => w.statu == "Yürürlükte").ToList();

                        if (pollist != null)
                        {
                            if (pollist.Count > 0)
                            {
                                int i = 0;
                                    
            <div class="tableContainer">
                <table id="policeler" class="table" style="width: 100%">
                    <tr>
                        <th>Poliçe
                        </th>
                        <th>Acento No
                        </th>
                        <th>
                            @if (userPage != null && userPage.intPageID == 12)
                            {
                                @Html.Raw("Göster")
                            }
                        </th>
                        @if (userPage != null && userPage.intPageID == 12)
                        {
                            <th>Bilgilendirme Formu</th>
                        }
                    </tr>
                    @foreach (var item in pollist)
                    {
                        i++;
                        <tr>
                            <td>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">@item.polid</a>
                            </td>
                            <td>
                                @item.acenteno
                            </td>
                            <td>
                                @if (userPage == null || userPage.intPageID == 5)
                                {
                                    <input type="checkbox" onclick="SetPolice();" value="@item.polid" />
                                }
                                else
                                {
                                    <a target="_blank" href="/ProductSale/pdfview?police=@cCrypto.EncryptText(item.polid.Value.ToString())">
                                        <img src="/img/pdf.png" /></a>
                                }
                            </td>
                            @if (userPage != null && userPage.intPageID == 12)
                            {
                                <td><a target="_blank" href="/ProductSale/infoform?p=1&t=@(cCrypto.EncryptDES(item.kimlikno))">
                                    <img src="/img/pdf.png" /></a></td>
                            }
                        </tr>
                        <tr id="collapse@(i)" class="panel-collapse collapse out">
                            <td colspan="3">
                                @GetPolice(item.polid.ToString())
                            </td>
                        </tr>
                    }
                </table>
            </div>
                            }
                            else
                            {
            <script>Msg(2, 'Poliçe bulunamadı!');</script>
                            }
                        }
                        else
                        {
            <script>Msg(2, 'Poliçe bulunamadı!');</script>
                        }
                                      
            <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <img id="imgSave" style="display: none; margin-left: 23px; margin-top: 5px;" src="/img/ajax-loader.gif" />
                        @if (userPage == null || userPage.intPageID == 5)
                        {
                            <input id="btnCancel" type="submit" class="btn btn-success" value="İptal Et" /> 
                            <input type="hidden" id="hdPoliceler" name="hdPoliceler" />
                        }
                        <input type="hidden" name="txtSearch" value="@QueryStrings.search" />
                    </div>
                </fieldset>
            </form>                         
                    }
                    else
                    {
            <script>Msg(2, 'Poliçe bulunamadı!');</script>
                    }
                }
                catch (Exception ex)
                {
                    Logs.Error(ex);
            <script>Msg(2, 'Poliçe bulunamadı!');</script>
                }
            }
        }
    </div>

    <script type="text/javascript">
        $(function () {
            $("#btnCancel").click(function () {
                if ($("#hdPoliceler").val() == "") {
                    Msg(3, 'Poliçe seçiniz!');
                    return false;
                }

                $(this).css("display", "none");
                $("#imgSave").css("display", "block");
            });
            $("#btnSearch").click(function () {
                if ($("#txtSearch").val() == "") {
                    Msg(2, "Kimlik no giriniz!");
                    return;
                }
            });
        });
        function SetPolice() {
            var strSelected = "";
            $("#policeler input").each(function () {
                if ($(this).is(":checked")) {
                    strSelected = strSelected == "" ? $(this).val() : strSelected + "," + $(this).val();
                }
            });
            $("#hdPoliceler").val(strSelected);
        };
    </script>
}

@helper GetPolice(string strPolice)
{
    using (FibaEmeklilikSales.FIBAWS.fibawsClient service = new FibaEmeklilikSales.FIBAWS.fibawsClient())
    {
        var police = service.getpolicebilgirec(strPolice);
        if (police != null)
        {    
    <table class="table" style="width: 100%">
        <tr>
            <th>Ürün Adı
            </th>
            <th>Sigorta Ettiren
            </th>
            <th>Sigortalı Müşteri
            </th>
        </tr>
        <tr>
            <td>
                @police.urunad
            </td>

            <td>
                @police.sigettiren
            </td>

            <td>
                @police.musteri
            </td>
        </tr>
    </table>
    
    <table class="table" style="width: 100%">
        <tr>
            <th>Teminat
            </th>
            <th>Prim
            </th>
            <th>Tutar
            </th>
        </tr>
        @foreach (var item in police.teminatlar)
        {
            <tr>
                <td>
                    @item.teminat
                </td>
                <td>
                    @item.teminatprimi
                </td>
                <td>
                    @item.teminatmiktar
                </td>
            </tr>
        }
    </table>   
        }

        service.Close();
    }
}