﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;

    DBEntities db = new DBEntities();

    var packetIDs = QueryStrings.PacketIDs;

    var intSalePage = QueryStrings.SalePage;

    var saleLog = new tblSaleLogs();
    int intLogID = Sessions.SaleLog;
    if (intLogID > 0)
    {
        saleLog = db.tblSaleLogs.Where(w => w.intLogID == intLogID).First();
    }

    if (intSalePage == 1)
    {
        Session["sale"] = "1";
    }

    if (intSalePage == 0 || intSalePage == 1)
    {
        ViewBag.Title = "Sigortalı Giriş";
    }
    else if (intSalePage == 2)
    {
        ViewBag.Title = "Poliçe";
    }
    else if (intSalePage == 3)
    {
        Session["sale"] = "1";
        ViewBag.Title = "Ödeme Aracı Girişi";
    }
}

<script src="/js/cookie.js"></script>

<div class="col-xs-12">
    @if (bolResponse && intSalePage != 4)
    {
        bool bolFirstBonus = false;
        if (intSalePage == 0 || intSalePage == 1)
        {
            <h2>
                Sigortalı Giriş @(QueryStrings.DifferentPaid != "" ? "(Ödeyen Farklı)" : "")
            </h2>
        }
        else if (intSalePage == 2)
        {
            <h2>
                Poliçe @(QueryStrings.DifferentPaid != "" ? "(Ödeyen Farklı)" : "")
            </h2>
        }
        else if (intSalePage == 3)
        {
            <h2>
                Ödeme Aracı Girişi
            </h2>
        }

        <div id="products" class="row">
            @foreach (var item in packetIDs)
            {
                var packet = db.tblPackets.Where(w => w.intPacketID == item).First();
                var product = packet.tblProducts;
                bolFirstBonus = product.bolFirstBonus;

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 columns">
                    <div class="productContainer">
                        <h3>
                            @if (intSalePage == 0 || intSalePage == 1)
                            {
                                <input type="checkbox" id="@cCrypto.EncryptText(item.ToString())" checked />
                            }
                            @packet.tblProducts.strName
                        </h3>
                        <p>@packet.strName</p>
                        <p>
                            @Html.Raw(packet.strComment)
                        </p>
                        @if (intSalePage == 3)
                        {
                            <p>
                                @if (product.bolIsRefresh)
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                Yenileme
                                            </td>
                                            <td>
                                                <input type="checkbox" id="activerefresh@(product.intProductID)" onclick="RefreshClick($(this).is(':checked'), @(product.intProductID));" />
                                            </td>
                                        </tr>
                                        <tr id="tdref@(product.intProductID)" style="display:none">
                                            <td>Yenileme Yılı</td>
                                            <td>
                                                <select id="refresh@(product.intProductID)" name="refresh@(product.intProductID)" onchange="$('#hdrefresh@(product.intProductID)').val($(this).val());">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </p>
                        }
                    </div>
                </div>
            }
        </div>

        if (intSalePage == 0)
        {
            <form id="frmNext1" method="post" action="/ProductSale/New?packets=@HttpUtility.HtmlDecode(Request.QueryString["packets"])&sp=1@(QueryStrings.DifferentPaid != "" ? "&diffpay=1" : "")" class="form-horizontal">
                <fieldset>
                    <input type="hidden" id="identitytype" name="identitytype" value="tckn" />
                    @if (QueryStrings.DifferentPaid == "1")
                    {
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>
                                    <input type="radio" name="rdbidetype" value="tckn" onclick="IdentityType('tckn');" checked />
                                    <span class="label__text label__text--radio">Gerçek Kişi</span>
                                </label>
                            </div>
                            <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>
                                    <input type="radio" name="rdbidetype" value="vkn" onclick="IdentityType('vkn');" />
                                    <span class="label__text label__text--radio">Tüzel Kişi</span>
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="txtTCKN" id="lblIdentity">TC Kimlik No</label>
                        <input type="text" id="txtTCKN" name="txtTCKN" autocomplete="off" class="form-control input-md" placeholder="Kimlik numarası giriniz" />
                    </div>
                    <div class="buttons">
                        <button type="button" id="btnNextTC" class="btn next floatRight">İleri</button>
                        <button type="button" id="btnNextTCfw" class="btn next floatRight" style="display: none">İleri</button>
                    </div>
                </fieldset>
            </form>
        }
        else
        {
            var saleLogInfo = saleLog.tblSaleLogInfo.FirstOrDefault(f => f.bolDifferentPaid == (QueryStrings.DifferentPaid != ""));
            string strTCKN = saleLogInfo != null ? saleLogInfo.tckn : "";
            string strIdentityType = saleLogInfo != null ? saleLogInfo.kimliktipi : "tckn";

            <p>
                <strong>TCKN : </strong>@(saleLog.tblSaleLogInfo.FirstOrDefault(f => !f.bolDifferentPaid).tckn)
                @if (saleLog.bolDifferentPaid)
                {
                    <br />
                    <strong>TCKN (Ödeyen Farklı) : </strong>@strTCKN
                }
            </p>
            if (intSalePage == 1)
            {
                @Html.Raw(GetPage1(strTCKN, strIdentityType))
            }
            else if (intSalePage == 2)
            {
                @GetPage2(strTCKN, saleLog.tblUsers.tblCallcenters.bolInfoForm, strIdentityType)
            }
            else if (intSalePage == 3)
            {
                @GetPage3(saleLog.intLogID, bolFirstBonus)
            }
        }
    }
    else if (intSalePage == 4)
    {
        @Html.Raw(Sessions.Message3)
    }

    @if (saleLog != null && intSalePage == 3)
    {
        var packets = saleLog.strPacketIDs.Split(',').Select(s => int.Parse(s)).ToList();

        List<string> comments = new List<string>();
        foreach (var item in packets)
        {
            comments.Add(db.tblPackets.Where(w => w.intPacketID == item).First().tblProducts.strNote);
        }

        if (comments.Count(c => !string.IsNullOrEmpty(c)) > 0)
        {
            int i = 0;
            <div class="alert alert-info" style="margin-top: 50px">
                @foreach (var item in comments)
                {
                    i++;
                    <p>
                        <strong>NOT @i:</strong> @Html.Raw(item)
                    </p>
                }
            </div>
        }
    }
</div>

<script type="text/javascript">
    function IdentityType(strType) {
        if (strType == "tckn") {
            $("#lblIdentity").html("TC Kimlik No");
            $("#identitytype").val("tckn");
        } else  {
            $("#lblIdentity").html("Vergi Kimlik No");
            $("#identitytype").val("vkn");
        }
    };
    function RefreshClick(strSelected, product) {
        if (strSelected) {
            $("#tdref" + product).attr("style", "display:block");
            $("#hdrefresh" + product).val("1");
        } else {
            $("#tdref" + product).attr("style", "display:none");
            $("#hdrefresh" + product).val("0");
            $("#hdrefresh" + product).val("0");
        }
        $("#refresh" + product).val("1");
    };
    $(function () {
        $('#btnNextTC').click(function () {
            $('#btnNextTC').hide();
            $('#btnNextTCfw').show();

            $.cookie("saleinfo", "1", { path: "/" });

            setTimeout(function () {
                $('#frmNext1').submit();
            }, 500);
        });
    });
    function ShowMessage(strHtml) {
        $("#myModalFooter").show();
        $("#modalTitle").html("Bilgi");
        $("#lblModal").html(strHtml);
        $('#myModal').modal('show');
        $("#btnMyModalClose").hide();

        $("#btnMyModalYes").click(function () {
            location.href = '/ProductSale/New?packets=' + GetPackets() + '&sp=2@(QueryStrings.DifferentPaid != "" ? "&diffpay=1" : "")';
        });
        $("#btnMyModalCancel").click(function () {
            location.href = '/ProductSale/New?packets=' + GetPackets();
        });
    };
    function GetPackets() {
        var strSelected = "";
        $("#products input").each(function () {
            if ($(this).is(":checked")) {
                strSelected = strSelected == "" ? $(this).attr("id") : strSelected + "," + $(this).attr("id");
            }
        });
        return strSelected;
    };
    function Finished(intType, strHtml) {
        $("#myModalFooter").show();
        $("#modalTitle").html("Bilgi");
        $("#lblModal").html(strHtml);
        $('#myModal').modal('show');
        $("#btnMyModalClose").hide();
        $("#btnMyModalCancel").hide();
        $("#btnMyModalYes").html("Tamam");

        if (intType == 1) {
            $("#btnMyModalYes").click(function () {
                location.href = '/Main/Products';
            });
        } else {
            $("#btnMyModalYes").click(function () {
                location.href = '/ProductSale/New?packets=@HttpUtility.HtmlDecode(Request.QueryString["packets"])&sp=3@(QueryStrings.DifferentPaid != "" ? "&diffpay=1" : "")';
            });
        }
    };
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>

@{
    db.Dispose();
}

@helper GetPage1(string strTCKN, string strIdentityType)
    {
        string strMsg = "";
        bool bolExist = false;

        FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient aileService = new FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient();
        try
        {
            if (strIdentityType == "tckn")
            {
                strMsg = "Hatalı tckn girdiniz. Lütfen kontrol ediniz.";

                aileService.Open();

                var kpsBireySorgu = new FibaEmeklilikSales.AileBireySorgu.kisiBilgisiType();
                try
                {
                    kpsBireySorgu = aileService.kpsBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                    {
                        cacheStyle = 1,
                        maxAge = 180,
                        kimlikNo = Utilities.NullFixLong(strTCKN),
                        kimlikNoSpecified = true
                    });
                }
                catch { }

                if (kpsBireySorgu.tckimlikNo == 0)
                {
                    var kpsYabanciSorgu = new FibaEmeklilikSales.AileBireySorgu.yabanciKisiBilgisiType();
                    try
                    {
                        kpsYabanciSorgu = aileService.kpsYabanciBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                        {
                            cacheStyle = 1,
                            maxAge = 180,
                            kimlikNo = Utilities.NullFixLong(strTCKN),
                            kimlikNoSpecified = true
                        });
                    }
                    catch { }

                    if (kpsYabanciSorgu.tckimlikNo > 0)
                    {
                        bolExist = true;
                    }
                }
                else
                {
                    bolExist = true;
                }
            }
            else if (strIdentityType == "vkn")
            {
                strMsg = "Hatalı vkn girdiniz. Lütfen kontrol ediniz.";

                using (FibaEmeklilikSales.VknService.VknSorguServiceClient vknService = new FibaEmeklilikSales.VknService.VknSorguServiceClient())
                {
                    var vknData = vknService.vknSorgu(new FibaEmeklilikSales.VknService.vergiSorguInputType
                    {
                        acenteKod = "",
                        vergiNo = strTCKN,
                        cacheStyle = 1
                    });

                    if (vknData != null)
                    {
                        bolExist = true;
                    }
                }
            }

            if (bolExist)
            {
                if (strIdentityType == "tckn")
                {
                    strMsg = "Geçmiş satışlar listelenirken hata oluştu!";

                    DBEntities db = new DBEntities();

                    var packectIDs = QueryStrings.PacketIDs;
                    var packet = db.tblPackets.Where(w => packectIDs.Count(c => c == w.intPacketID) > 0).First();
                    string strTariffCode = packet.tblProducts.strTariffCode;

                    db.Dispose();

                    FibaEmeklilikSales.FIBAWS.FibawsPolicesorguoutrecUser musteri = null;
                    using (FibaEmeklilikSales.FIBAWS.fibawsClient service = new FibaEmeklilikSales.FIBAWS.fibawsClient())
                    {
                        musteri = service.getpolicesorgu(new FibaEmeklilikSales.FIBAWS.FibawsPolicesorguinrecUser
                        {
                            branskod = "H",
                            kimlikno = strTCKN,
                            acenteno = Sessions.CurrentUser.tblCallcenters.strCallcenterCode,
                            tarifeno = strTariffCode
                        });
                        service.Close();
                    }

                    if (musteri != null)
                    {
                        DateTime dtNow = Convert.ToDateTime(DateTime.Now.ToShortDateString());

                        var pollist = musteri.pollist.Where(w => w.statu == "Yürürlükte" && DateTime.Parse(w.polbittar) >= dtNow).ToList();
                        if (pollist.Count > 0 && QueryStrings.DifferentPaid == "")
                        {
                            <script type="text/javascript"> $(function () { ShowMessage('<iframe src="/ProductSale/Info?packets=' + GetPackets() + '" width="550px" height="400px" frameborder="0" />'); }); </script>
                        }
                        else
                        {
                            Cookies.SaleInfo = "0";
                            Response.Redirect("/ProductSale/New?packets=" + HttpUtility.HtmlDecode(Request.QueryString["packets"]) + "&sp=2" + (QueryStrings.DifferentPaid != "" ? "&diffpay=1" : ""));
                            return;
                        }
                    }
                    else
                    {
                        Cookies.SaleInfo = "0";
                        Response.Redirect("/ProductSale/New?packets=" + HttpUtility.HtmlDecode(Request.QueryString["packets"]) + "&sp=2" + (QueryStrings.DifferentPaid != "" ? "&diffpay=1" : ""));
                        return;
                    }
                }
                else
                {
                    Cookies.SaleInfo = "0";
                    Response.Redirect("/ProductSale/New?packets=" + HttpUtility.HtmlDecode(Request.QueryString["packets"]) + "&sp=2" + (QueryStrings.DifferentPaid != "" ? "&diffpay=1" : ""));
                    return;
                }
            }
            else
            {
                if (QueryStrings.DifferentPaid == "")
                {
                    string strPacketIDs = "";
                    foreach (var item in QueryStrings.PacketIDs)
                    {
                        strPacketIDs += "," + item.ToString();
                    }
                    strPacketIDs = strPacketIDs.Remove(0, 1);
                    Logs.SaleLog(Sessions.SaleLog, true, Enums.LogType.ProductSelected, strPacketIDs, "", "", null);
                }
            }
        }
        catch (Exception ex)
        {
            Logs.Error(ex);
        }
        finally
        {
            aileService.Close();
            aileService.Abort();
        }

        if (!bolExist)
        {
            Sessions.Msg = "<script>$(function () { Msg(2, '" + strMsg + "'); });</script>";

            Response.Redirect("/ProductSale/New?packets=" + Request.QueryString["packets"] + (QueryStrings.DifferentPaid != "" ? "&diffpay=1" : ""), false);
        }
}

@helper GetPage2(string strTCKN, bool bolInfoForm, string strIdentityType)
    {
        DBEntities db = new DBEntities();
        FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient aileService = new FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient();

        var ulkeler = db.tblMapping.Where(w => w.strType == "UYR" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var iller = db.tblMapping.Where(w => w.strType == "ILK" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var ilceler = db.tblMapping.Where(w => w.strType == "ILC" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var saleLog = db.tblSaleLogs.Where(w => w.intLogID == Sessions.SaleLog).First();

        db.Dispose();

        bool bolShowFather = false;
        bool bolShowMother = false;
        bool bolShowBirtPlace = false;
        string strVisibleInputs = Sessions.CurrentUser.tblCallcenters.strVisibleInputs;
        if (!string.IsNullOrEmpty(strVisibleInputs))
        {
            List<string> visibleInputs = strVisibleInputs.Split(',').ToList();
            bolShowFather = visibleInputs.Count(c => c == "father") > 0;
            bolShowMother = visibleInputs.Count(c => c == "mother") > 0;
            bolShowBirtPlace = visibleInputs.Count(c => c == "birthplace") > 0;
        }

        bool bolEx = false;
        cBireySorgu birey = new cBireySorgu();
        cAcikAdres adres = new cAcikAdres();

        <form class="form-horizontal" method="post">
            <fieldset>
                @if (strIdentityType == "vkn")
                {
                    try
                    {
                        using (FibaEmeklilikSales.VknService.VknSorguServiceClient vknService = new FibaEmeklilikSales.VknService.VknSorguServiceClient())
                        {
                            var vknData = vknService.vknSorgu(new FibaEmeklilikSales.VknService.vergiSorguInputType
                            {
                                acenteKod = "",
                                vergiNo = strTCKN,
                                cacheStyle = 1
                            });

                            if (vknData != null)
                            {
                                birey.adi = vknData.ad;
                                birey.anneAdi = "";
                                birey.babaAdi = vknData.babaAdi;
                                birey.cinsiyeti = "";
                                birey.dogumTarihi = vknData.dogumTarihi.ToShortDateString();
                                birey.dogumYeri = vknData.dogumYeri;
                                birey.medeniHali = "";
                                birey.soyadi = vknData.soyad;
                                birey.uyrukAd = "TR";
                                birey.olum = false;
                            }
                            else
                            {
                                bolEx = true;
                                <script>Msg(2, 'Vergi numarasına ait kullanıcı bulunamadı!');</script>
                            }
                        }
                    }
                    catch (Exception ex)
                    {
                        bolEx = true;
                        Logs.SaleLog(Sessions.SaleLog, false, Enums.LogType.PayView, "", "", "", "", null, Logs.Error(ex));
                        <script>Msg(2, 'Vergi numarasına ait kullanıcı bulunamadı!');</script>
                    }
                }
                else if (strIdentityType == "tckn")
                {
                    try
                    {
                        var kpsBireySorgu = new FibaEmeklilikSales.AileBireySorgu.kisiBilgisiType();
                        try
                        {
                            kpsBireySorgu = aileService.kpsBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });
                        }
                        catch { }

                        if (kpsBireySorgu.tckimlikNo == 0)
                        {
                            var kpsYabanciSorgu = new FibaEmeklilikSales.AileBireySorgu.yabanciKisiBilgisiType();
                            try
                            {
                                kpsYabanciSorgu = aileService.kpsYabanciBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                                {
                                    cacheStyle = 1,
                                    maxAge = 180,
                                    kimlikNo = Utilities.NullFixLong(strTCKN),
                                    kimlikNoSpecified = true
                                });
                            }
                            catch { }

                            if (kpsYabanciSorgu.tckimlikNo > 0)
                            {
                                var uyr = ulkeler.Where(w => w.strCode == kpsYabanciSorgu.uyrukKod.ToString()).FirstOrDefault();

                                birey.adi = kpsYabanciSorgu.adi;
                                birey.uyrukAd = uyr != null ? uyr.strCountryCode : kpsYabanciSorgu.uyrukAd;
                                birey.babaAdi = kpsYabanciSorgu.babaAdi;
                                birey.cinsiyeti = kpsYabanciSorgu.cinsiyeti;
                                birey.dogumTarihi = kpsYabanciSorgu.dogumTarihi.ToShortDateString();
                                birey.soyadi = kpsYabanciSorgu.soyadi;
                                birey.olum = kpsBireySorgu.olumTarihi == null || kpsBireySorgu.olumTarihi.Year > 1000;
                            }
                            else
                            {
                                bolEx = true;
                                <script>Msg(2, 'Kimlik numarasına ait kullanıcı bulunamadı!');</script>
                            }
                        }
                        else
                        {
                            birey.adi = kpsBireySorgu.adi;
                            birey.anneAdi = kpsBireySorgu.anneAdi;
                            birey.babaAdi = kpsBireySorgu.babaAdi;
                            birey.cinsiyeti = kpsBireySorgu.cinsiyeti;
                            birey.dogumTarihi = kpsBireySorgu.dogumTarihi.ToShortDateString();
                            birey.dogumYeri = kpsBireySorgu.dogumYeri;
                            birey.medeniHali = kpsBireySorgu.medeniHali;
                            birey.soyadi = kpsBireySorgu.soyadi;
                            birey.uyrukAd = "TR";
                            birey.olum = kpsBireySorgu.olumTarihi == null || kpsBireySorgu.olumTarihi.Year > 1000;
                        }

                        if (birey.olum)
                        {
                            bolEx = true;
                            <script>Msg(2, 'Kimlik numarasına ait kişinin durumu vefat görünmektedir!');</script>
                        }
                    }
                    catch (Exception ex)
                    {
                        bolEx = true;
                        Logs.SaleLog(Sessions.SaleLog, false, Enums.LogType.PayView, "", "", "", "", null, Logs.Error(ex));
                        <script>Msg(2, 'Kimlik numarasına ait kullanıcı bulunamadı!');</script>
                    }
                }

                @if (strIdentityType == "tckn")
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Uyruk</label>
                        <input id="uyruk" type="text" disabled class="form-control input-md" value="@birey.uyrukAd">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Ad</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.adi">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Soyad</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.soyadi">
                    </div>
                    if (bolShowMother)
                    {
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Anne Adı</label>
                            <input type="text" @Html.Raw(birey.uyrukAd == "TR" ? "disabled" : "id=\"anneadi_t\"") class="form-control input-md" value="@birey.anneAdi">
                        </div>
                    }
                    if (bolShowFather)
                    {
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Baba Ad</label>
                            <input type="text" disabled class="form-control input-md" value="@birey.babaAdi">
                        </div>
                    }
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Cinsiyet</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.cinsiyeti">
                    </div>
                    if (bolShowBirtPlace)
                    {
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Dogum Yeri İl / İlçe</label>
                            <input type="text" disabled class="form-control input-md" value="@birey.dogumYeri">
                        </div>
                    }
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Doğum Tarihi</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.dogumTarihi">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Medeni Hali</label>
                        @if (birey.uyrukAd == "TR")
                        {
                            <input type="text" disabled class="form-control input-md" value="@birey.medeniHali">
                        }
                        else
                        {
                            <select id="medenidurum_t" class="selectpicker" data-width="100%" data-size="5">
                                <option value="E">Evli</option>
                                <option value="B">Bekar</option>
                            </select>
                        }
                    </div>
                }
                else if (strIdentityType == "vkn")
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Şirket</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.soyadi @birey.adi">
                    </div>
                }
            </fieldset>
        </form>
        <br />
        <form class="form-horizontal" id="form3" method="post" action="/ProductSale/New?packets=@HttpUtility.HtmlDecode(Request.QueryString["packets"])&sp=3@(QueryStrings.DifferentPaid != "" ? "&diffpay=1" : "")">
            <input type="hidden" name="txt_ad" value="@birey.adi" />
            <input type="hidden" name="txt_soyad" value="@birey.soyadi" />
            <fieldset>
                @try
                {
                    if (!bolEx)
                    {
                        if (birey.uyrukAd == "TR")
                        {
                            var kpsTCKisiAcikAdresSorgu = aileService.kpsTCKisiAcikAdresSorgu(new FibaEmeklilikSales.AileBireySorgu.kisiAdresSorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });

                            if (kpsTCKisiAcikAdresSorgu.kimlikNo > 0)
                            {
                                adres.acikAdres = kpsTCKisiAcikAdresSorgu.acikAdres;
                                adres.ilceKodu = kpsTCKisiAcikAdresSorgu.ilceKodu;
                                adres.ilKodu = kpsTCKisiAcikAdresSorgu.ilKodu;
                            }
                        }
                        else
                        {
                            var kpsYabanciAcikAdresSorgu = aileService.kpsYabanciKisiAcikAdresSorgu(new FibaEmeklilikSales.AileBireySorgu.kisiAdresSorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });

                            if (kpsYabanciAcikAdresSorgu.kimlikNo > 0)
                            {
                                adres.acikAdres = kpsYabanciAcikAdresSorgu.acikAdres;
                                adres.ilceKodu = "99900";
                                adres.ilKodu = "99";
                            }
                        }
                    }
                }
                catch (Exception ex)
                {
                    Logs.SaleLog(Sessions.SaleLog, false, Enums.LogType.PayView, "", "", "", "", null, Logs.Error(ex));
                }

                @if (birey.uyrukAd != "TR")
                {
                    <input type="hidden" id="anneadi" name="anneadi" />
                    <input type="hidden" id="medenidurum" name="medenidurum" />
                }

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ülke Kod</label>
                    <select id="ulkekod" name="ulkekod" class="selectpicker" data-width="100%" data-size="5">
                        @foreach (var item in ulkeler)
                        {
                            <option value="@item.strCountryCode" @(item.strCountryCode == birey.uyrukAd ? "selected" : "")>@item.strName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İl Kod</label>
                    <select id="ilkod" name="ilkod" class="selectpicker" data-width="100%" data-size="5">
                        @if (birey.uyrukAd == "TR")
                        {
                            foreach (var item in iller)
                            {
                                <option value="@item.strCode.Trim()" @(!bolEx ? (item.strCode.Trim() == adres.ilKodu && birey.uyrukAd == "TR" ? "selected" : "") : "")>@item.strName</option>
                            }
                        }
                        else if (birey.uyrukAd != "TR")
                        {
                            <option value="99" selected>YABANCI İL</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İlçe Kod</label>
                    <select id="ilcekod" name="ilcekod" class="selectpicker" data-width="100%" data-size="5">
                        @if (birey.uyrukAd == "TR")
                        {
                            if (iller.Count(c => c.strCode.Trim() == adres.ilKodu) > 0)
                            {
                                ilceler = ilceler.Where(w => w.strCode.Trim().Substring(0, 3) == adres.ilKodu).ToList();
                            }

                            foreach (var item in ilceler)
                            {
                                <option value="@item.strCode.Trim()" @(!bolEx ? (item.strCode.Trim() == (!string.IsNullOrEmpty(adres.ilceKodu) ? adres.ilceKodu.Trim() : "") && birey.uyrukAd == "TR" ? "selected" : "") : "")>@item.strName</option>
                            }
                        }
                        else
                        {
                            <option value="99900" selected>YABANCI İLÇE</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İletişim Tipi</label>
                    <select id="iletisimtip" name="iletisimtip" class="selectpicker" data-width="100%" data-size="5">
                        <option value="CEP">Cep</option>
                        <option value="TLE">Sabit</option>
                        @*<option value="TLI">İş</option>*@
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Telefon No **</label>
                    <input type="text" id="iletisimno" required name="iletisimno" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">E-posta **</label>
                    <input type="text" id="email" name="email" maxlength="250" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Adres</label>
                    <textarea id="adres" name="adres" maxlength="1000" class="form-control">@adres.acikAdres</textarea>
                </div>
                <input type="hidden" name="uyruk" value="@birey.uyrukAd" />
            </fieldset>

            @if (QueryStrings.DifferentPaid == "")
            {
                <div class="productContainer" style="margin-top: 30px; height: 30px;">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label>Ödeyen Farklı </label>
                        <input type="checkbox" id="differentPaid" name="differentPaid" style="margin-left: 10px" @(saleLog.bolDifferentPaid ? "checked" : "") />
                    </div>
                </div>
            }
        </form>

        if (!bolEx)
        {
            <div class="buttons" style="margin-top: 10px;">
                <button type="button" id="btnNext" class="btn next floatRight">İleri</button>
                <button type="button" id="btnNextfw" class="btn next floatRight" style="display: none">İleri</button>
                @if (QueryStrings.DifferentPaid == "")
                {
                    <button type="button" id="btnInfoForm" class="btn green floatRight" style="margin-right: 20px;">Bilgilendirme Formu</button>
                }
                <input type="hidden" id="hdInfoForm" value="0" />
            </div>
            <br />
            <br />
        }

        <script type="text/javascript">
        $(function () {
            $("#btnNext").click(function () {
                $("#divMessage").html("");

                if ('@(QueryStrings.DifferentPaid == "" ? "1" : "0")' == '1' && @(bolInfoForm.ToString().ToLower()) && $("#hdInfoForm").val() == "0") {
                    Msg(3, "Bilgi formunu görüntülemelisiniz!");
                    return;
                }

                try {
                    var i = parseInt($("#iletisimno").val());
                    if (i == 0 || isNaN($("#iletisimno").val()) || $.trim($("#iletisimno").val()) == "") {
                        Msg(3, "Telefon numarasını giriniz!");
                        return;
                    }
                    else {
                        if ($.trim($("#iletisimno").val()).length < 10 || $.trim($("#iletisimno").val()).length > 11) {
                            Msg(3, "Telefon numarasını hatalı girdiniz!");
                            return;
                        }
                    }
                } catch (ex) {
                    Msg(3, "Telefon numarasını giriniz!");
                    return;
                }

                if ($.trim($("#email").val()) != "") {
                    if (!emailReg.test($("#email").val())) {
                        Msg(3, "E-posta adresini hatalı girdiniz!");
                        return;
                    }
                } else {
                    Msg(3, "E-posta adresini giriniz!");
                    return;
                }

                if ($("#adres").val() == "") {
                    Msg(3, "Adresi giriniz!");
                    return;
                }

                if ($("#uyruk").val() != "TR") {
                    if ($("#anneadi_t").val() == "") {
                        Msg(3, "Anne adını giriniz!");
                        return;
                    }

                    $("#anneadi").val($("#anneadi_t").val());
                    $("#medenidurum").val($("#medenidurum_t").val());
                }

                $('#btnNext').hide();
                $('#btnNextfw').show();

                $.cookie("saleinfo", "2", { path: "/" });

                setTimeout(function () {
                    $('#form3').submit();
                }, 500);
            });
            $("#ilkod").change(function () {
                $('#ilcekod option[value!="0"]').remove();
                $('#ilcekod').selectpicker('refresh');
                $.ajax({
                    url: "/ProductSale/Counties",
                    dataType: "json",
                    data: { id: $("#ilkod").val() },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#ilcekod").append('<option value="' + data[i].strCode + '">' + data[i].strName + '</option>');
                        }
                        $('#ilcekod').selectpicker('refresh');
                    }
                });
            });
            $("#btnInfoForm").click(function () {
                $("#hdInfoForm").val("1");
                window.open("/ProductSale/infoform?t=@(FibaEmeklilikSales.Classes.cCrypto.EncryptDES(strTCKN))");
            });
        });
        </script>

        aileService.Close();
        aileService.Abort();
}

@helper GetPage3(int intLogID, bool bolFirstBonus)
    {
        DBEntities db = new DBEntities();
        var policeler = db.tblSaleLogPoliceler.Where(w => w.intLogID == intLogID && w.strService == "getprimsimresult" && w.bolNew).ToList();
        List<byte> listPaymentMethods = new List<byte>();

        <div id="products" class="row">
            @foreach (var item in policeler)
            {
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 columns">
                    <div class="productContainer">
                        @*<p><strong>Poliçe Numarası : @item.PoliceNo</strong></p>*@
                        <p>
                            <strong>
                                @if (bolFirstBonus)
                                {
                                    @Html.Raw("İlk Prim :" + item.IlkPrim + " TL")
                                }
                                else
                                {
                                    @Html.Raw("Toplam Prim :" + item.ToplamPirim + " TL")
                                }
                            </strong>
                        </p>
                    </div>
                </div>
            }
        </div>

        <br />
        <form class="form-horizontal" id="form4" method="post" action="/ProductSale/New?packets=@HttpUtility.HtmlDecode(Request.QueryString["packets"])&sp=4">
            <fieldset>
                @foreach (var item in policeler)
                {
                    int intPacketID = Utilities.NullFixInt(item.tblSaleLogs.strPacketIDs.Split(',')[0]);
                    var product = db.tblPackets.Single(c => c.intPacketID == intPacketID).tblProducts;
                    if (product.bolIsRefresh)
                    {
                        <input type="hidden" id="hdrefresh@(product.intProductID)" name="hdrefresh@(product.intProductID)" value="0" />
                    }

                    if (!string.IsNullOrEmpty(product.intPaymentMethodIDs))
                    {
                        string[] strpM = product.intPaymentMethodIDs.Split(',');
                        for (int i = 0; i < strpM.Length; i++)
                        {
                            if (listPaymentMethods.Count(c => c == byte.Parse(strpM[i])) == 0)
                            {
                                listPaymentMethods.Add(byte.Parse(strpM[i]));
                            }
                        }
                    }
                }

                @if (!Sessions.CurrentUser.tblCallcenters.bolValidCreditCard)
                {
                    <script type="text/javascript">
                    $(function(){
                        ChangeValidCredit();
                    });
                    </script>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="checkbox-inline" for="bolValidCreditCard">
                            <input id="bolValidCreditCard" type="checkbox" name="bolValidCreditCard" onclick="ChangeValidCredit();" checked="checked" />
                            Kredi kartı ile ödeme yapmadan geç
                        </label>
                    </div>
                }
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Kredi Kartı Numarası</label>
                    <input type="text" id="kartno" name="kartno" class="form-control input-md" maxlength="16" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Son Kullanma Tarihi</label>
                    <select id="kartay" name="kartay" class="selectpicker" data-width="80px" data-size="5">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@(i < 10 ? "0" + i : i.ToString())">@(i < 10 ? "0" + i : i.ToString())</option>
                        }
                    </select>
                    <select id="kartyil" name="kartyil" class="selectpicker" data-width="80px" data-size="5">
                        @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                        {
                            <option value="@i.ToString().Substring(2, 2)">@i</option>
                        }
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label"></label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ödeme Şekli</label>
                    <select id="paymentMethods" name="paymentMethods" class="selectpicker" data-width="80px" data-size="5">
                        @if (listPaymentMethods.Count > 0)
                        {
                            foreach (var item in db.tblPaymentMethods.Where(w => listPaymentMethods.Count(c => c == w.intPaymentMethodID) > 0).ToList())
                            {
                                <option value="@item.intPaymentMethodID">@item.strName</option>
                            }
                        }
                        else
                        {
                            <option value="1">Peşin</option>
                        }
                    </select>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label">Bilgilendirme Formunu Katılımcıya Gönder</label>
                    <select id="InfoFormSendType" name="InfoFormSendType" class="selectpicker">
                        <option value="sms">Sms İle Gönder</option>
                        <option value="mail"> E-posta İle Gönder</option>
                    </select>
                </div>
            </fieldset>
        </form>

        <div class="buttons" style="margin-top: 10px;">
            @if (Sessions.CurrentUser.tblCallcenters.bolProductIssued)
            {
            <button type="button" id="btnFinish" onclick="FinishedClick('btnFinish');" class="btn btn-success floatRight">İleri</button>
            }
            else
            {
                <button type="button" id="btnFinishInsued" onclick="FinishedClick('btnFinishInsued');" class="btn btn-success floatRight">Teklifi Fibaemekliliğe Gönder</button>
            }
        </div>

        <script type="text/javascript">

        function FinishedClick(strBtn){
            if ($("#bolValidCreditCard").is(":checked") == false) {
                if ($("#kartno").val() == "") {
                    Msg(2, "Kart numarasını giriniz!");
                    return;
                }
            }

            $('#' + strBtn).hide();

            setTimeout(function () {
                $("#form4").submit();
            }, 500);
        };
        function ChangeValidCredit(){
            if ($("#bolValidCreditCard").is(":checked")) {
                $("#kartno").val('');
                $("#kartno").attr("disabled", "disabled");
                $("#kartay option:first").attr('selected','selected');
                $("#kartay").attr("disabled", "disabled");
                $('#kartay').selectpicker('refresh');
                $("#kartyil option:first").attr('selected','selected');
                $("#kartyil").attr("disabled", "disabled");
                $('#kartyil').selectpicker('refresh');
                $("#paymentMethods option:first").attr('selected','selected');
                $("#paymentMethods").attr("disabled", "disabled");
                $('#paymentMethods').selectpicker('refresh');

                if ('@(Sessions.CurrentUser.tblCallcenters.bolProductIssued ? "1" : "0")' == '1'){
                    $('#btnFinish').html('Teklifi Fibaemekliliğe Gönder');
                }
            } else {
                $("#kartno").removeAttr("disabled");
                $("#kartay").removeAttr("disabled");
                $('#kartay').selectpicker('refresh');
                $("#kartyil").removeAttr("disabled");
                $('#kartyil').selectpicker('refresh');
                $("#paymentMethods").removeAttr("disabled");
                $('#paymentMethods').selectpicker('refresh');

                if ('@(Sessions.CurrentUser.tblCallcenters.bolProductIssued ? "1" : "0")' == '1'){
                    $('#btnFinish').html('İleri');
                }
            }
        };
        </script>

        db.Dispose();
}