﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Paket " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;
    string strScript = ""; 
}

<div class="col-xs-12">
    <h2>Paket @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intPacketID = QueryStrings.ID;

        DBEntities db = new DBEntities();

        var _data = new tblCreditPackets();
        if (PageControl.DomainType == "update" && intPacketID > 0)
        {
            _data = db.tblCreditPackets.Where(w => w.intCreditPacketID == intPacketID).First();
        }

        <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strName">Başlık</label>
                    <input id="strName" type="text" value="@_data.strName"  required name="strName" maxlength="250" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strIntegrationTariffCode">Entegrasyon Kodu</label>
                    <input id="strIntegrationTariffCode" type="text" required value="@_data.strIntegrationTariffCode" name="strIntegrationTariffCode" maxlength="10" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strPremiumPaymentPeriod">Prim Ödeme Periyodu</label>
                    <input id="strPremiumPaymentPeriod" type="text" required value="@_data.strPremiumPaymentPeriod" name="strPremiumPaymentPeriod" maxlength="5" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intPremiumPaymentTime">Prim Ödeme Süresi</label>
                    <input id="intPremiumPaymentTime" type="text" required value="@_data.intPremiumPaymentTime" name="intPremiumPaymentTime" maxlength="6" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intTime">Süre</label>
                    <input id="intTime" type="text" value="@_data.intTime" required name="intTime" maxlength="6" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intCrediTime">Kredi Süre</label>
                    <input id="intCrediTime" type="text" value="@_data.intCrediTime" required  name="intCrediTime" maxlength="30" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strCrediCurrencyType">Kredi Döviz Tipi</label>
                    <input id="strCrediCurrencyType" type="text" required value="@_data.strCrediCurrencyType" name="strCrediCurrencyType" maxlength="30" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="flCrediReturnPrice">Kredi Dönüş Tutarı</label>
                    <input id="flCrediReturnPrice" type="text" required value="@Utilities.Price(_data.flCrediReturnPrice)" name="flCrediReturnPrice" maxlength="30" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strComment">Açıklama</label>
                    <textarea name="strComment" id="strComment">@Html.Raw(_data.strComment)</textarea>
                </div>

                @foreach (var item in db.tblCreditTypes.ToList())
                {
                    strScript += "$('#creditTypeMaxPrice_" + item.intCreditTypeID+ "').priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' }); ";
                        
                    var typeValue = _data.tblCreditPacketTypeValues.Where(w => w.intCreditTypeID == item.intCreditTypeID).FirstOrDefault();
                    
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="creditTypeMaxTime_@item.intCreditTypeID">Max @item.strTypeName Süresi</label>
                            <input type="text" name="creditTypeMaxTime_@item.intCreditTypeID" id="creditTypeMaxTime_@item.intCreditTypeID" value="@(typeValue != null ? typeValue.intMaxTime.ToString() : "0")" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="creditTypeMaxPrice_@item.intCreditTypeID">Max @item.strTypeName Tutarı</label>
                            <input type="text" name="creditTypeMaxPrice_@item.intCreditTypeID" id="creditTypeMaxPrice_@item.intCreditTypeID" value="@(typeValue != null ? typeValue.intMaxPrice.ToString() : "0,00")" />
                        </div>
                    </div>
                }

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/CreditPacket/List?cr=@Request.QueryString["cr"]">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
        
                db.Dispose();
    }
</div>

<script src="/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/fbmask.js"></script>
<script type="text/javascript">
    $(function () {
        @Html.Raw(strScript)

        $("#btnSave").click(function () {
            $("#divMessage").html("");
            try {
                var i = parseInt($("#intPremiumPaymentTime").val());
                if (i == 0 || isNaN($("#intPremiumPaymentTime").val())) {
                    Msg(3, "Prim ödeme süresi giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Prim ödeme süresi giriniz!");
                return false;
            }
            try {
                var i = parseInt($("#intTime").val());
                if (i == 0 || isNaN($("#intTime").val())) {
                    Msg(3, "Süreyi giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Süreyi giriniz!");
                return false;
            }
            try {
                var i = parseInt($("#intCrediTime").val());
                if (i == 0 || isNaN($("#intCrediTime").val())) {
                    Msg(3, "Kredi süresini giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Kredi süresini giriniz!");
                return false;
            }
            try {
                var i = parseFloat($("#flCrediReturnPrice").val());
                if (i == 0 || i == NaN) {
                    Msg(3, "Kredi dönüş tutarını giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Kredi dönüş tutarını giriniz!");
                return false;
            }
        });

        getEditor("strComment");

        $("#flCrediReturnPrice").priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
    });
    function getEditor(_area) {
        tinyMCE.init({
            mode: "exact",
            elements: _area,
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options 
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "",
            theme_advanced_resizing: false,
            extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,

            width: "430",
            height: "200",

            // Drop lists for link/image/media/template dialogs 
            template_external_list_url: "js/template_list.js",
            external_link_list_url: "js/link_list.js",
            external_image_list_url: "js/image_list.js",
            media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin 
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            },

            // Schema is HTML5 instead of default HTML4 
            schema: "html5",

            // End container block element when pressing enter inside an empty block 
            end_container_on_empty_block: true,

            // HTML5 formats 
            style_formats: [
            { title: 'h1', block: 'h1' },
            { title: 'h2', block: 'h2' },
            { title: 'h3', block: 'h3' },
            { title: 'h4', block: 'h4' },
            { title: 'h5', block: 'h5' },
            { title: 'h6', block: 'h6' },
            { title: 'p', block: 'p' },
            { title: 'div', block: 'div' },
            { title: 'pre', block: 'pre' },
            { title: 'section', block: 'section', wrapper: true, merge_siblings: false },
            { title: 'article', block: 'article', wrapper: true, merge_siblings: false },
            { title: 'blockquote', block: 'blockquote', wrapper: true },
            { title: 'hgroup', block: 'hgroup', wrapper: true },
            { title: 'aside', block: 'aside', wrapper: true },
            { title: 'figure', block: 'figure', wrapper: true }
            ]
        });
    }
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>
