﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Banka " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get; 
}

<div class="col-xs-12">
    <h2>Banka @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intBankID = QueryStrings.ID;

        DBEntities db = new DBEntities();

        var _data = new tblBanks();
        if (PageControl.DomainType == "update" && intBankID > 0)
        {
            _data = db.tblBanks.Where(w => w.intBankID == intBankID && !w.bolIsDelete).First();
        }
        
        <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strName">Banka Adı</label>
                    <input id="strName" type="text" value="@_data.strName" required name="strName" maxlength="100" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolIsActive">Durumu</label>
                    <label class="checkbox-inline" for="bolIsActive">
                        <input id="bolIsActive" type="checkbox" @(_data.bolIsActive ? "checked" : "") name="bolIsActive">
                        Aktif
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/Bank/List">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
    }
</div>

<script type="text/javascript"> 
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>
