﻿@using jCryption
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Şifremi Unuttum";

    jCryption.HandleRequest(Request);
}

<form action="@Request.Url.PathAndQuery" method="post" id="form1" class="perfect-form">
    <header>
        Şifremi Unuttum
        <p class="small-text">
            E-posta adresinizi veya Telefon numaranızı yazın, yeni şifre oluşturma linkini e-postanıza veya telefon numaranıza gönderelim. 
        </p>
    </header>
    <fieldset> 
        <section>
            <label class="select">
                <select name="sendtype" id="sendtype">
                    <option value="email">E-posta Gönder</option>
                    <option value="sms">Sms Gönder</option>
                </select>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </label>
        </section>
        <section>
            <label class="input">
                <input type="email" id="email" name="email" placeholder="E-posta Adresi" />
                <input type="number" id="phone" name="phone" placeholder="Telefon Numarası" style="display:none" maxlength="10" />
            </label>
        </section>
        <section id="lblWait" style="display: none">
            <label class="progress">Lütfen bekleyiniz...</label>
        </section>
    </fieldset>

    <footer>
        <button type="button" id="btnCancel" class="button button-main" style="float: left; width: 45%;">İPTAL</button>
        <button type="submit" id="btnSend" class="button button-main" style="float: right; width: 45%;">GÖNDER</button>
    </footer>
</form>

@ViewBag.Message

<script type="text/javascript">
    $(function () {
        $("#btnCancel").bind("click", function () {
            location.href = '/@(CollectionPay.Classes.QueryStrings.t)';
        });

        $("#btnSend").click(function () {
            if ($("#form1").valid()) {
                $(this).attr('disabled', 'disabled');
                $("#btnCancel").unbind("click");
                $("#lblWait").show();
                $("#form1").submit();
            }
        });

        $("#form1").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    number: true
                }
            },
            messages: {
                email: {
                    required: 'Lütfen E-posta adresinizi giriniz',
                    email: 'Lütfen geçerli E-Posta adresi giriniz'
                },
                phone: {
                    required: 'Lütfen Telefon numaranızı giriniz',
                    number: 'Lütfen geçerli Telefon numarası giriniz'
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        }); 

        $('#sendtype').change(function() {
            if ($("#sendtype").val() == "sms") {
                $("#phone").show();
                $("#email").hide();
            } else {
                $("#phone").hide();
                $("#email").show();
            }
        });
    });
</script>
