﻿@using jCryption
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Şifre Al";

    jCryption.HandleRequest(Request);

    string strT = ViewContext.RouteData.Values["t"].ToString();
}

<form action="@Request.Url.AbsolutePath" method="post" id="form1" class="perfect-form">
    <header>
        Şifre Al
        <p class="small-text">
            Şifreniz en az 6 karakterden oluşmalıdır.  
        </p>
    </header>
    <fieldset>
        <section>
            <section>
                <label class="input">
                    <input type="password" id="password" name="password" placeholder="Şifre" />
                </label>
            </section>
            <section>
                <label class="input">
                    <input type="password" name="passwordagain" placeholder="Yeni Şifre Tekrar" />
                </label>
            </section>
            <section id="lblWait" style="display: none">
                <label class="progress">Lütfen bekleyiniz...</label>
            </section>
        </section>
    </fieldset>

    <footer>
        <button type="button" id="btnCancel" class="button button-main" style="float: left; width: 45%;">İPTAL</button>
        <button type="submit" id="btnSend" class="button button-main" style="float: right; width: 45%;">OLUŞTUR</button>
    </footer>
</form>

@ViewBag.Message

<script type="text/javascript">
    $(function () {
        $("#btnCancel").bind("click", function () {
            location.href = '/@(strT)';
        });

        $("#btnSend").click(function () {
            if ($("#form1").valid()) {
                $(this).attr('disabled', 'disabled');
                $("#btnCancel").unbind("click");
                $("#lblWait").show();
                $("#form1").submit();
            }
        });

        $("#form1").validate({
            rules: {
                tckn: {
                    required: true,
                    digits: true,
                    rangelength: [11, 11]
                },
                password: {
                    required: true,
                    minlength: 6
                },
                passwordagain: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                tckn: {
                    required: 'Lütfen T.C. kimlik numaranızı giriniz',
                    digits: 'Sadece rakam giriniz',
                    rangelength: 'Lütfen geçerli T.C. kimlik numaranızı giriniz'
                },
                password: {
                    required: 'Lütfen yeni şifrenizi giriniz',
                    minlength: 'Şifreniz en az 6 karakterden oluşmalıdır'
                },
                passwordagain: {
                    required: 'Lütfen şifre tekrarını giriniz',
                    equalTo: 'Şifre tekrarını hatalı girdiniz'
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>
