﻿@using FibaEmeklilikSales.Classes
@using FibaEmeklilikSales.Classes.Credits;
@using ModelLibrary;
@model cCreditSale

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "1";
    ViewBag.Tab = "0";

    bool bolResponse = PageControl.Get;
}

<script src="/js/cookie.js"></script>

<div class="col-xs-12">
    @if (bolResponse)
    {
        var intSalePage = QueryStrings.SalePage;
        switch (intSalePage)
        {
            case 0:
                ViewBag.Title = "Sigortalı Giriş";
                <h2>Sigortalı Giriş</h2>
                break;
            case 1:
                ViewBag.Title = "Sigortalı Bilgileri";
                <h2>Sigortalı Bilgileri</h2>
                break;
            case 2:
                ViewBag.Title = "Kredi Bilgileri";
                <h2>Kredi Bilgileri</h2>
                break;
            case 3:
                ViewBag.Title = "Prim Bilgileri";
                <h2>Prim Bilgileri</h2>
                break;
            case 4:
                ViewBag.Title = "İletişim Bilgileri";
                <h2>İletişim Bilgileri</h2>
                break;
            case 5:
                ViewBag.Title = "Sağlık Beyanı";
                <h2>Sağlık Beyanı</h2>
                break;
            case 6:
                ViewBag.Title = "Satın Al";
                <h2>Satın Al</h2>
                break;
        }

        <div id="products" class="row">
            <div class="col-xs-12">
                <div class="productContainer" style="height: 55px">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6">
                        <label class="control-label">Kredi Türü :</label>
                        @Model.creditTypes.strTypeName
                    </div>
                </div>
            </div>
        </div>

        switch (intSalePage)
        {
            case 0:
                @GetPage()
                break;
            case 1:
                @GetPage1()
                break;
            case 2:
                @GetPage2()
                break;
            case 3:
                @GetPage3()
                break;
            case 4:
                @GetPage4()
                break;
            case 5:
                @GetPage5()
                break;
            case 6:
                @GetPage6()
                break;
            case 7:
                @GetPage7()
                break;
        }
    }
</div>

<script type="text/javascript">
    function DeleteModal() {
        location.href = '/shared/close';
    };
    function ErrorPolicy() {
        ErrorMessage("Poliçe oluşturulamadı tekrar deneyiniz!");
    };
    function ErrorPolicy2() {
        ErrorMessage("Teklif almış olduğununuz sigorta poliçesi Tıbbi değerlendirmeye düşmüş olup, riskkabul@fibaemeklilik.com.tr mail adresine mail atınız.");
    }
    function ErrorMessage(strMsg) {
        Msg(3, strMsg);
    };
</script>

@helper GetPage()
    {
        <div id="divMessage" style="position: absolute; top: -7px; right: 30px; z-index: 1000000;">
            @if (Sessions.Message2 != "")
            {
                @Html.Raw(Sessions.Message2)
                Sessions.Message2 = "";
            }
        </div>

        <form id="frmNext" method="post" action="/CreditSale/New?cr=@Request.QueryString["cr"]&sp=1" class="form-horizontal">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="txtTCKN">TC Kimlik No</label>
                    <input type="text" id="txtTCKN" name="txtTCKN" autocomplete="off" class="form-control input-md" placeholder="Kimlik numarası giriniz" />
                </div>
                <div class="buttons">
                    <button type="button" id="btnNext" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNextfw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
        </form>

        <script type="text/javascript">
        $(function () {
            $('#btnNext').click(function () {
                if ($("#txtTCKN").val() == "") {
                    Msg(3, "TC kimlik nuramasını giriniz!");
                    return;
                }

                $('#btnNext').hide();
                $('#btnNextfw').show();

                $.cookie("creditsaleinfo", "1", { path: "/" });

                setTimeout(function () {
                    $('#frmNext').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage1()
    {
        cKpsData kpsData = new cKpsData();
        kpsData.Set(Model.saleLog.intLogID, Model.strTCKN, Model.saleLog.intCreditID);

        bool bolShowFather = false;
        bool bolShowMother = false;
        bool bolShowBirtPlace = false;
        string strVisibleInputs = Sessions.CurrentUser.tblCallcenters.strVisibleInputs;
        if (!string.IsNullOrEmpty(strVisibleInputs))
        {
            List<string> visibleInputs = strVisibleInputs.Split(',').ToList();
            bolShowFather = visibleInputs.Count(c => c == "father") > 0;
            bolShowMother = visibleInputs.Count(c => c == "mother") > 0;
            bolShowBirtPlace = visibleInputs.Count(c => c == "birthplace") > 0;
        }

        <form class="form-horizontal" id="frmNext1" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=2">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Uyruk</label>
                    <input type="text" id="uyruk" disabled class="form-control input-md" value="@kpsData.birey.uyrukAd" />
                    <input name="uyruk" type="hidden" value="@kpsData.birey.uyrukAd" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ad</label>
                    <input type="text" disabled class="form-control input-md" value="@kpsData.birey.adi" />
                    <input name="adi" type="hidden" value="@kpsData.birey.adi" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Soyad</label>
                    <input type="text" disabled class="form-control input-md" value="@kpsData.birey.soyadi" />
                    <input name="soyadi" type="hidden" value="@kpsData.birey.soyadi" />
                </div>
                @if (bolShowMother)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Anne Adı</label>
                        <input type="text" @Html.Raw(kpsData.birey.uyrukAd == "TR" ? "disabled" : "") id="anneAdi_t" class="form-control input-md" value="@kpsData.birey.anneAdi">
                    </div>
                }
                <input name="anneAdi" type="hidden" value="@kpsData.birey.anneAdi" />
                @if (bolShowFather)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Baba Ad</label>
                        <input type="text" disabled class="form-control input-md" value="@kpsData.birey.babaAdi" />
                    </div>
                }
                <input name="babaAdi" type="hidden" value="@kpsData.birey.babaAdi" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Cinsiyet</label>
                    <input type="text" disabled class="form-control input-md" value="@kpsData.birey.cinsiyeti" />
                    <input name="cinsiyeti" type="hidden" value="@kpsData.birey.cinsiyeti" />
                </div>
                @if (bolShowBirtPlace)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Dogum Yeri İl / İlçe</label>
                        <input type="text" disabled class="form-control input-md" value="@kpsData.birey.dogumYeri" />
                    </div>
                }
                <input name="dogumYeri" type="hidden" value="@kpsData.birey.dogumYeri" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Doğum Tarihi</label>
                    <input type="text" disabled class="form-control input-md" value="@kpsData.birey.dogumTarihi" />
                    <input name="dogumTarihi" type="hidden" value="@kpsData.birey.dogumTarihi" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Medeni Hali</label>
                    @if (kpsData.birey.uyrukAd == "TR")
                    {
                        <input type="text" disabled class="form-control input-md" value="@kpsData.birey.medeniHali" />
                    }
                    else
                    {
                        <select onchange="$('#medeniHali').val($(this).val());" class="selectpicker" data-width="100%" data-size="5">
                            <option value="E">Evli</option>
                            <option value="B">Bekar</option>
                        </select>
                    }
                    <input id="medeniHali" name="medeniHali" type="hidden" value="@kpsData.birey.medeniHali" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" id="btnNext1" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext1fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
            <input name="adres" type="hidden" value="@kpsData.adres.acikAdres" />
        </form>

        if (kpsData.redirect == "1")
        {
            Response.Redirect(kpsData.path, false);
        }
        else
        {
            @Html.Raw(kpsData.script)
        }

        <script type="text/javascript">
        $(function () {
            $("#btnNext1").click(function () {
                $("#divMessage").html("");

                if ($("#uyruk").val() != "TR") {
                    if ($("#anneAdi_t").val() == "") {
                        Msg(3, "Anne adını giriniz!");
                        return;
                    }

                    $('#anneAdi').val($('#anneAdi_t').val());
                }

                $('#btnNext1').hide();
                $('#btnNext1fw').show();

                $.cookie("creditsaleinfo", "2", { path: "/" });

                setTimeout(function () {
                    $('#frmNext1').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage2()
    {
        <form class="form-horizontal" id="frmNext2" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=3">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">
                        Kredi Tutarı (TL) <a href="javascript:;" data-toggle="tooltip" data-placement="top" style="height: 24px; width: 24px;" title="Kredi Tutarı En Fazla 2.000.000 TL’ye kadar girilebilir.<br><br><table><tr><td style='text-align:left'>18-50 Yaş arası : 1.000.000 TL</td></tr><tr><td style='text-align:left'>51-65 Yaş arası : 750.000 TL</td></tr><tr><td style='text-align:left'>66-70 Yaş arası : 100.000 TL</td></tr><tr><td style='text-align:left'>71-75 Yaş arası : 50.000 TL</td></tr></table>">
                            <img src="/img/info.png" alt="">
                        </a>
                    </label>
                    <input type="text" id="flCreditAmount" name="flCreditAmount" data-maxprice="@Model.intMaxPrice" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">
                        Kredi Faiz Oranı (%) <a href="javascript:;" data-toggle="tooltip" data-placement="top" style="height: 24px; width: 24px;" title="Aylık Faiz Oranı’nı örneğin; %1,11… şeklinde giriniz.">
                            <img src="/img/info.png" alt="">
                        </a>
                    </label>
                    <input type="text" id="flInterest" name="flInterest" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Kredi / Sigorta Süresi (AY)</label>
                    <input type="text" id="intCreditMonth" name="intCreditMonth" data-maxtime="@Model.intMaxTime" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">KKDF - Kaynak Kullanımı Destekleme Fonu (%)</label>
                    <input type="text" id="flKKDF" disabled class="form-control input-md" value="@(Model.creditTypes.bolBSMVKKDF ? Model.flKKDF : "0,00")" />
                    <input type="hidden" name="flKKDF" value="@(Model.creditTypes.bolBSMVKKDF ? Model.flKKDF : "0,00")" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">BSMV - Banka Sigorta Muamele Vergisi (%)</label>
                    <input type="text" id="flBSMV" disabled class="form-control input-md" value="@(Model.creditTypes.bolBSMVKKDF ? Model.flBSMV : "0,00")" />
                    <input type="hidden" name="flBSMV" value="@(Model.creditTypes.bolBSMVKKDF ? Model.flBSMV : "0,00")" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" id="btnNext2" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext2fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
        </form>

        <script type="text/javascript" src="/js/fbmask.js"></script>
        <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip({html:true});
            $("#flCreditAmount").priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: '.'
            });
            $("#flInterest").priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: '.'
            });

            $("#btnNext2").click(function () {
                $("#divMessage").html("");

                try {
                    if ($("#flCreditAmount").val() == null || $("#flCreditAmount").val() == "") {
                        throw new Error("Kredi tutarını giriniz!");
                    }

                    var creditAmount = parseFloat($("#flCreditAmount").val().replace('.', '').replace(',', '.'));
                    if (creditAmount == 0 || creditAmount == NaN) {
                        throw new Error("Kredi tutarını giriniz!");
                    }

                    var intMaxPrice = parseFloat($("#flCreditAmount").attr("data-maxprice").replace('.', '').replace(',', '.'));
                    if (creditAmount > intMaxPrice) {
                        throw new Error("Kredi tutarı en fazla " + intMaxPrice + " TL olmalıdır!");
                    }

                    if ($("#flInterest").val() == null || $("#flInterest").val() == "") {
                        throw new Error("Kredi faizini giriniz!");
                    }

                    var interest = parseFloat($("#flInterest").val().replace(',', '.'));
                    if (interest == 0 || interest == NaN) {
                        throw new Error("Kredi faizini giriniz!");
                    }

                    if ($("#intCreditMonth").val() == null || $("#intCreditMonth").val() == "") {
                        throw new Error("Kredi/Sigorta süresini giriniz!");
                    }

                    var creditMonth = parseInt($("#intCreditMonth").val());
                    if (creditMonth == 0 || creditMonth == NaN) {
                        throw new Error("Kredi/Sigorta süresini giriniz!");
                    }

                    var intMaxtime = parseInt($("#intCreditMonth").attr("data-maxtime"));
                    if (creditMonth > intMaxtime) {
                        throw new Error("Kredi/Sigorta süresi en fazla " + intMaxtime + " ay olmalıdır!");
                    }
                } catch (ex) {
                    Msg(3, ex.message, "alert");
                    return;
                }

                $('#btnNext2').hide();
                $('#btnNext2fw').show();

                $.cookie("creditsaleinfo", "3", { path: "/" });

                setTimeout(function () {
                    $('#frmNext2').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage3()
    {
        if (Model.saleLog == null || Model.saleLog.tblCreditSaleLogInfo == null || Model.packets == null)
        {
            return;
        }

        var logInfo = Model.saleLog.tblCreditSaleLogInfo.First();
        var packets = Model.packets;
        string strScript = "";

        <form id="frmNext2" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=4&type=offer">
            <div id="paymentPlan" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="btnMyModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modalTitle"></h4>
                        </div>
                        <div class="modal-body" style="overflow: auto; width: 100%; height: 400px">
                            <div class="form-horizontal">
                                <div>
                                    <label class="control-label">Aylık Taksit Tutarı</label>
                                    <input type="text" id="flInstallAmount" name="flInstallAmount" style="width:130px" value="@(Model.paymentPlanList != null && Model.paymentPlanList.Count > 0 ? Utilities.NullFixDouble(Model.paymentPlanList[0].installAmount).ToString("0.00") : "")" />
                                    TL
                                </div>
                            </div>
                            <br />
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            <span class="label__text">Taksit Sayısı</span>
                                        </th>
                                        <th style="text-align: center;">
                                            <span class="label__text">Kalan Ana Para</span>
                                        </th>
                                    </tr>
                                </thead>

                                @if (Model.paymentPlanList != null)
                                {
                                    for (int i = 0; i < Model.paymentPlanList.Count; i++)
                                    {
                                        strScript += "$('#flRemainingAmount" + Model.paymentPlanList[i].installment + "').priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });";

                                        <tbody id="paymentTable@(i)">
                                            @if (i == 0)
                                            {
                                                strScript += "$('#flRemainingAmount0').priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });";

                                                <tr>
                                                    <td style="text-align: center; padding: 5px;">0</td>
                                                    <td style="text-align: center; padding: 5px;">
                                                        <input type="text" id="flRemainingAmount0" disabled value="@logInfo.flCreditAmount.Value.ToString("0.00")" style="width:100px" />
                                                        TL
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="text-align: center; padding: 5px;">@Model.paymentPlanList[i].installment</td>
                                                <td style="text-align: center; padding: 5px;">
                                                    <input type="text" id="flRemainingAmount@(Model.paymentPlanList[i].installment)" name="flRemainingAmount@(Model.paymentPlanList[i].installment)" value="@Model.paymentPlanList[i].remainingAmount" style="width:100px;" />
                                                    TL
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-8"></div>
                            <div class="col-xs-4">
                                <button type="button" id="btnMyModalCancel" class="btn btn-default" data-dismiss="modal">İptal</button>
                                <button type="submit" id="btnOffer" class="btn btn-default">Teklif Al</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="form-horizontal" id="frmNext3" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=4&type=next">
            <fieldset>
                <div class="row form__bottom">
                    <table class="payment-table">
                        <thead>
                            <tr>
                                <td class="none">&nbsp;</td>
                                <td>Teminatlar</td>
                                <td>Peşin Prim</td>
                                <td>Aylık Prim (8 Taksit)</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < packets.Count; i++)
                            {
                                string strRadioClick = "PacketSelected('" + packets[i].id + "'" + (packets[i].policy != null ? ",'" + packets[i].policy.flTotalPremium + " TL','" + (packets[i].policy.flFirstPremium / 8).ToString("0.00") + " TL'" : ",'',''") + ");";
                                if (i == 0)
                                {
                                    strScript += strRadioClick;
                                }

                                string strAssurances = "";

                                <tr>
                                    <td class="choice-cell" style="text-align: left">
                                        <label>
                                            <input type="radio" name="payment-option" onclick="@strRadioClick" @(logInfo.intCreditPacketID > 0 ? (logInfo.intCreditPacketID == packets[i].id ? "checked" : "") : (i == 0 ? "checked" : "")) value="@packets[i].id" />
                                            <span>@packets[i].name</span>
                                        </label>
                                    </td>
                                    <td style="text-align: left">
                                        @foreach (var item in packets[i].assurances)
                                        {
                                            strAssurances += item.name + "<br>";
                                        }

                                        @if (strAssurances != "")
                                        {
                                            @Html.Raw(strAssurances.Remove(strAssurances.Length - 4, 4))
                                        }
                                    </td>
                                    @if (packets[i].policy != null)
                                    {
                                        <td>@packets[i].policy.flTotalPremium TL</td>
                                        <td>@((packets[i].policy.flFirstPremium / 8).ToString("0.00")) TL</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="selectedPacket" name="selectedPacket" value="@(logInfo.intCreditPacketID > 0 ? logInfo.intCreditPacketID : (packets != null && packets.Count > 0 ? packets[0].id : 0))" />
            </fieldset>
            <br />
            <p><strong>Ödeme Planında yer alan tutarları değiştirebilirsiniz.</strong></p>
        </form>

        <div class="form-horizontal" style="margin-top: 20px;">
            <fieldset>
                TEKLİFİ GÖRÜNTÜLEMEK İÇİN <a href="/creditsale/offerview" target="_blank">TIKLAYINIZ.</a>
            </fieldset>
        </div>

        <h2>
            Kredi Geri Ödeme Planı  <a href="javascript:;" data-toggle="tooltip" data-placement="top" style="height: 24px; width: 24px;" title="Kredi ödeme planında değişiklik yapabilirsiniz. Değişiklik yaptığınız dönem sonrasındaki tutarları da değiştirmeniz gerekmektedir.">
                <img src="/img/info.png" alt="">
            </a>
        </h2>

        <div class="form-horizontal" style="margin-top: 20px;">
            <fieldset>
                Kredi Ödeme planını görüntülemek için <a href="javascript:;" onclick="$('#paymentPlan').modal('show');">Tıklayınız.</a>
                <div class="buttons">
                    <button type="button" id="btnNext3" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext3fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
        </div>

        <script type="text/javascript" src="/js/fbmask.js"></script>
        <script type="text/javascript">

        function PacketSelected(strValue, totalPremium, firstPremium){
            $('#selectedPacket').val(strValue);
            $.cookie("selectedPacket", '{ "id" : ' + strValue + ', "totalPremium" : "'+ totalPremium + '", "firstPremium" : "' + firstPremium + '" }', { path: "/" });
        };
        $(function () {
            @Html.Raw(strScript)

            $('[data-toggle="tooltip"]').tooltip();

            $("#btnNext3").click(function () {
                $("#divMessage").html("");

                $('#btnNext3').hide();
                $('#btnNext3fw').show();

                $.cookie("creditsaleinfo", "4", { path: "/" });

                setTimeout(function () {
                    $('#frmNext3').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage4()
    {
        DBEntities db = new DBEntities();
        var ulkeler = db.tblMapping.Where(w => w.strType == "UYR" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var iller = db.tblMapping.Where(w => w.strType == "ILK" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var ilceler = db.tblMapping.Where(w => w.strType == "ILC" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();

        var info = Model.saleLog.tblCreditSaleLogInfo.First();

        <form class="form-horizontal" id="frmNext4" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=5">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">E-posta **</label>
                    <input type="text" id="email" name="email" maxlength="250" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Cep Telefon Numaranız **</label>
                    <input type="text" id="cepno" name="cepno" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">
                        Adres <a href="javascript:;" data-toggle="tooltip" data-placement="top" style="height: 24px; width: 24px;" title="Adres kısmında değişiklik yapabilirsiniz. Mevcut adresiniz yerine yeni adresinizi girebilirsiniz.">
                            <img src="/img/info.png" alt="">
                        </a>
                    </label>
                    <textarea id="adres" name="adres" maxlength="1000" class="form-control" rows="10">@info.strAddress</textarea>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Telefon No</label>
                    <input type="text" id="iletisimno" name="iletisimno" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ülke Kod</label>
                    <select class="selectpicker" id="ulkekodu" name="ulkekodu" data-width="100%" data-size="5">
                        @foreach (var item in ulkeler)
                        {
                            <option value="@item.strCountryCode" @(item.strCountryCode == info.strCountryCode ? "selected" : "")>@item.strName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İl Kod</label>
                    <select id="ilkod" name="ilkod" class="selectpicker" data-width="100%" data-size="5">
                        @if (info.strCountryCode == "TR")
                        {
                            foreach (var item in iller)
                            {
                                <option value="@item.strCode.Trim()" @(item.strCode.Trim() == info.strRegionCode && info.strCountryCode == "TR" ? "selected" : "")>@item.strName</option>
                            }
                        }
                        else
                        {
                            <option value="99" selected>YABANCI İL</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İlçe Kod</label>
                    <select id="ilcekod" name="ilcekod" class="selectpicker" data-width="100%" data-size="5">
                        @if (info.strCountryCode == "TR")
                        {
                            if (iller.Count(c => c.strCode.Trim() == info.strRegionCode) > 0)
                            {
                                ilceler = ilceler.Where(w => w.strCode.Trim().Substring(0, 3) == info.strRegionCode).ToList();
                            }

                            foreach (var item in ilceler)
                            {
                                <option value="@item.strCode.Trim()" @(item.strCode.Trim() == (!string.IsNullOrEmpty(info.strDistrictCode) ? info.strDistrictCode.Trim() : "") && info.strCountryCode == "TR" ? "selected" : "")>@item.strName</option>
                            }
                        }
                        else
                        {
                            <option value="99900" selected>YABANCI İLÇE</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" id="btnNext4" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext4fw" class="btn next floatRight" style="display: none">İleri</button>
                    <button type="button" id="btnInfoForm" class="btn green floatRight" style="margin-right: 20px;">Bilgilendirme Formu</button>
                </div>
            </fieldset>
            <input type="hidden" id="hdInfoForm" name="hdInfoForm" value="0" />
        </form>

        <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#btnNext4").click(function () {
                $("#divMessage").html("");

                if (@(Model.bolInfoForm.ToString().ToLower()) && $("#hdInfoForm").val() == "0") {
                    Msg(3, "Bilgi formunu görüntülemelisiniz!");
                    return;
                }

                try {
                    var i = parseInt($("#cepno").val());
                    if (i == 0 || isNaN($("#cepno").val()) || $.trim($("#cepno").val()) == "") {
                        Msg(3, "Cep telefon numarasını giriniz!");
                        return;
                    }
                    else {
                        if ($.trim($("#cepno").val()).length < 10 || $.trim($("#cepno").val()).length > 11) {
                            Msg(3, "Cep telefon numarasını hatalı girdiniz!");
                            return;
                        }
                    }
                } catch (ex) {
                    Msg(3, "Cep telefon numarasını giriniz!");
                    return;
                }

                try {
                    var i = parseInt($("#iletisimno").val());
                    if (i > 0) {
                        if ($.trim($("#iletisimno").val()).length < 10 || $.trim($("#iletisimno").val()).length > 11) {
                            Msg(3, "Telefon numarasını hatalı girdiniz!");
                            return;
                        }
                    }
                } catch (ex) {
                    Msg(3, "Telefon numarasını hatalı giriniz!");
                    return;
                }

                if ($.trim($("#email").val()) != "") {
                    if (!emailReg.test($("#email").val())) {
                        Msg(3, "E-posta adresini hatalı girdiniz!");
                        return;
                    }
                }

                if ($.trim($("#email").val()) == "") {
                    Msg(3, "E-posta adresini hatalı girdiniz!");
                    return;
                }

                if ($("#adres").val() == "") {
                    Msg(3, "Adresi giriniz!");
                    return;
                }

                $('#btnNext4').hide();
                $('#btnNext4fw').show();

                $.cookie("creditsaleinfo", "5", { path: "/" });

                setTimeout(function () {
                    $('#frmNext4').submit();
                }, 500);
            });

            $("#ilkod").change(function () {
                $('#ilcekod option[value!="0"]').remove();
                $('#ilcekod').selectpicker('refresh');
                $.ajax({
                    url: "/ProductSale/Counties",
                    dataType: "json",
                    data: { id: $("#ilkod").val() },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#ilcekod").append('<option value="' + data[i].strCode + '">' + data[i].strName + '</option>');
                        }
                        $('#ilcekod').selectpicker('refresh');
                    }
                });
            });

            $("#btnInfoForm").click(function () {
                $("#hdInfoForm").val("1");
                window.open("/ProductSale/infoform?type=credit&name=@(info.strName + " " + info.strSurname)");
            });
        });
        </script>

        db.Dispose();
}

@helper GetPage5()
    {
        <form class="form-horizontal" id="frmNext5" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=6">
            <fieldset>
                <p>
                    <h4>
                        @Html.Raw(Model.saleLog.tblCredits.strQuestion)
                    </h4>
                </p>
                <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label>
                        <input type="radio" name="question" value="0">
                        <span class="label__text label__text--radio ">Hayır</span>
                    </label>
                </div>
                <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <label>
                        <input type="radio" name="question" value="1">
                        <span class="label__text label__text--radio">Evet</span>
                    </label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <button type="button" id="btnNext5" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext5fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
        </form>

        <script type="text/javascript">
        $(function () {
            $("#btnNext5").click(function () {
                $("#divMessage").html("");

                var question = $("input[name=question]:checked").val();
                if (question == null || question == "" || question == undefined) {
                    Msg(3, "Lütfen sağlık beyanı seçimini yapınız!");
                    return;
                }

                if (question == "1") {
                    $("#modalTitle").html("Bilgi");
                    $("#lblModal").html("<p>Sağlık sorusu cevabınız Evet olduğu için işleminize online olarak devam edilememektedir. Başvuru formunda yer alan sağlık beyanı açıklama alanını doldurarak, müşteri imzalı formu Hayat Operasyon Birimine iletiniz. (hayatoperasyon@fibaemeklilik.com.tr)</p>");
                    $('#myModal').modal('show');
                    return;
                }

                $('#btnNext5').hide();
                $('#btnNext5fw').show();

                $.cookie("creditsaleinfo", "6", { path: "/" });

                setTimeout(function () {
                    $('#frmNext5').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage6()
    {
        var info = Model.saleLog.tblCreditSaleLogInfo.First();

        <form id="frmNext6" method="post" action="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=7">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label">Kredi Alınan Banka</label>
                        <select id="intBankID" name="intBankID" class="selectpicker" data-width="40%" data-size="5">
                            <option value="">Banka Seçiniz</option>
                            @foreach (var item in Model.banks)
                            {
                                <option value="@item.intBankID" @(info.intBankID == item.intBankID ? "selected" : "")>@item.strName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <select id="intBankCityID" name="intBankCityID" class="selectpicker" data-width="40%" data-size="5">
                            <option value="">Şehir Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <select id="intBankBranchID" name="intBankBranchID" class="selectpicker" data-width="40%" data-size="5">
                            <option value="">Şube Seçiniz</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <br />
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Kartın Üzerindeki Ad Soyad</label>
                        <input type="text" id="adsoyad" name="adsoyad" maxlength="250" class="form-control input-md">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Kart No</label>
                        <input type="text" id="kartno" name="kartno" class="form-control input-md" maxlength="16" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Son Kullanma Tarihi</label>
                        <select id="kartay" name="kartay" class="selectpicker" data-width="80px" data-size="5">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@(i < 10 ? "0" + i : i.ToString())">@(i < 10 ? "0" + i : i.ToString())</option>
                            }
                        </select>
                        <select id="kartyil" name="kartyil" class="selectpicker" data-width="80px" data-size="5">
                            @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                            {
                                <option value="@i.ToString().Substring(2, 2)">@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-2">
                        <label class="control-label">Ödeme Şekli</label>
                        <select id="paymentMethods" name="paymentMethods" class="selectpicker" data-width="80px" data-size="5">
                            @if (Model.paymentMethods.Count > 0)
                            {
                                foreach (var item in Model.paymentMethods)
                                {
                                    <option value="@item.intPaymentMethodID">@item.strName</option>
                                }
                            }
                            else
                            {
                                <option value="1">Peşin</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12">
                        <label class="control-label">Bilgilendirme Formunu Katılımcıya Gönder</label>
                        <select id="InfoFormSendType" name="InfoFormSendType" class="selectpicker">
                            <option value="sms">Sms İle Gönder</option>
                            <option value="mail"> E-posta İle Gönder</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                        @if (Sessions.CurrentUser.tblCallcenters.bolCreditIssued)
                        {
                            <button type="button" id="btnNext6" class="btn btn-success floatRight" style="width: 170px;">İleri</button>
                            <button type="button" id="btnNext6fw" class="btn btn-success floatRight" style="width: 170px; display: none">İleri</button>
                        }
                        else
                        {
                            <button type="button" id="btnNext7" class="btn btn-success floatRight" style="width: 190px;">Teklifi Fibaemekliliğe Gönder</button>
                            <button type="button" id="btnNext7fw" class="btn btn-success floatRight" style="display: none; width: 190px">Teklifi Fibaemekliliğe Gönder</button>
                        }
                    </div>
                </fieldset>
            </div>
        </form>

        <script type="text/javascript">
        var selectedBankCity = '@(info.intBankCityID)';
        var selectedBankBranch = '@(info.intBankBranchID)';
        $(function () {
            setTimeout(function () {
                if (selectedBankCity != '0') {
                    SetBankCity(selectedBankCity);
                }
            }, 500);

            $("#btnNext6").click(function () {
                $("#divMessage").html("");

                if ($("#adsoyad").val() == "") {
                    Msg(3, "Ad Soyad giriniz!");
                    return;
                }

                if ($("#kartno").val() == "") {
                    Msg(3, "Kart numarasını giriniz!");
                    return;
                }

                if ($("#cvv").val() == "") {
                    Msg(3, "Güvenlik kodunu giriniz!");
                    return;
                }

                $('#btnNext6').hide();
                $('#btnNext6fw').show();

                $.cookie("creditsaleinfo", "7", { path: "/" });

                setTimeout(function () {
                    $('#frmNext6').submit();
                }, 500);
            });

            $("#btnNext7").click(function () {
                $.cookie("creditsaleinfo", "7", { path: "/" });

                setTimeout(function () {
                    $('#frmNext6').submit();
                }, 500);
            });

            $("#intBankID").change(function () {
                SetBankCity('0');
            });

            $("#intBankCityID").change(function () {
                SetBankBranch('0');
            });
        });
        function SetBankCity(bankcityId){
            $('#intBankCityID option[value!="0"]').remove();
            $("#intBankCityID").append('<option value="">Şehir Seçiniz</option>');
            $('#intBankCityID').selectpicker('refresh');

            $('#intBankBranchID option[value!="0"]').remove();
            $("#intBankBranchID").append('<option value="">Şube Seçiniz</option>');
            $('#intBankBranchID').selectpicker('refresh');

            $.ajax({
                url: "/CreditSale/BankCities",
                dataType: "json",
                data: { bankid: $("#intBankID").val() },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#intBankCityID").append('<option ' + (bankcityId != '0' ? (bankcityId == data[i].intBankCityID ? 'selected' : '') : '') + ' value="' + data[i].intBankCityID + '">' + data[i].strCity + '</option>');
                    }
                    $('#intBankCityID').selectpicker('refresh');

                    if (bankcityId != '0') {
                        SetBankBranch(selectedBankBranch);
                    }
                }
            });
        };
        function SetBankBranch(branchId){
            $('#intBankBranchID option[value!="0"]').remove();
            $("#intBankBranchID").append('<option value="">Şube Seçiniz</option>');
            $('#intBankBranchID').selectpicker('refresh');

            $.ajax({
                url: "/CreditSale/BankBranches",
                dataType: "json",
                data: { cityid: $("#intBankCityID").val(), bankid: $("#intBankID").val() },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#intBankBranchID").append('<option ' + (branchId != '0' ? (branchId == data[i].intBankBranchID ? 'selected' : '') : '') + ' value="' + data[i].intBankBranchID + '">' + data[i].strName + '</option>');
                    }
                    $('#intBankBranchID').selectpicker('refresh');
                }
            });
        };
        </script>
}

@helper GetPage7()
    {
        var info = Model.saleLog.tblCreditSaleLogInfo.First();

        System.Web.Script.Serialization.JavaScriptSerializer java = new System.Web.Script.Serialization.JavaScriptSerializer();

        cPolicyData policy = string.IsNullOrEmpty(info.strPolicyData) ? null : java.Deserialize<cPolicyData>(info.strPolicyData);

        <div class="form-horizontal">
            <fieldset>
                @if (Sessions.CurrentUser.tblCallcenters.bolCreditIssued)
                {
                    var saleInfo = Model.saleLog.tblCreditSaleLogInfo.First();

                    if (policy != null)
                    {
                        <p>@policy.PoliceNo.Value No lu teklifiniz oluşturulmuştur.</p>

                        if (!saleInfo.bolInfoFormMail && !saleInfo.bolInfoFormSms)
                        {
                        <p>Tanzim linki müşteriye e-posta veya sms ile gönderilemedi. Teklifi fiba emekliliğe gönderiniz.</p>
                        <p><a href="/CreditSale/New?cr=@(Request.QueryString["cr"])&sp=8" class="btn btn-success floatRight">Teklifi Fibaemekliliğe Gönder</a></p>
                        }
                        else
                        {
                            if (saleInfo.InfoFormSendType == "sms")
                            {
                                if (!saleInfo.bolInfoFormSms)
                                {
                                <p>Tanzim linki sms olarak gönderilemedi. E-posta adresine link gönderildi.</p>
                                }
                                else
                                {
                                <p>Tanzim linki müşteriye sms olarak gönderildi.</p>
                                }
                            }
                            else
                            {
                                if (!saleInfo.bolInfoFormMail)
                                {
                                <p>Tanzim linki e-posta olarak gönderilemedi. Telefon numarasına sms linki gönderildi.</p>
                                }
                                else
                                {
                                <p>Tanzim linki müşteriye e-posta olarak gönderildi.</p>
                                }
                            }
                        }
                    }
                    else
                    {
                        <p>Poliçe oluşturulamadı!</p>
                    }
                }
                else
                {
                    <p>
                        @if (policy != null)
                        {
                            @(policy.PoliceNo.Value + " No'lu teklifiniz oluşturulmuştur.")
                        }
                        Müşteri Hizmetlerimiz tarafından müşteri aranarak poliçe tanzim edilecektir. Anasayfa butonuna basarak anasayfaya dönebilirsiniz.
                    </p>
                }
            </fieldset>
        </div>
}