﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Şubeler";
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;

    if (bolResponse)
    {
        DBEntities db = new DBEntities();

        List<tblBankBranch> bankBranches = new List<tblBankBranch>();

        if (Sessions.CurrentUser.tblUserTypes.bolPowerAdmin)
        {
            bankBranches.AddRange(db.tblBankBranch.Where(w => !w.bolIsDelete).ToList());
        }
        
        short intBankID = QueryStrings.BankID;
        if (intBankID > 0)
        {
            bankBranches = bankBranches.Where(w => w.intBankID == intBankID).ToList();
        }
        
        string strSearch = QueryStrings.search;
        if (!string.IsNullOrEmpty(strSearch))
        {
            bankBranches = bankBranches.Where(w => w.strName.ToLower().Contains(strSearch.ToLower())).ToList();
        }

        int intPageSize = 20;
        int intCount = (bankBranches.Count / intPageSize) + (bankBranches.Count % intPageSize > 0 ? 1 : 0);

        int intPage = QueryStrings.page;
        intPage = intPage > 0 ? intPage - 1 : intPage;

        bankBranches = bankBranches.Skip(intPage * intPageSize).Take(intPageSize).ToList();

        bool bolInsert = PageControl.GetDetail(false, "", "new");
        bool bolUpdate = PageControl.GetDetail(false, "", "update");
        bool bolDelete = PageControl.GetDetail(false, "", "delete");
        
        var banks = db.tblBanks.Where(w => w.bolIsActive && !w.bolIsDelete).OrderBy(o => o.strName).ToList();

    <div class="col-xs-12">
        <h2>Şubeler</h2>
        <div>
            <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <a href="/Bank/List">Bankalar</a>
            </div>
            <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <a href="/BankCity/List">Şehirler</a>
            </div>
            @if (bolInsert)
            {
               <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <a href="/BankBranch/New">Yeni Şube Ekle</a>
                </div>
            }
        </div>
        <br />
        <form method="get" action="@Request.Url.AbsolutePath" class="form-horizontal">
             <div class="form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <select id="bank" class="selectpicker" data-width="100%" name="bank" data-size="5">
                        <option value="">Tüm Bankalar</option>
                        @if (banks.Count > 0)
                        {
                            foreach (var item in banks)
                            {
                            <option @(intBankID == item.intBankID ? "selected" : "") value="@cCrypto.EncryptText(item.intBankID.ToString())">@item.strName</option>
                            }
                        }
                    </select>
                </div>
            <fieldset>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="txtSearch" name="txtSearch" value="@QueryStrings.search" class="form-control input-md" placeholder="Şube adı giriniz" />
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button type="submit" id="btnSearch" class="btn btn-success">Ara</button>
                </div>
            </fieldset>
        </form>
        <br />
        <div class="tableContainer">
            <table class="table">
                <tr>
                    <th>Şube Adı</th>
                    <th>Servis ID</th>
                    <th>Banka</th>
                    <th>Durumu</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Ekleme Tarihi</th>
                    <th width="150px">&nbsp;</th>
                </tr>
                @if (bankBranches.Count > 0)
                {
                    foreach (var item in bankBranches)
                    {
                    <tr>
                        <td>@item.strName</td>
                        <td>@item.intWsID</td>
                        <td>@item.tblBanks.strName</td>
                        <td>@(item.bolIsActive ? "Aktif" : "Pasif")</td>
                        <td>@item.dtUpdateDate</td>
                        <td>@item.dtRegisterDate</td>
                        <td>
                            @if (bolUpdate)
                            {
                                <a class="btn btn-small btn-info" href="/BankBranch/Update?i=@cCrypto.EncryptText(item.intBankBranchID.ToString())">DÜZENLE</a>
                            }
                            @if (bolDelete)
                            {
                                <a onclick="DeleteBankBranch('@cCrypto.EncryptText(item.intBankBranchID.ToString())')" class="btn btn-small btn-danger" href="javascript:;">SİL</a>
                            }
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>

        @if (intCount > 1)
        {
            <ul class="pagination">
                @Web.Paging.pageLinks(Request.Url.AbsolutePath + (Request.QueryString["txtSearch"] != null ? "?txtSearch=" + Request.QueryString["txtSearch"] : "") + (Request.QueryString["bank"] != null ? "&bank=" + Request.QueryString["bank"] : ""), QueryStrings.page, intCount)
            </ul>
        }
    </div>
    }
}

<input type="hidden" id="hdID" value="" />
<script type="text/javascript">
    function DeleteBankBranch(id) {
        $("#hdID").val(id);
        $("#deleteTitle").html("Sil");
        $("#lblDeleteMsg").html('Şubeyi silmek istediğine emin misin?');
        $('#myModalDelete').modal('show');
    };
    function DeleteModal() {
        location.href = '/BankBranch/Delete?i=' + $("#hdID").val() + ($("#bank").val() == "" ? "" : "&bank=" + $("#bank").val()) + ($("#txtSearch").val() == "" ? "" : "&txtSearch=" + $("#txtSearch").val());
    };
</script>
