﻿@using FibaEmeklilikSales.Classes;
@model FibaEmeklilikSales.Classes.Main.cBesPlans

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bes Ürünleri";
    ViewBag.Top = "1";
    ViewBag.Tab = "0";

    bool bolView = PageControl.GetDetail(false, "besplan", "");
    if (bolView)
    {
        bool bolPowerAdmin = Sessions.CurrentUser.tblUserTypes.bolPowerAdmin;
        bool bolUpdate = false;
        if (bolPowerAdmin)
        {
            bolUpdate = PageControl.GetDetail(false, "besplan", "");
        }
        
    <div class="col-xs-12">
        <h2>Bes Ürünleri</h2>

        <div id="products" class="row">
            @foreach (var item in Model.besPlans)
            {
                var strPlanKey = cCrypto.EncryptText(item.intBesPlanID.ToString());
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 columns ">
                    <div class="productContainer addHeight">
                        <h3>
                            @if (!bolPowerAdmin)
                            {
                                <input type="checkbox" onclick="SetPlans($(this));" data-id="@strPlanKey">
                                @item.strPlanName
                            }
                            else
                            {
                                if (bolUpdate)
                                {
                                <a href="/BesPlan/Update?i=@strPlanKey">@item.strPlanName</a>
                                }
                                else
                                {
                                @item.strPlanName   
                                }
                            }
                        </h3>
                        @if (!string.IsNullOrEmpty(item.strComment))
                        {
                            <p><a href="javascript:;" onclick="OpenComment('@strPlanKey');">Açıklamayı Göster</a></p>
                        }
                        @if (!string.IsNullOrEmpty(item.strScript))
                        {
                            <p><a href="javascript:;" onclick="OpenScript('@strPlanKey');">Script'i Göster</a></p>
                        }
                    </div>
                </div>
            }
        </div>
        @if (Model.intCount > 1)
        {
            <ul class="pagination">
                @Web.Paging.pageLinks(Request.Url.AbsolutePath, QueryStrings.page, Model.intCount)
            </ul>
        }

        @if (!bolPowerAdmin)
        {
            if (PageControl.GetDetail(false, "bessale", ""))
            {                                
            <div class="buttons">
                <a id="btnSale" class="btn next floatRight">İleri</a>
            </div>
            }
        }
    </div> 
        
    <div id="modalPopup" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnMyModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <iframe id="frmPopup" width="100%" height="500" src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div> 
    }
}

<script type="text/javascript">
    $(function () {
        var saleInfo = $.cookie("bessaleinfo");
        if (saleInfo == "1" || saleInfo == "2") {
            $.cookie("bessaleinfo", "0", { path: "/" });
            location.href = "/Main/BesPlans";
            return;
        }
        $.cookie("bessaleinfo", "0", { path: "/" });

        $("#btnSale").click(function () {
            var strSelected = "";
            $("#products input").each(function () {
                if ($(this).is(":checked") && strSelected == "") {
                    strSelected = $(this).attr("data-id");
                }
            });

            if (strSelected == "") {
                Msg(3, 'Plan seçiniz!');
                return false;
            }

            location.href = '/BesPlanSale/New?bp=' + strSelected + '&new=1';
        });
    });
    function OpenComment(bpID) {
        $("#frmPopup").attr("src", "/Main/BesPlanComment?type=comment&bp=" + bpID);
        $('#modalPopup').modal('show');
    };
    function OpenScript(bpID) {
        $("#frmPopup").attr("src", "/Main/BesPlanComment?type=script&bp=" + bpID);
        $('#modalPopup').modal('show');
    };
    function SetPlans(chkObj) {
        $("#products input").each(function () {
            if ($(this).is(":checked") && chkObj.attr("data-id") != $(this).attr("data-id")) {
                $(this).removeAttr("checked");
                $(this).prop('checked', false);
            }
        });
    };
</script>
