﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
    ViewBag.Top = "0";
    ViewBag.Tab = "0";
    
    int intProductID = QueryStrings.ProductID;

    DBEntities db = new DBEntities();
    var _data = db.tblProducts.Where(w => w.intProductID == intProductID).First();
    db.Dispose();
    
    List<cProductTable> productTable = null;
    if (!string.IsNullOrEmpty(_data.strJsonTable))
    {
        productTable = JsonSerializer.Deserialize<List<cProductTable>>(_data.strJsonTable);
    }
}

<div class="col-xs-12">
    @if (productTable != null)
    {                                        
        <div class="tableContainer">
            <table class="table">
                <tr>
                    @foreach (var item in productTable)
                    {
                        <th>@item.strColumn</th>                                     
                    }
                </tr>
                @for (int i = 0; i < productTable.First().Values.Count; i++)
                {
                    <tr>
                        @foreach (var item in productTable)
                        {
                            <td>
                                @(item.Values != null ? item.Values[i].Value : "")
                            </td>    
                        }
                    </tr>
                }
            </table>
        </div>
        <br />
    }

    @Html.Raw(_data.strComment)
</div>
