﻿@using FibaEmeklilikSales.Classes
@model cPolicyBesDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "0";
    ViewBag.Tab = "0";

    string strType = QueryStrings.Type;
}

<div class="col-xs-12">
    <div class="form-horizontal" style="margin-top: 15px;">
        <a onclick="@(strType == "genel" ? "" : "ShowLoading();")" href="@(strType == "genel" ? "javascript:void(0)" : "/Policy/BesDetail?pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=genel")" class="btn btn-@(strType == "genel" ? "success" : "info")">Genel Bilgiler</a>
        <a onclick="@(strType == "tahsilat" ? "" : "ShowLoading();")" href="@(strType == "tahsilat" ? "javascript:void(0)" : "/Policy/BesDetail?pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=tahsilat")" class="btn btn-@(strType == "tahsilat" ? "success" : "info")">Tahsilat Bilgileri</a>
        <a onclick="@(strType == "fon" ? "" : "ShowLoading();")" href="@(strType == "fon" ? "javascript:void(0)" : "/Policy/BesDetail?pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=fon")" class="btn btn-@(strType == "fon" ? "success" : "info")">Fon Bilgileri</a>
        <a onclick="@(strType == "yatirim" ? "" : "ShowLoading();")" href="@(strType == "yatirim" ? "javascript:void(0)" : "/Policy/BesDetail?pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=yatirim")" class="btn btn-@(strType == "yatirim" ? "success" : "info")">Yatırım Bilgileri</a>
        <a onclick="@(strType == "musteri" ? "" : "ShowLoading();")" href="@(strType == "musteri" ? "javascript:void(0)" : "/Policy/BesDetail?pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=musteri")" class="btn btn-@(strType == "musteri" ? "success" : "info")">Müşteri Bilgileri</a>
    </div>
    <br />

    @if (strType == "genel")
    {
        if (Model != null && Model.GeneralInfo != null && Model.GeneralInfo != null)
        {
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="GrupAdi">Grup Adı</label>
                        <input type="text" id="GrupAdi" name="GrupAdi" disabled value="@Model.GeneralInfo.GrupAdi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="GrupTipi">Grup Tipi</label>
                        <input type="text" id="GrupTipi" name="GrupTipi" disabled value="@Model.GeneralInfo.GrupTipi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="Odeyen">Ödeyen</label>
                        <input type="text" id="Odeyen" name="Odeyen" disabled value="@Model.GeneralInfo.Odeyen" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="BesGirisTarihi">BES Giriş Tarihi</label>
                        <input type="text" id="BesGirisTarihi" name="BesGirisTarihi" disabled value="@Model.GeneralInfo.BesGirisTarihi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="YururlukTarihi">Yürürlük Tarihi</label>
                        <input type="text" id="YururlukTarihi" name="YururlukTarihi" disabled value="@Model.GeneralInfo.YururlukTarihi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="KatkiPayiOdemeDonemi">Katkı Payı Ödeme Dönemi</label>
                        <input type="text" id="KatkiPayiOdemeDonemi" name="KatkiPayiOdemeDonemi" disabled value="@Model.GeneralInfo.KatkiPayiOdemeDonemi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="EmeklilikTarihi">Emeklilik Tarihi</label>
                        <input type="text" id="EmeklilikTarihi" name="EmeklilikTarihi" disabled value="@Model.GeneralInfo.EmeklilikTarihi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="ToplamGirişAidatıTutari">Toplam Giriş Aidat Tutarı</label>
                        <input type="text" id="ToplamGirişAidatıTutari" name="ToplamGirişAidatıTutari" disabled value="@Model.GeneralInfo.ToplamGirişAidatıTutari" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="ToplamGirişAidatıTutari">Yıllık Katkı Payı Tutarı</label>
                        <input type="text" id="YillikKatkiPayiTutari" name="YillikKatkiPayiTutari" disabled value="@Model.GeneralInfo.YillikKatkiPayiTutari" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="KrediKartiHesap">Kredi Kartı / Hesap</label>
                        <input type="text" id="KrediKartiHesap" name="KrediKartiHesap" disabled value="@Model.GeneralInfo.KrediKartiHesap" class="form-control input-md" />
                    </div>

                    @if (Model.GeneralInfo.HesapBildirimCetveli)
                    {
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="KrediKartiHesap">&nbsp;</label>
                            <a href="/Policy/Pdf?type=hesapbildirimcetveli&gruptipi=@Model.GeneralInfo.GrupTipi&devirmi=@Model.GeneralInfo.Devirmi&polid=@QueryStrings.PolID" class="btn btn-info">Hesap Bildirim Cetveli PDF</a>
                        </div>
                    }
                </fieldset>
            </div>
            <br />
            <h4>Lehdar</h4>
            <div class="form-horizontal">
                <fieldset>
                    @if (Model.GeneralInfo.Lehdar != null)
                    {
                        <div class="tableContainer">
                            <table class="table" style="width: 100%">
                                <tr>
                                    <th>
                                        Adı
                                    </th>
                                    <th>
                                        Lehtar Tipi
                                    </th>
                                    <th>Oran</th>
                                    <th>Yakınlık</th>
                                    <th>Cins</th>
                                </tr>
                                @foreach (var item in Model.GeneralInfo.Lehdar)
                                {
                                    <tr>
                                        <td>@item.Adi</td>
                                        <td>@item.Cins</td>
                                        <td>@item.Oran</td>
                                        <td>@item.Yakınlık</td>
                                        <td>@item.Cins</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        @("Lehdar bulunamadı!")
                    }
                </fieldset>
            </div>
        }
        else
        {
            @("Kayıt bulunamadı!")
        }
    }
    else if (strType == "fon")
    {
        <div class="form-horizontal">
            <fieldset>
                @if (Model.FundInfo != null)
                {
                    <div class="tableContainer">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th>
                                    Fon Kodu
                                </th>
                                <th>
                                    Fon Adı
                                </th>
                                <th>Katkı Payı Fon Dağılımı</th>
                            </tr>
                            @foreach (var item in Model.FundInfo)
                            {
                                <tr>
                                    <td>@item.FonKodu</td>
                                    <td>@item.FonAdi</td>
                                    <td>% @item.KatkiPayiFonDagilimi</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    @("Fon bulunamadı!")
                }
            </fieldset>
        </div>
    }
    else if (strType == "yatirim")
    {
        if (Model != null && Model.InvestInfp != null && Model.InvestInfp.Table != null)
        {
            <div class="form-horizontal">
                <fieldset>
                    <div class="tableContainer">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th>
                                    Fon Adı
                                </th>
                                <th>
                                    Birim Fiyatı
                                </th>
                                <th>Pay Adedi</th>
                                <th>Tutar</th>
                                <th>Oran</th>
                            </tr>
                            @foreach (var item in Model.InvestInfp.Table)
                            {
                                <tr>
                                    <td>@item.FonAdi</td>
                                    <td style="white-space: nowrap;">@item.BirimFiyati TL</td>
                                    <td>@item.PayAdedi</td>
                                    <td style="white-space: nowrap;">@item.Tutar TL</td>
                                    <td>@item.Oran</td>
                                </tr>
                            }
                        </table>
                    </div>
                </fieldset>
            </div>
        }

        if (Model != null && Model.InvestInfp != null && Model.InvestInfp != null)
        {
            <br />
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label" for="ProvisyondaBekleyenveYatirimaYonlendirilemeyenTLTutar">Provisyonda Bekleyen ve Yatırıma Yönlendirilemeyen TL Tutar</label>
                        <input type="text" id="ProvisyondaBekleyenveYatirimaYonlendirilemeyenTLTutar" name="ProvisyondaBekleyenveYatirimaYonlendirilemeyenTLTutar" disabled value="@Model.InvestInfp.ProvisyondaBekleyenveYatirimaYonlendirilemeyenTLTutar" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="TLTahsilati">TL Tahsilatı (Devlet Katkısı Hariç)</label>
                        <input type="text" id="TLTahsilati" name="TLTahsilati" disabled value="@Model.InvestInfp.TLTahsilati" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="ToplamDKTahsilati">Toplam DK Tahsilatı</label>
                        <input type="text" id="ToplamDKTahsilati" name="ToplamDKTahsilati" disabled value="@Model.InvestInfp.ToplamDKTahsilati" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="TLBirikimDevletKatkisiDahil">TL Birikim (Devlet Katkısı Dahil)</label>
                        <input type="text" id="TLBirikimDevletKatkisiDahil" name="TLBirikimDevletKatkisiDahil" disabled value="@Model.InvestInfp.TLBirikimDevletKatkisiDahil" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="TLBirikimDevletKatkisiHaric">TL Birikim (Devlet Katkısı Hariç)</label>
                        <input type="text" id="TLBirikimDevletKatkisiHaric" name="TLBirikimDevletKatkisiHaric" disabled value="@Model.InvestInfp.TLBirikimDevletKatkisiHaric" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="ToplamDKBirikim">Toplam DK Birikim</label>
                        <input type="text" id="ToplamDKBirikim" name="ToplamDKBirikim" disabled value="@Model.InvestInfp.ToplamDKBirikim" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="DKHakedisTutari">DK Hakediş Tutarı</label>
                        <input type="text" id="DKHakedisTutari" name="DKHakedisTutari" disabled value="@Model.InvestInfp.DKHakedisTutari" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="ÖncekiSirkettekiBirikimTutari">Önceki Şirketteki Birikim Tutarı</label>
                        <input type="text" id="ÖncekiSirkettekiBirikimTutari" name="ÖncekiSirkettekiBirikimTutari" disabled value="@Model.InvestInfp.OncekiSirkettekiBirikimTutari" class="form-control input-md" />
                    </div>
                </fieldset>
            </div>
        }
        else
        {
            @("Yatırım bilgileri bulunamadı!")
        }
    }
    else if (strType == "tahsilat")
    {
        if (Model != null && Model.Tahsilat != null && Model.Tahsilat != null)
        {
            <h4>Tahsilat Durdurma Bilgileri</h4>
            <div class="form-horizontal">
                <fieldset>
                    @if (string.IsNullOrEmpty(Model.Tahsilat.TahsilatDurdurmaBaslangicTarihi) && string.IsNullOrEmpty(Model.Tahsilat.TahsilatDurdurmaBitisTarihi) && string.IsNullOrEmpty(Model.Tahsilat.TahsilatDurdurmaTalepTarihi))
                    {
                        @("Tahsilat durdurma bilgisi bulunamadı!")
                    }
                    else
                    {
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="TahsilatDurdurmaTalepTarihi">Tahsilat Durdurma Talep Tarihi</label>
                            <input type="text" id="TahsilatDurdurmaTalepTarihi" name="TahsilatDurdurmaTalepTarihi" disabled value="@Model.Tahsilat.TahsilatDurdurmaTalepTarihi" class="form-control input-md" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="TahsilatDurdurmaBaslangicTarihi">Tahsilat Durdurma Başlangıç Tarihi</label>
                            <input type="text" id="TahsilatDurdurmaBaslangicTarihi" name="TahsilatDurdurmaBaslangicTarihi" disabled value="@Model.Tahsilat.TahsilatDurdurmaBaslangicTarihi" class="form-control input-md" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label" for="TahsilatDurdurmaBitisTarihi">Tahsilat Durdurma Bitiş Tarihi</label>
                            <input type="text" id="TahsilatDurdurmaBitisTarihi" name="TahsilatDurdurmaBitisTarihi" disabled value="@Model.Tahsilat.TahsilatDurdurmaBitisTarihi" class="form-control input-md" />
                        </div>
                    }
                </fieldset>
            </div>
            <br />
            <h4>Tahsilat Bilgileri</h4>
            <div class="form-horizontal">
                @if (Model.Tahsilat.OdemeLink)
                {
                    <p>
                        <a href="/policy/collectioninfosend?pid=@(QueryStrings.Pid)&polid=@(QueryStrings.PolID)">Müşterinin ödenmemiş tahsilatları bulunmaktadır. Ödeme linkini göndermek için tıklayınız.</a>
                    </p>
                }
                <fieldset>
                    @if (Model.Tahsilat.CollectionInfo != null)
                    {
                        <div class="tableContainer">
                            <table class="table" style="width: 100%">
                                <tr>
                                    <th>Makbuz No</th>
                                    <th>Vade Tarihi</th>
                                    <th>Tahsilat</th>
                                    <th>Vade Tutar</th>
                                    <th>DK Tutarı</th>
                                    <th>Tahsilat Tarihi</th>
                                    <th>İntikal Tarihi</th>
                                    <th>Makbuz</th>
                                </tr>
                                @foreach (var item in Model.Tahsilat.CollectionInfo)
                                {
                                    <tr>
                                        <td>@item.MakbuzNo</td>
                                        <td>@item.VadeTarihi</td>
                                        <td>@item.Tahsilat</td>
                                        <td>@item.VadeTutar</td>
                                        <td>@item.DKTutari</td>
                                        <td>@item.TahsilatTarihi</td>
                                        <td>@item.IntikalTarihi</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.MakbuzNo))
                                            {
                                                <a href="@item.Makbuz">PDF</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        @("Tahsilat bilgisi bulunamadı!")
                    }
                </fieldset>
            </div>
        }
        else
        {
            @("Tahsilat bilgisi bulunamadı!")
        }
    }
    else if (strType == "musteri")
    {
        <h4>Müşteri Bilgileri</h4>
        <div class="form-horizontal">
            <form method="post" action="/Policy/BesDetail?pid=@QueryStrings.Pid&polid=@QueryStrings.PolID&type=musteri">
                <fieldset>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="adres">Adres</label>
                        <textarea disabled class="form-control input-md" rows="7">@Model.Musteri.Adres</textarea>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="tel">Telefon</label>
                        <input type="text" id="tel" name="tel" value="@Model.Musteri.Tel" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display: none">
                        <label class="control-label" for="email">E-posta</label>
                        <input type="text" id="email" name="email" value="@Model.Musteri.Email" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="email">TCKN</label>
                        <input type="text" disabled value="@Model.Musteri.Tckn" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class=" control-label" for="btnSave">&nbsp;</label>
                        <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                    </div>
                </fieldset>
            </form>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        window.parent.$('#imgLoading2').hide();
    });
    function ShowLoading() {
        window.parent.$('#imgLoading2').show();
    };
</script>

<script>
    var phoneInput = document.querySelector('#tel');
    phoneInput.addEventListener('keydown', function (event) {
    if (!(event.key == 'ArrowLeft' || event.key == 'ArrowRight' || event.key == 'Backspace' || event.key == 'Tab')) { event.preventDefault() }
    var mask = '(111) 111 11 11';
    if(phoneInput.value.length == 0 || phoneInput.value.length == 1){
    if (/[1-9\+\ \-\(\)]/.test(event.key)) {
        var currentString = this.value;
        var currentLength = currentString.length;
        if (/[1-9]/.test(event.key)) {
            if (mask[currentLength] == '1') {
                this.value = currentString + event.key;
            } else {
                for (var i = currentLength; i < mask.length; i++) {
                    if (mask[i] == '1') {
                        this.value = currentString + event.key;
                        break;
                    }
                    currentString += mask[i];
                }
            }
        }
    }

    } else{
    if (/[0-9\+\ \-\(\)]/.test(event.key)) {
        var currentString = this.value;
        var currentLength = currentString.length;
        if (/[0-9]/.test(event.key)) {
            if (mask[currentLength] == '1') {
                this.value = currentString + event.key;
            } else {
                for (var i = currentLength; i < mask.length; i++) {
                    if (mask[i] == '1') {
                        this.value = currentString + event.key;
                        break;
                    }
                    currentString += mask[i];
                }
            }
        }
    }

    }
});
</script>