﻿@using FibaEmeklilikSales.Classes
@model cPolicyLifeDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "0";
    ViewBag.Tab = "0";

    string strType = QueryStrings.Type;
}

<div class="col-xs-12">
    <div class="form-horizontal" style="margin-top: 15px;">
        <a onclick="@(strType == "genel" ? "" : "ShowLoading();")" href="@(strType == "genel" ? "javascript:void(0)" : "/Policy/LifeDetail?police=" + QueryStrings.police + "&pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=genel")" class="btn btn-@(strType == "genel" ? "success" : "info")">Genel Bilgiler</a>
        <a onclick="@(strType == "tahsilat" ? "" : "ShowLoading();")" href="@(strType == "tahsilat" ? "javascript:void(0)" : "/Policy/LifeDetail?police=" + QueryStrings.police + "&pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=tahsilat")" class="btn btn-@(strType == "tahsilat" ? "success" : "info")">Tahsilat Bilgileri</a>
        <a onclick="@(strType == "musteri" ? "" : "ShowLoading();")" href="@(strType == "musteri" ? "javascript:void(0)" : "/Policy/LifeDetail?police=" + QueryStrings.police + "&pid=" + QueryStrings.Pid + "&polid=" + QueryStrings.PolID + "&type=musteri")" class="btn btn-@(strType == "musteri" ? "success" : "info")">Müşteri Bilgileri</a>
    </div>
    <br />

    @if (strType == "genel")
    {
        <div class="form-horizontal">
            <fieldset>
                <div class="tableContainer">
                    <table class="table" style="width: 100%">
                        <tr>
                            <th>
                                Poliçe Numarası
                            </th>
                            <th>
                                Sigortalı
                            </th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Durum</th>
                        </tr>
                        <tr>
                            <td>@Model.GeneralInfo.PoliceNumarasi</td>
                            <td>@Model.GeneralInfo.Sigortali</td>
                            <td>@Model.GeneralInfo.BaslangicTarihi</td>
                            <td>@Model.GeneralInfo.BitisTarihi</td>
                            <td>@Model.GeneralInfo.Durum</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="control-label" for="UrunAdi">Ürün Adı</label>
                    <input type="text" id="UrunAdi" name="UrunAdi" disabled value="@Model.GeneralInfo.UrunAdi" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="control-label" for="SigortaEttiren">Sigorta Ettiren</label>
                    <input type="text" id="SigortaEttiren" name="SigortaEttiren" disabled value="@Model.GeneralInfo.SigortaEttiren" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="control-label" for="SigortaliMusteri">Sigortalı Müşteri</label>
                    <input type="text" id="SigortaliMusteri" name="SigortaliMusteri" disabled value="@Model.GeneralInfo.SigortaliMusteri" class="form-control input-md" />
                </div>
            </fieldset>
        </div>
        <br />
        <h4>Teminatlar</h4>
        <div class="form-horizontal">
            <fieldset>
                @if (Model.GeneralInfo.Teminat != null)
                {
                    <div class="tableContainer">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th>
                                    Teminat
                                </th>
                                <th>
                                    Prim
                                </th>
                                <th>Tutar</th>
                            </tr>
                            @foreach (var item in Model.GeneralInfo.Teminat.Teminatlar)
                            {
                                <tr>
                                    <td>@item.Teminat</td>
                                    <td>@item.Prim</td>
                                    <td>@item.Tutar</td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td>Yıllık Toplam Prim : @Model.GeneralInfo.Teminat.ToplamPrim</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                }
                else
                {
                    @("Teminat bulunamadı!")
                }
            </fieldset>
        </div>

        <br />
        <h4>Ödeme Bilgileri</h4>
        <div class="form-horizontal">
            <fieldset>
                @if (Model.GeneralInfo.ÖdemeBilgileri != null)
                {
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="odemetipi">Ödeme Tipi</label>
                        <input type="text" id="odemetipi" name="odemetipi" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.OdemeTipi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="BankaAdi">Banka Adı</label>
                        <input type="text" id="BankaAdi" name="BankaAdi" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.BankaAdi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="SonKullanmaTarihi">Son Kullanma Tarihi</label>
                        <input type="text" id="SonKullanmaTarihi" name="SonKullanmaTarihi" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.SonKullanmaTarihi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="IbanNo">Iban No</label>
                        <input type="text" id="IbanNo" name="IbanNo" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.IbanNo" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="YillikTaksitSayisi">Yıllık Taksit Sayısı</label>
                        <input type="text" id="YillikTaksitSayisi" name="YillikTaksitSayisi" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.YillikTaksitSayisi" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="SubeNo">Şube No</label>
                        <input type="text" id="SubeNo" name="SubeNo" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.SubeNo" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="KartNo">Kart No</label>
                        <input type="text" id="KartNo" name="KartNo" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.KartNo" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="HesapNo">Hesap No</label>
                        <input type="text" id="HesapNo" name="HesapNo" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.HesapNo" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="OdemeGunu">Ödeme Günü</label>
                        <input type="text" id="OdemeGunu" name="OdemeGunu" disabled value="@Model.GeneralInfo.ÖdemeBilgileri.OdemeGunu" class="form-control input-md" />
                    </div>
                }
                else
                {
                    @("Ödeme bilgisi bulunamadı!")
                }
            </fieldset>
        </div>
    }
    else if (strType == "tahsilat")
    {
        <div class="form-horizontal">
            <fieldset>
                @if (Model.CollectionInfo != null)
                {
                    <div class="tableContainer">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th>Makbuz No</th>
                                <th>Vade Tarihi</th>
                                <th>Tahsilat</th>
                                <th>Vade Tutar</th>
                                <th>Tahsilat Tarihi</th>
                                <th>İntikal Tarihi</th>
                                <th>Makbuz</th>
                            </tr>
                            @foreach (var item in Model.CollectionInfo)
                            {
                                <tr>
                                    <td>@item.MakbuzNo</td>
                                    <td>@item.VadeTarihi</td>
                                    <td>@item.Tahsilat</td>
                                    <td>@item.VadeTutar</td>
                                    <td>@item.TahsilatTarihi</td>
                                    <td>@item.IntikalTarihi</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.MakbuzNo))
                                        {
                                            <a href="@item.Makbuz">PDF</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    @("Tahsilat bilgisi bulunamadı!")
                }
            </fieldset>
        </div>
    }
    else if (strType == "musteri")
    {
        <h4>Müşteri Bilgileri</h4>
        <div class="form-horizontal">
            <form method="post" action="/Policy/LifeDetail?police=@QueryStrings.police&pid=@QueryStrings.Pid&polid=@QueryStrings.PolID&type=musteri">
                <fieldset>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="adres">Adres</label>
                        <textarea disabled class="form-control input-md" rows="7">@Model.Musteri.Adres</textarea>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="tel">Telefon</label>
                        <input type="text" id="tel" name="tel" value="@Model.Musteri.Tel" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display:none">
                        <label class="control-label" for="email">E-posta</label>
                        <input type="text" id="email" name="email" value="@Model.Musteri.Email" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="email">TCKN</label>
                        <input type="text" disabled value="@Model.Musteri.Tckn" class="form-control input-md" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class=" control-label" for="btnSave">&nbsp;</label>
                        <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                    </div>
                </fieldset>
            </form>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        window.parent.$('#imgLoading2').hide();
    });
    function ShowLoading() {
        window.parent.$('#imgLoading2').show();
    };
</script>
<script>
    var phoneInput = document.querySelector('#tel');
    phoneInput.addEventListener('keydown', function (event) {
    if (!(event.key == 'ArrowLeft' || event.key == 'ArrowRight' || event.key == 'Backspace' || event.key == 'Tab')) { event.preventDefault() }
    var mask = '(111) 111 11 11';
    if(phoneInput.value.length == 0 || phoneInput.value.length == 1){
    if (/[1-9\+\ \-\(\)]/.test(event.key)) {
        var currentString = this.value;
        var currentLength = currentString.length;
        if (/[1-9]/.test(event.key)) {
            if (mask[currentLength] == '1') {
                this.value = currentString + event.key;
            } else {
                for (var i = currentLength; i < mask.length; i++) {
                    if (mask[i] == '1') {
                        this.value = currentString + event.key;
                        break;
                    }
                    currentString += mask[i];
                }
            }
        }
    }

    } else{
    if (/[0-9\+\ \-\(\)]/.test(event.key)) {
        var currentString = this.value;
        var currentLength = currentString.length;
        if (/[0-9]/.test(event.key)) {
            if (mask[currentLength] == '1') {
                this.value = currentString + event.key;
            } else {
                for (var i = currentLength; i < mask.length; i++) {
                    if (mask[i] == '1') {
                        this.value = currentString + event.key;
                        break;
                    }
                    currentString += mask[i];
                }
            }
        }
    }

    }
});
</script>