﻿@{
    ViewBag.Title = "404 - Sayfa Bulunamadı";
    ViewBag.Module = "error";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string strKey = WebSales.Classes.Cookies.Key;
}

<section class="content" id="content">
    <div class="def_container">
        <div class="row">
            <div class="not-found col-xs-10 col-sm-offset-1">
                <div class="error-code h1">404</div>
                <h1 class="not-found__title">Aradığınız sayfa bulunamadı.</h1>
                <p class="mrBt-30">
                    
                </p>
                <div class="text-center">
                    <a href="@strKey" class="btn btn--corp_color btn-md-v">ANA SAYFAYA GERİ DÖN <i class="icon-arrow-right-thin left"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
