﻿@using FibaEmeklilikSales.Classes;
@model FibaEmeklilikSales.Classes.cReport

@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Raporlar";
    ViewBag.Top = "1";

    //cReport.CopyDB();

    bool bolResponse = PageControl.Get;

    if (bolResponse)
    {
        if (!Sessions.CurrentUser.tblUserTypes.bolPowerAdmin && (Enums.UserType)Sessions.CurrentUser.intUserTypeID != Enums.UserType.ReportUser)
        {
            Model.reports = Model.reports.Where(w => w.bolIsActive).ToList();
            
            string strColumns = Request.QueryString["columns"];
            int intReportID = Utilities.NullFixInt(Request.QueryString["reportid"]);
            string strOrder = Request.QueryString["order"];
            string strOrderType = Request.QueryString["ordertype"];

            if (Model.reports.Count > 0)
            {
    <div class="col-xs-12">
        <h2>Raporlar</h2>
        <br />
        <form id="form1" method="get" action="@Request.Url.AbsolutePath" class="form-horizontal">
            <fieldset>
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <select id="reportid" class="selectpicker" data-width="100%" name="reportid" data-size="5" onchange="ChangeType();">
                        @foreach (var item in Model.reports)
                        {
                            <option @(intReportID == item.intReportID ? "selected" : "") value="@item.intReportID">@item.strName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <select id="columns" class="selectpicker" data-width="100%" name="columns" data-size="5" onchange="ChangeColumn();">
                        @if (Model.columns.Count > 0)
                        {
                            foreach (var item in Model.columns)
                            {
                            <option @(strColumns == item.id ? "selected" : "") value="@item.id">@item.name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-xs-3 col-sm-4 col-md-3 col-lg-3">
                    <input type="text" id="txtSearch" name="txtSearch" value="@QueryStrings.search" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-3">
                    <button type="submit" id="btnSearch" class="btn btn-success" onclick="$('#btntype').val('search');">Ara</button>

                    @if (Model.bolExcel)
                    {
                        <button type="submit" id="btnExcel" class="btn btn-success" onclick="$('#btntype').val('excel');">Excel'e Aktar</button>
                    }
                </div>
            </fieldset>
            <input type="hidden" id="order" name="order" value="" />
            <input type="hidden" id="ordertype" name="ordertype" value="" />
            <input type="hidden" id="btntype" name="btntype" value="" />
        </form>
        @if (Model.data != null)
        {
            if (Model.data.Rows.Count > 0)
            {
            <br />
            <div style="margin-bottom: 5px;">
                <select id="ddlordertype" style="height: 30px;" onchange="ChangeOrder();">
                    <option value="asc" @(strOrderType == "asc" ? "selected" : "")>Artan</option>
                    <option value="desc" @(strOrderType == "desc" ? "selected" : "")>Azalan</option>
                </select>
                <select id="ddlorder" style="height: 30px;" onchange="ChangeOrder();">
                    <option value="">Sırala</option>
                    @if (Model.columns.Count > 0)
                    {
                        foreach (var item in Model.columns)
                        {
                        <option @(strOrder == item.id ? "selected" : "") value="@item.id">@item.name</option>
                        }
                    }
                </select>
            </div>
            <div class="tableContainer" style="max-width: 100%; overflow-x: auto; overflow-y: hidden">
                <table class="table">
                    <tr>
                        @foreach (var item in Model.columns)
                        {
                            <th>@item.name</th>
                        }
                    </tr>
                    @for (int i = 0; i < Model.data.Rows.Count; i++)
                    {
                        try
                        {
                        <tr>
                            @for (int j = 0; j < Model.columns.Count; j++)
                            {
                                <td>@Model.data.Rows[i][j].ToString()</td>
                            }
                        </tr>
                        } catch { }
                    }
                </table>
            </div>
            }
        }

        @if (Model.intCount > 1)
        { 
            <ul class="pagination">
                @Web.Paging.pageLinks(Request.Url.AbsolutePath
                + "?txtSearch=" + Request.QueryString["txtSearch"]
                + (Request.QueryString["columns"] != null ? "&columns=" + Request.QueryString["columns"] : "")
                + (Request.QueryString["reportid"] != null ? "&reportid=" + Request.QueryString["reportid"] : "")
                + (Request.QueryString["order"] != null ? "&order=" + Request.QueryString["order"] : "")
                + (Request.QueryString["ordertype"] != null ? "&ordertype=" + Request.QueryString["ordertype"] : ""), QueryStrings.page, Model.intCount)
            </ul>
        }
    </div>
            }
        }
        else
        {
            bool bolInsert = PageControl.GetDetail(false, "", "new");
            bool bolUpdate = PageControl.GetDetail(false, "", "update");
            bool bolDelete = PageControl.GetDetail(false, "", "delete");

    <div class="col-xs-12">
        <h2>Raporlar</h2>

        @if (bolInsert)
        {
            <a href="/Report/New">Yeni Rapor Ekle</a>
        }

        @if (Model.reports != null && Model.reports.Count > 0)
        {
            <div class="tableContainer">
                <table class="table">
                    <tr>
                        <th>Rapor Adı</th>
                        <th>Durumu</th>
                        <th>Güncelleme Tarihi</th>
                        <th>Kayıt Tarihi</th>
                        <th width="210px">&nbsp;</th>
                    </tr>
                    @if (Model.reports.Count > 0)
                    {
                        foreach (var item in Model.reports.OrderByDescending(o => o.dtRegisterDate))
                        {
                        <tr>
                            <td>@item.strName</td>
                            <td>@(item.bolIsActive ? "Aktif" : "Pasif")</td>
                            <td>@item.dtUpdateDate</td>
                            <td>@item.dtRegisterDate</td>
                            <td>
                                  <a class="btn btn-small btn-info" href="@(System.Configuration.ConfigurationManager.AppSettings["reportfile"] + item.strFile)">İNDİR</a>
                                @if (bolUpdate)
                                {
                                    <a class="btn btn-small btn-info" href="/Report/Update?i=@cCrypto.EncryptText(item.intReportID.ToString())">DÜZENLE</a>
                                }
                                @if (bolDelete)
                                {
                                    <a onclick="DeleteFile('@cCrypto.EncryptText(item.intReportID.ToString())')" class="btn btn-small btn-danger" href="javascript:;">SİL</a>
                                }
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>

                    if (Model.intCount > 1)
                    {
            <ul class="pagination">
                @Web.Paging.pageLinks(Request.Url.AbsolutePath, QueryStrings.page, Model.intCount)
            </ul>
                    }
        }
    </div>
    
    <input type="hidden" id="hdID" value="" />
        }
    }
}

@if (!Sessions.CurrentUser.tblUserTypes.bolPowerAdmin && (Enums.UserType)Sessions.CurrentUser.intUserTypeID != Enums.UserType.ReportUser)
{ 
    <script type="text/javascript">
        $(function () {
            ChangeColumn();
        });
        function ChangeType() {
            location.href = "/Report/List?reportid=" + $("#reportid").val();
        };
        function ChangeOrder() {
            $("#order").val($("#ddlorder").val());
            $("#ordertype").val($("#ddlordertype").val());
            if ($("#order").val() != "") {
                $("#form1").submit();
            }
        };
        function ChangeColumn() {
            $("#txtSearch").attr("placeholder", $("#columns option:selected").text() + " giriniz");
        };
    </script>
}
else
{
    <script type="text/javascript">
        function DeleteFile(id) {
            $("#hdID").val(id);
            $("#deleteTitle").html("Sil");
            $("#lblDeleteMsg").html('Dosyayı silmek istediğine emin misin?');
            $('#myModalDelete').modal('show');
        };
        function DeleteModal() {
            location.href = '/Report/Delete?i=' + $("#hdID").val();
        };
    </script>
}