﻿@using WebSales.Classes
@using ModelLibrary
@model cSalesBesPlan

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string strBannerKey = QueryStrings.BannerKey;
    int intStep = strBannerKey != "" ? 1 : Cookies.Step;
    string strPaymentOption = "";

    var nameValueCollection = HttpUtility.ParseQueryString(HttpContext.Current.Request.QueryString.ToString());
    nameValueCollection.Remove("bkey");

    Page.query = nameValueCollection.Count > 0 ? "?" + nameValueCollection : "";

    if (strBannerKey == "" && intStep != Utilities.NullFixInt(ViewContext.RouteData.Values["step"].ToString()))
    {
        Response.Redirect(Request.Url.AbsolutePath.Substring(0, Request.Url.AbsolutePath.Length - 1) + intStep + Page.query);
        return;
    }

    if (Model.webSaleLog != null)
    {
        if (Model.webSaleLog.saleInfo != null)
        {
            strPaymentOption = Model.webSaleLog.saleInfo.strPaymentOption;
        }
    }
    else
    {
        intStep = 1;
    } 
}

<section class="content" id="content">
    <div class="def_container">
        <div class="subpage steps">
            <h1>@Model.besPlan.name</h1>

            @if (intStep == 6)
            {
                if (strPaymentOption == "contact")
                {
                @ContactResult()
                }
                else if (strPaymentOption == "card")
                {
                    if (Model.webSaleLog.salePay != null)
                    {
                @CardResult()
                    }
                }
            }
            else
            {
                <div class="steps__nav">
                    <div class="row">
                        <div class="col-xs-10">
                            <nav class="steps__nav__list">
                                @TagCreate(intStep)
                            </nav>
                        </div>

                        <div class="col-xs-2">
                            <a class="steps__return" href="@(ViewContext.RouteData.Values["key"] != null ? "/" + ViewContext.RouteData.Values["key"] : "")/urunler@(Page.query)"><i class="icon-arrow-return"></i>ÜRÜNLER</a>
                        </div>
                    </div>
                </div>
            }

            @if (intStep == 1 || intStep == 2 || intStep == 5)
            { 
                <div class="row">
                    <div class="col-xs-5">
                        <figure class="image">
                            <img src="@Model.besPlan.image" alt="">
                        </figure>
                    </div>
                    <div class="col-xs-7">
                        @if (intStep == 5)
                        {
                            decimal flPrice = 0;
                            if (Model.besPlan.bolInitialCont)
                            {
                                flPrice = Model.webSaleLog.saleInfo.flOrderlyContAmount;
                            }
                            else if (Model.webSaleLog.saleInfo.flInitilalContAmount > 0)
                            {
                                flPrice = Model.webSaleLog.saleInfo.flOrderlyContAmount + Model.webSaleLog.saleInfo.flInitilalContAmount;
                            }
                            else
                            {
                                flPrice = Model.webSaleLog.saleInfo.flOrderlyContAmount;
                            }
                            
                            <h2 class="mrTp-0">Katkı Payı Tutarı: <span class="highlight">@flPrice TL</span></h2>
                            <h2 class="mrTp-0">Ödeme Dönemi: <span class="highlight">
                                @switch (Model.webSaleLog.saleInfo.intOrderlyContAmountPeriod)
                                {
                                    case 12:
                                    @("Aylık")
                                        break;
                                    case 4:
                                    @("3 Aylık")
                                        break;
                                    case 2:
                                    @("6 Aylık")
                                        break;
                                    case 1:
                                    @("Yıllık")
                                        break;
                                }
                            </span></h2>
                        }
                        <p>
                            @Html.Raw(Model.besPlan.comment)
                        </p>

                        @if (!string.IsNullOrEmpty(Model.besPlan.detailurl))
                        {
                            <a class="btn btn-sm btn--corp_color" href="@Model.besPlan.detailurl" target="_blank">DETAYLI BİLGİ <i class="icon-arrow-right-thin left"></i></a>
                        }
                    </div>
                </div>

                        if (!string.IsNullOrEmpty(Model.besPlan.imageTable) && intStep != 5)
                        {
                            if (System.IO.Path.GetExtension(Model.besPlan.imageTable) != "")
                            {
                <img class="mrTp-50 mrBt-50" src="@Model.besPlan.imageTable" alt="">
                            }
                        }
            }

            @switch (intStep)
            {
                case 1:
                @InsuranceInformation()
                    break;
                case 2:
                case 3:
                @ContributionInformation(intStep) 
                    break;
                case 4:
                @InformationForm()
                    break;
                case 5:
                @SaleForm()
                    break;
            }
        </div>
    </div>
</section>

@if (strBannerKey == "")
{
    <script type="text/javascript">
        $(function () {
            var stepCookie = $.cookie("Step");
            if (stepCookie == null) {
                stepCookie = 1;
            }
            var stepQuery = '@(Request.Url.AbsolutePath)';
            stepQuery = stepQuery.substr(stepQuery.length - 1, 1);
            if (stepQuery == stepCookie) {
                $("#content").show();
            }
        });

        function ErrorPage() {
            popup.add("body", "İşlem başarısız! Tekrar deneyiniz.", "error");
        };
    </script>
}
else
{
    <script type="text/javascript">
        $(function () {
            $("#content").show();
        });

        function ErrorPage() {
            popup.add("body", "İşlem başarısız! Tekrar deneyiniz.", "error");
        };
    </script>
}

@Html.Raw(Sessions.Message)
@{ Sessions.Message = ""; }

@helper TagCreate(int intStep)
{  
    string strClick = " href=\"javascript:;\" onclick=\"FibaEmeklilik.PagePost('/sales/step{0}?page=ok&saletype=bes" + (QueryStrings.BannerID > 0 ? "&bid=" + QueryStrings.BannerID : "") + "', 'path', '" + Request.Url.AbsolutePath + "', '" + Page.query + "');\"";
    string strLink = "";

    if (intStep != 1)
    {
        strLink = string.Format(strClick, "1");
    }
    
    <a @Html.Raw(intStep == 1 ? "class=\"active\"" : "") @Html.Raw(strLink)>Katılımcı Bilgileri</a>

    strLink = "";
    if (Model.webSaleLog != null && intStep != 2)
    {
        if (Model.webSaleLog.saleInfo != null)
        {
            strLink = string.Format(strClick, "2");
        }
    }

    <a @Html.Raw(intStep == 2 || intStep == 3 ? "class=\"active\"" : "") @Html.Raw(strLink)>Katkı Payı Bilgileri</a> 
    
    strLink = "";
    if (Model.webSaleLog != null && intStep != 4)
    {
        if (Model.webSaleLog.saleInfo != null)
        {
            if (Model.webSaleLog.saleInfo.bolTcknValid && Model.webSaleLog.saleInfo.flOrderlyContAmount > 0 && Model.webSaleLog.saleInfo.FonList != "")
            {
                strLink = string.Format(strClick, "4");
            }
        }
    } 
    
    <a @Html.Raw(intStep == 4 ? "class=\"active\"" : "") @Html.Raw(strLink)>Bilgilendirme Formu</a>
    
    strLink = "";
    if (Model.webSaleLog != null && intStep != 5)
    {
        if (Model.webSaleLog.saleInfo != null)
        {
            if (Model.webSaleLog.saleInfo.bolTcknValid && Model.webSaleLog.saleInfo.flOrderlyContAmount > 0 && Model.webSaleLog.saleInfo.FonList != "" && Model.webSaleLog.saleInfo.bolSalesAgreement)
            {
                strLink = string.Format(strClick, "5");
            }
        }
    }
    
    <a @Html.Raw(intStep == 5 ? "class=\"active\"" : "") @Html.Raw(strLink)>Satın Al</a>
}

@helper InsuranceInformation()
{
    cWebSaleBesPlanInfo webSaleInfo = Model.webSaleLog == null ? null : Model.webSaleLog.saleInfo;

    DBEntities db = new DBEntities();
    var ulkeler = db.tblMapping.Where(w => w.strType == "UYR" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
    var iller = db.tblMapping.Where(w => w.strType == "ILK" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
    var ilceler = db.tblMapping.Where(w => w.strType == "ILC" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();

    if (webSaleInfo == null)
    {
        if (iller.Count > 0)
        {
            ilceler = ilceler.Where(w => w.strCode.Trim().Substring(0, 3) == iller[0].strCode.Trim()).ToList();
        }
    }
    else
    {
        if (iller.Count(c => c.strCode.Trim() == webSaleInfo.strRegionCode) > 0)
        {
            ilceler = ilceler.Where(w => w.strCode.Trim().Substring(0, 3) == webSaleInfo.strRegionCode).ToList();
        }
    }
    
    <form id="form1" action="/sales/step1?saletype=bes" method="post" class="form js_validate_form">
        <h2 class="form__title">Katılımcı Bilgileri</h2>

        <div class="row">
            <div class="col-xs-6 pdRt-40">
                <label class="label">
                    <span class="label__text">Adınız</span>
                    <span class="input-holder">
                        <input type="text" name="name" tabindex="1" data-rule-required="true" data-msg-required="Adınızı yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.strName)">
                        <i class="label__required">*</i>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">T.C. Kimlik Numaranız</span>
                    <span class="input-holder">
                        <input class="tcno" type="text" name="tckn" tabindex="3" data-rule-required="true" data-msg-required="T.C. kimlik numaranızı yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.strTCKN)">
                        <i class="label__required">*</i>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Telefon Numaranız</span>
                    <span class="input-holder">
                        <input type="tel" name="phone" tabindex="5" value="@(webSaleInfo == null ? "" : webSaleInfo.strPhone)">
                    </span>
                </label>

                <label class="label">
                    <span class="label__text">Doğum Tarihiniz</span>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select name="day" class="hide-first" tabindex="7" data-rule-required="true" data-msg-required="Gün seçiniz">
                                    <option value="" disabled selected>Gün</option>
                                    @for (int i = 1; i <= 31; i++)
                                    {
                                        var strDay = (i > 9 ? i.ToString() : "0" + i.ToString());
                                        <option @(webSaleInfo == null ? "" : (webSaleInfo.strBirthDate.Split('/')[0] == strDay ? "selected" : "")) value="@strDay">@strDay</option>                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select name="month" class="hide-first" tabindex="8" data-rule-required="true" data-msg-required="Ay seçiniz">
                                    <option value="" disabled selected>Ay</option>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        var strMonth = (i > 9 ? i.ToString() : "0" + i.ToString());
                                        <option @(webSaleInfo == null ? "" : (webSaleInfo.strBirthDate.Split('/')[1] == strMonth ? "selected" : "")) value="@strMonth">@strMonth</option>                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select name="year" class="hide-first" tabindex="9" data-rule-required="true" data-msg-required="Yıl seçiniz">
                                    <option value="" disabled selected>Yıl</option>
                                    @for (int i = 2000; i >= 1923; i--)
                                    {
                                        <option @(webSaleInfo == null ? "" : (webSaleInfo.strBirthDate.Split('/')[2] == i.ToString() ? "selected" : "")) value="@i.ToString()">@i.ToString()</option>                                        
                                    }
                                </select>
                                <i class="label__required">*</i>
                            </div>
                        </div>
                    </div>
                </label>

                <label class="label">
                    <span class="label__text">Ülke</span>
                    <span class="input-holder">
                        <select id="countryCode" name="countryCode" class="selectpicker" data-width="100%" data-size="5" tabindex="11">
                            @foreach (var item in ulkeler)
                            {
                                <option value="@item.strCountryCode" @(webSaleInfo == null ? (item.strCountryCode.Trim() == "TR" ? "selected" : "") : (webSaleInfo.strCountryCode.Trim() == item.strCountryCode.Trim() ? "selected" : ""))>@item.strName</option>
                            }
                        </select>
                        <i class="label__required">*</i>
                    </span>
                </label>
                <label class="label" id="lblRegion" @Html.Raw(webSaleInfo == null ? "" : (webSaleInfo.strCountryCode.Trim() != "TR" ? "style=\"display:none\"" : ""))>
                    <span class="label__text">İl</span>
                    <span class="input-holder">
                        <select id="regionCode" name="regionCode" class="selectpicker" data-width="100%" data-size="5" tabindex="12">
                            @foreach (var item in iller)
                            {
                                <option value="@item.strCode.Trim()" @(webSaleInfo == null ? "" : (webSaleInfo.strRegionCode == item.strCode ? "selected" : ""))>@item.strName</option>
                            }
                        </select>
                        <i class="label__required">*</i>
                    </span>
                </label>
                <label class="label" id="lblDistrict" @Html.Raw(webSaleInfo == null ? "" : (webSaleInfo.strCountryCode.Trim() != "TR" ? "style=\"display:none\"" : ""))>
                    <span class="label__text">İlçe</span>
                    <span class="input-holder">
                        <select id="districtCode" name="districtCode" class="selectpicker" data-width="100%" data-size="5" tabindex="13">
                            @foreach (var item in ilceler)
                            {
                                <option value="@item.strCode.Trim()" @(webSaleInfo == null ? "" : (webSaleInfo.strDistrictCode.Trim() == item.strCode.Trim() ? "selected" : ""))>@item.strName</option>
                            }
                        </select>
                        <i class="label__required">*</i>
                    </span>
                </label>
            </div>
            <div class="col-xs-6 pdLf-40">
                <label class="label">
                    <span class="label__text">Soyadınız</span>
                    <span class="input-holder">
                        <input type="text" name="surname" tabindex="2" data-rule-required="true" data-msg-required="Soyadınızı yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.strSurname)">
                        <i class="label__required">*</i>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">E-posta adresiniz</span>
                    <span class="input-holder">
                        <i class="label__required">*</i>
                        <input type="email" name="email" tabindex="4" data-rule-required="true" data-msg-required="E-posta adresinizi yazınız" data-msg-email="Geçerli bir e-posta adresi giriniz" value="@(webSaleInfo == null ? "" : webSaleInfo.strEmail)">
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Cep Telefonu Numaranız</span>
                    <span class="input-holder">
                        <i class="label__required">*</i>
                        <input type="tel" name="mobile" tabindex="6" data-rule-required="true" data-msg-required="Cep telefonu numaranızı yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.strMobile)">
                    </span>

                </label>
                <label class="label">
                    <span class="label__text">Adresiniz</span>
                    <span class="input-holder">
                        <i class="label__required">*</i>
                        <textarea name="address" tabindex="10" data-rule-required="true" data-msg-required="Adresinizi yazınız">@(webSaleInfo == null ? "" : webSaleInfo.strAddress)</textarea>
                    </span>
                </label>

                @if (!Request.Url.ToString().Contains("localhost:8037"))
                {
                    <label class="label">
                        <input style="visibility: hidden" class="hiddenRecaptcha required" data-msg-required="Ben robot değilim alanını işaretleyiniz" name="hiddenRecaptcha" id="hiddenRecaptcha">
                        <div  class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["CaptchaSiteKey"]"></div>
                    </label>
                    <script src="https://www.google.com/recaptcha/api.js?hl=tr" async defer></script>
                }
            </div>
        </div>

        <div>
            <sup class="form-info">* Girilmesi zorunlu alanlar</sup>
        </div>

        @if (Model.policy == null)
        {
            <div class="form__bottom text-right">
                <button id="btnNext" class="btn btn-sm btn-sm-v btn--corp_color">DEVAM <i class="icon-arrow-right-thin left"></i></button>
            </div>
        }

        <input type="hidden" name="path" value="@Request.Url.AbsolutePath" />
        <input type="hidden" name="query" value="@Page.query" />
        <input type="hidden" name="pathKey" value="@ViewContext.RouteData.Values["key"]" />
    </form>
     
    <script type="text/javascript">
        function WarningCaptcha() {
            popup.add("body", "Hatalı seçim yaptınız!", "alert");
        };
        function WarningIdentity() {
            popup.add("body", "Kimlik Bilgileri doğrulanmadı!", "alert");
        }
        if (!String.prototype.trim) {
            String.prototype.trim = function () {
                return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
            };
        }
        $(function () {
            $("#countryCode").change(function () {
                if ($(this).val() == "TR") {
                    $("#lblRegion").show();
                    $("#lblDistrict").show();
                } else {
                    $("#lblRegion").hide();
                    $("#lblDistrict").hide();
                }
            });
            $("#regionCode").change(function () {
                $('#districtCode option[value!="0"]').remove();
                $('#districtCode').selectpicker('refresh');
                $.ajax({
                    url: "/Sales/Counties",
                    dataType: "json",
                    data: { id: $("#regionCode").val() },
                    success: function (data) {
                        var newOptions = "";
                        for (var i = 0; i < data.length; i++) {
                            newOptions += '<option' + (i == 0 ? " selected" : "") + ' value="' + data[i].strCode.trim() + '">' + data[i].strName + '</option>';
                        }

                        $('#districtCode').html(newOptions).selectpicker('render');
                        $('#districtCode').selectpicker('refresh');
                    }
                });
            });
        });
    </script>
}

@helper ContributionInformation(int intStep)
{
    cWebSaleBesPlanInfo webSaleInfo = Model.webSaleLog == null ? null : Model.webSaleLog.saleInfo;
    string strNowDay = (DateTime.Now.Day > 9 ? DateTime.Now.Day.ToString() : "0" + DateTime.Now.Day.ToString());
    string strNowMonth = (DateTime.Now.Month > 9 ? DateTime.Now.Month.ToString() : "0" + DateTime.Now.Month.ToString());
    
    <form id="form1" action="/sales/step@(intStep)?saletype=bes" method="post" class="form js_validate_form">
        <h2 class="form__title">Katkı Payı Bilgileri</h2>

        <div class="row">
            <div class="col-xs-6 pdRt-40">
                <label class="label">
                    <span class="label__text">Düzenli Katkı Payı Tutarı (TL)</span>
                    <span class="input-holder">
                        <input type="text" id="flOrderlyContAmount" name="flOrderlyContAmount" @(intStep > 2 ? "disabled" : "") tabindex="1" data-rule-required="true" data-msg-required="Düzenli katkı payı tutarını yazınız" value="@(webSaleInfo == null ? "" : (webSaleInfo.flOrderlyContAmount > 0 ? webSaleInfo.flOrderlyContAmount.ToString() : ""))">
                        <input type="hidden" id="flMinContAmount" name="flMinContAmount" value="@Model.besPlan.flMinContAmount.ToString()">
                        @if (intStep == 2)
                        {
                            <i class="label__required">*</i>
                        }
                    </span>
                </label>
                @* <label class="label">
                    <span class="label__text">Ek Katkı Payı Tutarı</span>
                    <span class="input-holder">
                        <input type="text" name="flExtraContAmount" tabindex="3" @(intStep > 2 ? "disabled" : "") data-rule-required="true" data-msg-required="Ek katkı payı tutarını yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.flExtraContAmount.ToString())">
                        @if (intStep == 2)
                        {
                            <i class="label__required">*</i>
                        }
                    </span>
                </label>*@
                @*<label class="label">
                    <span class="label__text">İlk Vade Tarihi</span>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select id="FirstDueDateDay" name="FirstDueDateDay" class="hide-first" tabindex="7" @(intStep > 2 ? "disabled" : "") data-rule-required="true" data-msg-required="Gün seçiniz">
                                    <option value="" disabled selected>Gün</option>
                                    @for (int i = 1; i <= 31; i++)
                                    {
                                        var strDay = (i > 9 ? i.ToString() : "0" + i.ToString());
                                        <option @(webSaleInfo == null ? "" : (string.IsNullOrEmpty(webSaleInfo.FirstDueDate) ? strNowDay : webSaleInfo.FirstDueDate.Split('/')[0]) == strDay ? "selected" : "") value="@strDay">@strDay</option>                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select id="FirstDueDateMonth" name="FirstDueDateMonth" class="hide-first" @(intStep > 2 ? "disabled" : "") tabindex="8" data-rule-required="true" data-msg-required="Ay seçiniz">
                                    <option value="" disabled selected>Ay</option>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        var strMonth = (i > 9 ? i.ToString() : "0" + i.ToString());
                                        <option @(webSaleInfo == null ? "" : (string.IsNullOrEmpty(webSaleInfo.FirstDueDate) ? strNowMonth : webSaleInfo.FirstDueDate.Split('/')[1]) == strMonth ? "selected" : "") value="@strMonth">@strMonth</option>                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-holder">
                                <select id="FirstDueDateYear" name="FirstDueDateYear" class="hide-first" @(intStep > 2 ? "disabled" : "") tabindex="9" data-rule-required="true" data-msg-required="Yıl seçiniz">
                                    <option value="" disabled selected>Yıl</option>
                                    @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 1; i++)
                                    {
                                        <option @(webSaleInfo == null ? "" : (string.IsNullOrEmpty(webSaleInfo.FirstDueDate) ? DateTime.Now.Year.ToString() : webSaleInfo.FirstDueDate.Split('/')[2]) == i.ToString() ? "selected" : "") value="@i.ToString()">@i.ToString()</option>                                        
                                    }
                                </select>
                                @if (intStep == 2)
                                {
                                    <i class="label__required">*</i>
                                }
                            </div>
                        </div>
                    </div>
                </label>*@
                <input type="hidden" id="bolInitialCont" value="@(Model.besPlan.bolInitialCont ? "1" : "0")">
                @if (Model.besPlan.bolInitialCont)
                {
                    <label class="label">
                        <span class="label__text">Başlangıç Katkı Payı Tutarı (TL)</span>
                        <span class="input-holder">
                            <input type="text" id="flInitilalContAmount" name="flInitilalContAmount" tabindex="2" @(intStep > 2 ? "disabled" : "") data-rule-required="true" data-msg-required="Başlangıç katkı payı tutarını yazınız" value="@(webSaleInfo == null ? "" : webSaleInfo.flInitilalContAmount.ToString())">
                            <input type="hidden" id="flInitialCont" name="flInitialCont" value="@Model.besPlan.flInitialCont.ToString()">
                            @if (intStep == 2)
                            {
                                <i class="label__required">*</i>
                            }
                        </span>
                    </label>
                }
            </div>
            <div class="col-xs-6 pdLf-40">
                <label class="label">
                    <span class="label__text">Düzenli Katkı Ödeme Periyodu</span>
                    <span class="input-holder">
                        <select id="intOrderlyContAmountPeriod" @(intStep > 2 ? "disabled" : "") name="intOrderlyContAmountPeriod" class="selectpicker" data-width="100%" data-size="5">
                            <option value="12" @(webSaleInfo == null ? "" : (webSaleInfo.intOrderlyContAmountPeriod == 12 ? "selected" : ""))>Aylık</option>
                            <option value="4" @(webSaleInfo == null ? "" : (webSaleInfo.intOrderlyContAmountPeriod == 4 ? "selected" : ""))>3 Aylık</option>
                            <option value="2" @(webSaleInfo == null ? "" : (webSaleInfo.intOrderlyContAmountPeriod == 2 ? "selected" : ""))>6 Aylık</option>
                            <option value="1" @(webSaleInfo == null ? "" : (webSaleInfo.intOrderlyContAmountPeriod == 1 ? "selected" : ""))>Yıllık</option>
                        </select>
                        @if (intStep == 2)
                        {
                            <i class="label__required">*</i>
                        }
                    </span>
                </label>
            </div>

            @if (intStep > 2)
            {
                DBEntities db = new DBEntities();
                var besFunds = db.tblBesFunds.ToList();

                WebSales.FibaBES.FibaBesWebServiceClient service = new WebSales.FibaBES.FibaBesWebServiceClient();
                var tarife = new WebSales.FibaBES.EmkbasvurulibtarifeoutputtypUser();

                var fonlistService = service.getfonbytarife(Model.besPlan.strPlanCode);
            
                <div class="col-xs-12">
                    <span class="label__text" style="font-weight: bold">Fon Bilgileri</span>
                    <table id="tblFonList">
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="3" style="border: solid 1px #ccc; padding: 5px; white-space: nowrap; text-align: center;">Fon İşletim Gider Kesintisi</td>
                        </tr>
                        <tr>
                            <td style="border: solid 1px #ccc; padding: 5px">Fon Adı</td>
                            <td style="border: solid 1px #ccc; padding: 5px; white-space: nowrap;">Oran %</td>
                            <td style="border: solid 1px #ccc; padding: 5px; white-space: nowrap; text-align: center">Günlük (Yüzbinde)</td>
                            <td style="border: solid 1px #ccc; padding: 5px; white-space: nowrap; text-align: center">Yıllık</td>
                            <td style="border: solid 1px #ccc; padding: 5px; white-space: nowrap; text-align: center">Yıllık (FTGK)</td>
                        </tr>
                        @if (fonlistService.fonlar != null)
                        {
                            List<cFonList> fonList = new List<cFonList>();
                            if (webSaleInfo != null)
                            {
                                if (!string.IsNullOrEmpty(webSaleInfo.FonList))
                                {
                                    fonList = cBesFund.SetFund(webSaleInfo.FonList, fonlistService.fonlar);
                                }
                            }

                            if (fonList.Count == 0)
                            {
                                fonList = cBesFund.SetFund("", fonlistService.fonlar);
                            }

                            int intTotalFund = 0;
                            int isdk = 0;
                            int i = -1;
                            foreach (var item in fonlistService.fonlar)
                            {
                                var besFund = besFunds.Where(w => w.strCode == item.fonkod).FirstOrDefault();
                                if (besFund != null)
                                {
                                    if (intStep != 3 && item.isdk == "T")
                                    {
                                        continue;
                                    }
                                    intTotalFund++;

                                    string strRate = (item.fonstandartoran * 100).ToString();
                                    string strBesFundYearlyRate = "";
                                    string strBesFundDailyRate = "";
                                    string strBesFundYearlyFTGKRate = "";

                                    if (fonList != null)
                                    {
                                        var fon = fonList.Where(w => w.strCode == item.fonkod).FirstOrDefault();
                                        if (fon != null)
                                        {
                                            strRate = fon.strRate;
                                            strBesFundYearlyRate = fon.strBesFundYearlyRate;
                                            strBesFundDailyRate = fon.strBesFundDailyRate;
                                            strBesFundYearlyFTGKRate = fon.strBesFundYearlyFTGKRate;
                                        }
                                    }

                                    if (webSaleInfo.FonList == null && item.fonkod == "FEN")
                                    {
                                        strRate = "0";
                                    }
                                
                            <tr data-isdk="@item.isdk">
                                <td style="border: solid 1px #ccc; padding: 5px">
                                    @item.fonaciklama
                                </td>
                                <td style="border: solid 1px #ccc; padding: 5px; text-align: center">
                                    @if (intStep == 3)
                                    {
                                        if (item.isdk == "T")
                                        {
                                            isdk++;
                                        }
                                        else
                                        {
                                            i++;
                                        <input type="hidden" @Html.Raw(item.isdk == "F" || item.isdk == "" ? "id=\"fonkod" + i + "\" name=\"fonkod" + i + "\"" : "") value="@(item.fonkod)" />
                                        }
                                        
                                        <input @(item.isdk == "T" ? "disabled" : "") type="text" @Html.Raw(item.isdk == "F" || item.isdk == "" ? "id=\"fonstandartoran" + i + "\" name=\"fonstandartoran" + i + "\"" : "") data-isdk="@item.isdk" data-fonkod="@item.fonkod" value="@strRate" class="form-control input-md">
                                    }
                                    else
                                    {
                                        @("% " + strRate)
                                    }
                                </td>
                                <td style="border: solid 1px #ccc; padding: 5px; text-align: center">
                                    @strBesFundDailyRate.Replace(".", ",")
                                </td>
                                <td style="border: solid 1px #ccc; padding: 5px; text-align: center; white-space: nowrap;">
                                    @(strBesFundYearlyRate != "" ? "% " + strBesFundYearlyRate : "")
                                </td>
                                <td style="border: solid 1px #ccc; padding: 5px; text-align: center">
                                    @(strBesFundYearlyFTGKRate.Replace(".", ",") != "" ? "% " + strBesFundYearlyFTGKRate.Replace(".", ",") : "")
                                </td>
                            </tr>
                                }
                            }
                            <input type="hidden" id="FonListCount" name="FonListCount" value="@(intTotalFund - isdk)" />
                        }
                    </table>
                </div>
            }
        </div>

        @if (intStep > 2)
        {
            <div style="margin-top: 20px;">
                <sup class="form-info">* Yıllık FTGK (Fon Toplam Gider Kesintisi) Fondan yapılabilecek azami kesinti oranını belirtmektedir. Nema fon, Fiba Emeklilik ve Hayat A.Ş. Likit Esnek Emeklilik Yatırım Fonudur.</sup>
                <br />
                <sup class="form-info">* Sözleşmeniz oluştuktan sonra, 444 82 88 nolu Müşteri Himetlerimizi arayarak ya da http://internetsube.fibaemeklilik.com.tr'den internet şubenize giriş yaparak fon dağılım değişikliğinizi yapabilirsiniz.</sup>
                <br />
                <sup class="form-info">* <b>Fonlarımızın getirileri ile ilgili bilgi almak için <a href="https://www.fibaemeklilik.com.tr/bes/fon-getirileri.aspx" target="_blank">tıklayınız.</a></b></sup>
            </div>
        }

        @if (Model.policy == null)
        {
            <div class="form__bottom text-right">
                <button id="btnNext" onclick="@(intStep == 3 ? "return FonList();" : "return DateControl();")" class="btn btn--corp_color js-next">DEVAM <i class="icon-arrow-right-thin left"></i></button>
            </div>
        }
        <input type="hidden" name="path" value="@Request.Url.AbsolutePath" />
        <input type="hidden" name="query" value="@Page.query" />
    </form> 
     
    <script type="text/javascript">
        $(function () {
            if ('@(intStep == 3 ? "1" : "0")' == '1') {
                var isdk = "";
                $("#tblFonList tr").each(function () {
                    if ($(this).attr("data-isdk") == "T") {
                        isdk = $(this).html();
                        $(this).remove();
                    }
                });

                if (isdk != "") {
                    $("#tblFonList").append(isdk);
                }
            }
        });
        function FonList() {
            var flFonList = 0;
            var fonFEN = 0;
            $("#tblFonList input").each(function () {
                if ($(this).attr("data-isdk") == "F" || $(this).attr("data-isdk") == "") {
                    var strVal = $(this).val() == null || $(this).val() == "" ? "0" : $(this).val();
                    flFonList += ParseDec(strVal);
                }

                if ($(this).attr("data-fonkod") == "FEN") {
                    fonFEN = $(this).val();
                }
            });

            if (flFonList == 0) {
                popup.add("body", '<p>%100 standart fona yönlendirileceksiniz. Işleme devam etmek istiyor musunuz?</p><p><button type="button" class="btn btn--corp_color" data-dismiss="modal" onclick="$(\'.fiba-popup\').hide();">Hayır</button> &nbsp; <button type="button" onclick="$(\'#form1\').submit();" class="btn btn--corp_color js-next">Evet</button></p>', "alert");

                setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                return false;
            }

            if (flFonList != 100) {
                popup.add("body", "Girilen oranların toplamı 100 olmalıdır!", "alert");

                setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                return false;
            }

            if (fonFEN == 100) {
                popup.add("body", '<p>%100 standart fona yönlendirileceksiniz. Işleme devam etmek istiyor musunuz?</p><p><button type="button" class="btn btn--corp_color" data-dismiss="modal" onclick="$(\'.fiba-popup\').hide();">Hayır</button> &nbsp; <button type="button" onclick="$(\'#form1\').submit();" class="btn btn--corp_color js-next">Evet</button></p>', "alert");

                setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                return false;
            }

            return true;
        };
        function DateControl() {
            var OrderlyContAmountPeriod = $("#intOrderlyContAmountPeriod").val();
            var OrderlyContAmountPeriodCal = 0;
            switch (OrderlyContAmountPeriod) {
                case "12":
                    OrderlyContAmountPeriodCal = 1;
                    break;
                case "4":
                    OrderlyContAmountPeriodCal = 3;
                    break;
                case "2":
                    OrderlyContAmountPeriodCal = 6;
                    break;
                case "1":
                    OrderlyContAmountPeriodCal = 12;
                    break;
            }

            if (ParseDec($("#flOrderlyContAmount").val()) < (ParseDec($("#flMinContAmount").val()) * OrderlyContAmountPeriodCal)) {
                popup.add("body", "Düzenli katkı payı tutarı " + (ParseDec($("#flMinContAmount").val()) * OrderlyContAmountPeriodCal) + " TL den küçük olamaz!", "alert");
                setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                return false;
            }

            if ($("#bolInitialCont").val() == "1") {
                if (ParseDec($("#flInitilalContAmount").val()) < (ParseDec($("#flInitialCont").val()) * OrderlyContAmountPeriodCal)) {
                    popup.add("body", "Başlangıç katkı payı tutarı " + (ParseDec($("#flInitialCont").val()) * OrderlyContAmountPeriodCal) + " TL den küçük olamaz!", "alert");
                    setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                    return false;
                }
            }

            if (ParseDec($("#flOrderlyContAmount").val()) == 0) {
                popup.add("body", "Düzenli katkı payını giriniz!", "alert");
                setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
                return false;
            }

            //var selectedDate = new Date($("#FirstDueDateYear").val(), parseInt($("#FirstDueDateMonth").val()) - 1, $("#FirstDueDateDay").val());
            //var todayDate = new Date();
            //todayDate.setDate(todayDate.getDate() - 1);
            //var nextMonthDate = new Date();
            //nextMonthDate.setMonth(nextMonthDate.getUTCMonth() + 1);

            //if (selectedDate > nextMonthDate || selectedDate < todayDate) {
            //    todayDate.setDate(todayDate.getDate() + 1);
            //    todayDate.setMonth(todayDate.getUTCMonth() + 1);

            //    popup.add("body", "Ilk vade tarihi " + todayDate.getUTCDate() + "/" + todayDate.getUTCMonth() + "/" + (todayDate.getYear() + 1900) + " ile " + todayDate.getUTCDate() + "/" + ((todayDate.getUTCMonth() + 1) == 13 ? "01" : (todayDate.getUTCMonth() + 1)) + "/" + ((todayDate.getUTCMonth() + 1) == 13 ? ((todayDate.getYear() + 1900) + 1) : (todayDate.getYear() + 1900)) + " arasinda olmaldir!", "alert");
            //    setTimeout(function () { $('.form__bottom img').remove(); $("#btnNext").show(); }, 500);
            //    return false;
            //}

            return true;
        };
        function ParseDec(val) {
            try {
                return parseFloat(val.replace('.', '').replace(',', '.'));
            } catch (ex) { }
        };
    </script>  
}

@helper InformationForm()
{     
    <form id="form1" action="/sales/step4?saletype=bes" method="post" class="form bilgilendirme js_validate_form">
        <h2 class="form__title">Bilgilendirme Formu</h2>
        <div class="label label--radio js-step-4-radio-1">
            <label>
                <input type="checkbox" id="satis_sozlesmesi" name="satis_sozlesmesi" value="1" required data-rule-required="true" data-msg-required="Giriş Bilgi Formu’nu okuyup onaylayınız.">
                <span class="label__text label__text--checkbox"><a class="js-popup-info" href="/sales/informationform?saletype=bes&c=@cCrypto.EncryptDES(Model.callcenter.intCallcenterID.ToString())">Giriş Bilgi Formu</a>’nu okudum, onaylıyorum.</span>
            </label>
        </div>
        <div class="label label--radio js-step-4-radio-2">
            <label>
                <input type="checkbox" id="Mesafeli_sozlesmesi" name="Mesafeli_sozlesmesi" value="1" required data-rule-required="true" data-msg-required="Mesafeli Satış Sözleşmesi, Gizlilik Politikası, Kullanıcı Sözleşmesi ve Kişisel Verileri Koruma Kanunu Kapsamında Bilgilendirme Metni’ni okuyup onaylayınız.">
                <span class="label__text label__text--checkbox"><a href="/html/mesafeli-sozlesme.html" class="js-popup-info">Mesafeli Satış Sözleşmesi, Gizlilik Politikası, Kullanıcı Sözleşmesi ve Kişisel Verileri Koruma Kanunu Kapsamında Bilgilendirme Metni’ni</a> okudum, onaylıyorum.</span>
            </label>
        </div>
        <div class="label label--checkbox js-step-4-radio-3">
            <label>
                <input type="checkbox" id="ContactPermission" name="ContactPermission" value="1">
                <span class="label__text label__text--checkbox">Fiba Emeklilik ve Hayat A.Ş.’nin e-posta, SMS, sosyal medya, telefon ve /veya diğer iletişim araçlarıyla bana ulaşarak her türlü bireysel emeklilik sistemi ve sigorta ürününe yönelik tanıtım ve pazarlama faaliyetinde bulunmasına, ayrıca hali hazırda akdedilen sözleşmelerin uygulanmasına, sözleşme koşullarındaki değişikliklere, tahsilatlara ve mevzuattan kaynaklanan diğer gerekliliklere ilişkin olarak Bilgil
                    endirme ve bildirimde bulunmasına izin verdiğimi beyan ve kabul ediyorum.<br />
                    Bu sözleşmeye ilişkin tüm şartlar “Giriş Bilgi Formu” sekmesinde yer almaktadır.
                </span>
            </label>
        </div>

        @if (Model.policy == null)
        {
            <div class="form__bottom text-right">
                <button id="btnNext" class="btn btn--corp_color js-next js-next-step-btn-4">DEVAM <i class="icon-arrow-right-thin left"></i></button>
            </div>
        }

        <input type="hidden" name="path" value="@Request.Url.AbsolutePath" />
        <input type="hidden" name="query" value="@Page.query" />
    </form>
    
    <script type="text/javascript">
        function ErrorPolicy() {
            popup.add("body", "Sözleşme oluşturulamadı tekrar deneyiniz!", "error");
        };
    </script>
     
    if (Model.webSaleLog.saleInfo.bolSalesAgreement)
    {
    <script type="text/javascript">
        $(function () {
            $('#satis_sozlesmesi').click();
            $('#Mesafeli_sozlesmesi').click();
        });
    </script>
    } 
    
    <script type="text/javascript">
        $(function () {
            $('#ContactPermission').click();
        });
    </script>
}

@helper SaleForm()
{
    <form id="form1" action="/sales/step5?saletype=bes" method="post" class="form js_validate_form">
        <h2 class="form__title">Satın Al</h2>

        <div class="form__head">
            <div class="row">
                <div class="col-xs-6 pdRt-40">
                    <div class="label">
                        <span class="label__text">Ödeme Seçeneği</span>
                        <select name="paymentoption" class="js-odeme_secenegi" tabindex="1">
                            <option value="card">Kredi Kartı</option>
                            <option value="contact">FİBA Beni Arasın</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="card" class="payment_option">
            <div class="row">
                <div class="col-xs-6 pdRt-40">
                    <label class="label">
                        <span class="label__text">Ad Soyad</span>
                        <span class="input-holder">
                            <input type="text" name="namesurname" tabindex="2" data-rule-required="true" data-msg-required="Adınızı ve soyadınızı yazınız">
                            <i class="label__required">*</i>
                        </span>
                    </label>
                    <label class="label">
                        <span class="label__text">Son Kullanma Tarihi</span>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-holder">
                                    <select name="month" class="hide-first" tabindex="4" data-rule-required="true" data-msg-required="Ay seçiniz">
                                        <option value="" disabled selected>Ay</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-holder">
                                    <select name="year" class="hide-first" tabindex="5" data-rule-required="true" data-msg-required="Yıl seçiniz">
                                        <option value="" disabled selected>Yıl</option>
                                        @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                                        {
                                            <option value="@i.ToString().Substring(2, 2)">@i</option>
                                        }
                                    </select>
                                    <i class="label__required">*</i>
                                </div>
                            </div>
                        </div>
                    </label>

                </div>

                <div class="col-xs-6 pdLf-40">
                    <label class="label">
                        <span class="label__text">Kart No</span>
                        <span class="input-holder">
                            <input class="credit-card" type="text" name="cardno" tabindex="3" data-rule-required="true" data-msg-required="Kart numaranızı yazınız">
                            <i class="label__required">*</i>
                        </span>
                    </label>
                    <label class="label">
                        <span class="label__text">CVC2</span>
                        <span class="input-holder" style="width: auto;">
                            <input class="cvc" type="text" name="cvv2" tabindex="6" data-rule-required="true" data-msg-required="Kartınızın arkasındaki son 3 rakamı yazınız">
                            <i class="label__required">*</i>
                        </span>
                    </label>
                    <div class="label">
                        <span class="label__text"></span>
                        <div class="input-holder"></div>
                    </div>
                    <div class="label" style="display: none">
                        <span class="label__text">Kart Türü</span>
                        <div class="input-holder">
                            <select name="paymenttype" class="hide-first" tabindex="9" data-rule-required="true" data-msg-required="Kart türünü seçiniz">
                                <option></option>
                                <option value="1">Visa</option>
                                <option value="2">MasterCard</option>
                            </select>
                            <i class="label__required">*</i>
                        </div>
                    </div>

                    @if (!Request.Url.ToString().Contains("localhost:8037"))
                    {
                        <div class="pdTp-50 label recapcha-wrapper">
                            <input style="visibility: hidden" class="hiddenRecaptcha required" data-msg-required="Ben robot değilim alanını işaretleyiniz" name="hiddenRecaptcha" id="hiddenRecaptcha">
                            <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["CaptchaSiteKey"]"></div>
                            <script src="https://www.google.com/recaptcha/api.js?hl=tr" async defer></script>
                        </div>
                    }
                    <div class="threed-secure">
                        <img src="/img/3d1.png">
                    </div>
                </div>
            </div>

            <div>
                <sup class="form-info">* Kredi kartı ile yapılan katkı payı ödemelerinde katkı payları kredi tipine göre 28 gün veya 47 gün sonra katılımcının hesabına geçecek ve yatırıma yönlendirilecektir.</sup>
                <br />
                <sup class="form-info">* Lehdar kanuni miraşçılardır. Lehdar belirlemek isterseniz sözleşmeniz oluşturulduktan sonra 444 82 88 nolu Müşteri Hiztmelerimizi arayabilirsiniz.</sup>
            </div>

            <div class="form__bottom text-right">
                <button id="btnNext" class="btn btn-sm btn-sm-v btn--corp_color">SATIN AL <i class="icon-arrow-right-thin left"></i></button>
            </div>
        </div>

        <div id="contact" class="payment_option" style="display: none">
            <p class="pdBt-10" style="font-size: 16px; font-weight: bold;">Kredi Kartı ile ödeme yapmak istemiyorsanız, verdiğiniz numaradan biz sizi arayalım!</p>

            <div class="form__bottom text-right">
                <button id="btnNext" class="btn btn-sm-v btn--corp_color">FİBA BENİ ARASIN <i class="icon-arrow-right-thin left"></i></button>
            </div>
        </div>
        <input type="hidden" name="path" value="@Request.Url.AbsolutePath" />
        <input type="hidden" name="query" value="@Page.query" />
        <input type="hidden" name="pathKey" value="@ViewContext.RouteData.Values["key"]" />
    </form>
    
    if (!string.IsNullOrEmpty(Model.webSaleLog.saleInfo.strPaymentOption))
    {
    <script type="text/javascript">
        $(function () {
            $('#paymentoption').val('@Model.webSaleLog.saleInfo.strPaymentOption');
        });
    </script> 
    }
    
    <script type="text/javascript">
        function WarningCaptcha() {
            popup.add("body", "Hatalı seçim yaptınız!", "alert");
        };
        function ErrorPolicy() {
            popup.add("body", "Sözleşme oluşturulamadı tekrar deneyiniz!", "error");
        };
        function WarningCard() {
            var strPolicy = '@(Model.policy != null ? "1" : "0")' == '1' ? '<p><a class="btn btn--corp_color mrTp-20" target="_blank" href="/sales/pdf?saletype=bes&policy=@(Model.policy != null ? cCrypto.EncryptDES(Model.policy.intPolID) : "")"><span class="icon-pdf"></span> SÖZLEŞMENİZİ GÖRÜNTÜLEYİN</a></p>' : '';

            popup.add('body', '<p>Değerli Müşterimiz; Sözleşmeniz oluşmuştur. Kredi Kartınızdan tahsilat yapılamamıştır. Kart bilgilerinizi yeniden girebilirsiniz!</p>' + strPolicy, 'alert');
        };
    </script>
    
    Session["SalePageTime"] = null;
}

@helper HealtResult()
{
    <div class="text-center brTp-1 pdTp-40">
        <div class="infowindow">
            <div class="infowindow__inner">
                <h3 class="infowindow__title">Değerli Müşterimiz;</h3>
                <p>
                    Sağlık sorusuna vermiş olduğunuz cevabınız üzerine işleminize devam edilememektedir.
                </p>
                <p>
                    Talebiniz bize ulaşmıştır, en kısa sürede geri dönüş yapılacaktır.<br />
                    Teşekkür eder, mutlu ve sağlıklı günler dileriz.
                </p>
                <p>Fiba Emeklilik ve Hayat A.Ş.</p>
            </div>

            <div class="infowindow__footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a href="http://www.fibaemeklilik.com.tr" target="_blank">www.fibaemeklilik.com.tr</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="tel">444 82 88</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@helper ContactResult()
{
    <div class="text-center brTp-1 pdTp-40">
        <div class="infowindow">
            <div class="infowindow__inner">
                <h3 class="infowindow__title">Değerli Müşterimiz;</h3>
                <p>
                    Talebiniz bize ulaşmıştır, en kısa sürede geri dönüş yapılacaktır.<br />
                    Teşekkür eder, mutlu ve sağlıklı günler dileriz.
                </p>
                <p>Fiba Emeklilik ve Hayat A.Ş.</p>
            </div>

            <div class="infowindow__footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a href="http://www.fibaemeklilik.com.tr" target="_blank">www.fibaemeklilik.com.tr</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="tel">444 82 88</span>
                    </div>
                </div>
            </div>

        </div>
    </div> 
}

@helper CardResult()
{
    int intLogID = Cookies.WebSaleLog.ID;

    DBEntities db = new DBEntities();
    var pay = db.tblWebSalePay.Where(w => w.intWebSaleLogID == intLogID).FirstOrDefault();
        
    <div class="text-center brTp-1 pdTp-40">
        <div class="infowindow">
            <div class="infowindow__inner">
                <h3 class="infowindow__title">Değerli Müşterimiz;</h3>
                <p>
                    Sözleşmeniz oluşturulmuştur.<br />
                    Teşekkür eder, Fibaemeklilik ile bir ömür dileriz.
                </p>
                <p>
                    <a href="javascript:;" onclick="iSube();">https://internetsube.fibaemeklilik.com.tr</a> linkinden İnternet Şube'sine giriş yapabilir, Fon dağılımını değiştirebilirsiniz.
                </p>
                <p>Fiba Emeklilik ve Hayat A.Ş.</p>
                @if (Model.policy != null)
                {
                    <a class="btn btn--corp_color mrTp-20" target="_blank" href="/sales/pdf?saletype=bes&policy=@cCrypto.EncryptDES(Model.policy.intPolID)"><span class="icon-pdf"></span>SÖZLEŞMENİZİ GÖRÜNTÜLEYİN</a>
                }
            </div>

            <div class="infowindow__footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <a href="http://www.fibaemeklilik.com.tr" target="_blank">www.fibaemeklilik.com.tr</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="tel">444 82 88</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <script type="text/javascript">
        function iSube() {
            window.open('https://internetsube.fibaemeklilik.com.tr', createWindowName(), 'width=970,height=650,scrollbars=yes,resizable=no,menu=false');
        }
    </script>
    
    if (pay != null)
    {
        ViewBag.FnishedAnalystic = "1";
        
    <script>  (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-37751374-1', 'fibaemeklilik.com.tr');
        ga('require', 'ecommerce', 'ecommerce.js');
        ga('ecommerce:addTransaction', {
            'id': '@(pay.intPolicy)',
            'affiliation': '@(Model.callcenter.name)',
            'revenue': '@(pay != null ? pay.flPrice : 0)',
            'shipping': '0',
            'tax': '0',
            'currencyCode': 'TRY'
        });
        ga('ecommerce:addItem', {
            'id': '@(pay.intPolicy)',
            'name': '@(Model.besPlan.name.Replace("'", ""))',
            'sku': '@(Model.webSaleLog.intBesPlanID)',
            'category': 'Bes',
            'price': '@(pay != null ? pay.flPrice : 0)',
            'quantity': '1'
        });
        ga('ecommerce:send');
    </script> 
    
        if (Request.QueryString["bid"] != null && pay != null)
        {   
    <!-- Offer Goal Conversion: CPS -->
    <iframe src="https://tr.rdrtr.com/GL6sI?adv_sub=@(pay.intPolicy)&amount=@(pay.flPrice)&adv_sub2=@(Model.besPlan.strDtSub2)" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    <!-- // End Offer Goal Conversion -->  
        }
    }
    db.Dispose();

    Session["SalePageTime"] = null;
}

@{  cBannerLog.LogSet(); }