@using WebSales.Classes
@model ModelLibrary.tblCallcenters

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=windows-1254' />
    <title>Bilgilendirme Formu</title>
</head>
<body>
    @if (QueryStrings.SaleType == "hayat")
    {
        @Html.Raw(Model.strInformationForm)
    }
    else if (QueryStrings.SaleType == "bes")
    {
        @Html.Raw(Model.strInformationFormBesPlan)
    }
    else if (QueryStrings.SaleType == "krediteminati")
    {
        @Html.Raw(Model.strInformationFormCredit)
    }
</body>
</html>
