﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Fibabanka Ürün " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;

    var _data = new tblFibabankProducts();
}

<div class="col-xs-12">
    <h2>Bes Ürün @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        DBEntities db = new DBEntities();
        int intFibabankProductID = QueryStrings.ID;

        if (PageControl.DomainType == "update" && intFibabankProductID > 0)
        {
            _data = db.tblFibabankProducts.Where(w => w.intFibabankProductID == intFibabankProductID).First();
        }
                        
        <form method="post" enctype="multipart/form-data" action="@Request.Url.ToString()" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />

                <div class="form-horizontal">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label" for="strTitle">Başlık</label>
                        <input id="strTitle" type="text" value="@_data.strTitle" required name="strTitle" maxlength="250" class="form-control input-md">
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label" for="strText">Açıklama</label>
                        <textarea name="strText" id="strText" class="form-control input-md">@_data.strText</textarea>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label" for="strButton1Title">Buton1 İsim</label>
                        <input id="strButton1Title" type="text" required value="@_data.strButton1Title" name="strButton1Title" maxlength="50" class="form-control input-md">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <label class="control-label" for="strButton1Link">Buton1 Link</label>
                        <input id="strButton1Link" type="text" required value="@_data.strButton1Link" name="strButton1Link" maxlength="250" class="form-control input-md">
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label" for="strButton2Title">Buton2 İsim</label>
                        <input id="strButton2Title" type="text" required value="@_data.strButton2Title" name="strButton2Title" maxlength="50" class="form-control input-md">
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <label class="control-label" for="strButton2Link">Buton2 Link</label>
                        <input id="strButton2Link" type="text" required value="@_data.strButton2Link" name="strButton2Link" maxlength="250" class="form-control input-md">
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="bolIsActive">Durumu</label>
                        <label class="checkbox-inline" for="bolIsActive">
                            <input id="bolIsActive" type="checkbox" @(_data.bolIsActive ? "checked" : "") name="bolIsActive">
                            Aktif
                        </label>
                    </div>

                    <div id="uploaders_image" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label" for="image">Ürün Resmi</label>
                        <input id="image" type="file" name="image" class="form-control input-md imageid">
                        <ul id="selected_image"></ul>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/FibabankProduct/List">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
            <input type="hidden" id="hd_image" name="hd_image" />
            <input type="hidden" id="hd_image_Delete" name="hd_image_Delete" value="" />
        </form>
    }
</div>

<script src="/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>

<script type="text/javascript">
    var files;
    var storedImage = [];
    var upcImage = 0; 
    var selDivImage = document.querySelector("#selected_image");
    var imageExt = '';
    var configImageExt = '@System.Configuration.ConfigurationManager.AppSettings["ImageExt"]';

    $(function () {
        $(":file").attr('title', '  ');
        $("#image").change(function (e) {
            doReCreate(e, 'image');
        });
    });

    function doReCreate(e, id) {
        var upc = 0;
        if (id == "image") {
            upcImage = upcImage + 1;
            upc = upcImage;
            imageExt = configImageExt;
        }

        $("." + id + "id").hide();
        $('<input>').attr({
            type: 'file',
            id: id + upc,
            name: id + upc,
            title: '  ',
            class: 'form-control input-md ' + id + 'id',
            onchange: "doReCreate(event, '" + id + "')"
        }).appendTo('#uploaders_' + id);

        handleFileSelect(e, id);
    };

    function handleFileSelect(e, id) {
        if (!e.target.files) return;

        files = e.target.files;
        InsertFiles(files, true, id);
    };

    function InsertFiles(fileList, bolMsg, id) {
        var bolInserted = false;

        storedImage = [];
        $('#selected_' + id).empty();

        var imageExtList = imageExt.split(',');

        for (var i = 0; i < fileList.length; i++) {
            var f = fileList[i];

            var bolEx = false;
            for (var j = 0; j < imageExtList.length; j++) {
                if (f.name.toLowerCase().indexOf('.' + imageExtList[j]) != -1) {
                    bolEx = true;
                    break;
                }
            }

            if (bolEx) {
                bolInserted = true;

                var strHtml = '<li>' + (!bolMsg ? '<a href="' + f.file + '" target="_blank">' + f.name + '</a>' : f.name) + '<a href="javascript:;" onclick="removeAtt(this, \'' + id + '\')" title="SİL"> X </a></li>';

                if (id == "image") {
                    selDivImage.innerHTML += strHtml;
                }

                storedImage.push(f.name);
            }
        }

        if (!bolInserted && bolMsg) {
            Msg(3, "Dosya formatını hatalı seçtiniz!");
        }

        $('#hd_' + id).val(storedImage);
    };

    function removeAtt(t, id) {
        var serEle = $(t).parent().text().slice(0, -3);

        var index = storedImage.indexOf(serEle);
        if (index !== -1) {
            storedImage.splice(index, 1);
        }
        $(t).parent().remove();

        $('#hd_' + id).val(storedImage);
        $("#hd_" + id + "_Delete").val($("#hd_" + id + "_Delete").val() + "," + serEle);
    };
</script>

@if (!string.IsNullOrEmpty(_data.strImage))
{
    string strFibabankProductImage = System.Configuration.ConfigurationManager.AppSettings["FibabankProductImage"]; 
    string strFiles = "[{\"name\" : \"" + _data.strImage.Trim() + "\", \"file\" : \"" + strFibabankProductImage + _data.strImage.Trim() + "\"}]";  
     
    <script type="text/javascript">
        $(function () {
            InsertFiles($.parseJSON('@Html.Raw(strFiles)'), false, 'image');
        });
    </script>
}

<script type="text/javascript">
    $(function () {
        getEditor("strText", "100%", "300");
    });
    function getEditor(_area, width, height) {
        tinyMCE.init({
            mode: "exact",
            elements: _area,
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options 
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "",
            theme_advanced_resizing: false,
            extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,

            width: width,
            height: height,

            // Drop lists for link/image/media/template dialogs 
            template_external_list_url: "js/template_list.js",
            external_link_list_url: "js/link_list.js",
            external_image_list_url: "js/image_list.js",
            media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin 
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            },

            // Schema is HTML5 instead of default HTML4 
            schema: "html5",

            // End container block element when pressing enter inside an empty block 
            end_container_on_empty_block: true,

            // HTML5 formats 
            style_formats: [
            { title: 'h1', block: 'h1' },
            { title: 'h2', block: 'h2' },
            { title: 'h3', block: 'h3' },
            { title: 'h4', block: 'h4' },
            { title: 'h5', block: 'h5' },
            { title: 'h6', block: 'h6' },
            { title: 'p', block: 'p' },
            { title: 'div', block: 'div' },
            { title: 'pre', block: 'pre' },
            { title: 'section', block: 'section', wrapper: true, merge_siblings: false },
            { title: 'article', block: 'article', wrapper: true, merge_siblings: false },
            { title: 'blockquote', block: 'blockquote', wrapper: true },
            { title: 'hgroup', block: 'hgroup', wrapper: true },
            { title: 'aside', block: 'aside', wrapper: true },
            { title: 'figure', block: 'figure', wrapper: true }
            ]
        });
    }
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>
