﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Teminat " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";
    
    bool bolResponse = PageControl.Get; 
}

<div class="col-xs-12">
    <h2>Teminat @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intAssuranceID = QueryStrings.ID;

        DBEntities db = new DBEntities();

        var _data = new tblAssurances();
        if (PageControl.DomainType == "update" && intAssuranceID > 0)
        {
            _data = db.tblAssurances.Where(w => w.intAssuranceID == intAssuranceID).First();
        }
                        
        <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strName">Başlık</label>
                    <input id="strName" type="text" value="@_data.strName"  required name="strName" maxlength="250" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strCode">Kodu</label>
                    <input id="strCode" type="text" value="@_data.strCode" required name="strCode" maxlength="250" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intYear">Yılı</label>
                    <input id="intYear" type="text" value="@_data.intYear" required  name="intYear" maxlength="4" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="flPrice">Tutar</label>
                    <input id="flPrice" type="text" value="@Utilities.Price(_data.flPrice)" required name="flPrice" maxlength="30" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/Assurance/List?pi=@Request.QueryString["pi"]&pa=@Request.QueryString["pa"]">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
    }
</div>

<script type="text/javascript" src="/js/fbmask.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            $("#divMessage").html("");
            try {
                var i = parseInt($("#intYear").val());
                if (i == 0 || isNaN($("#intYear").val())) {
                    Msg(3, "Yıl giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Yıl giriniz!");
                return false;
            }

            try {
                var i = parseFloat($("#flPrice").val());
                if (i == 0 || i == NaN) {
                    Msg(3, "Tutar giriniz!");
                    return false;
                }
            } catch (ex) {
                Msg(3, "Tutar giriniz!");
                return false;
            }
        });
        $("#flPrice").priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
    });
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>
