﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Satış Kanalı " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;
}

<div class="col-xs-12">
    <h2>eAcente Fibaemeklilik - Satış Kanalı @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intCallcenterID = QueryStrings.ID;

        DBEntities db = new DBEntities();
        var products = db.tblProducts.Where(w => w.bolIsActive && !w.bolIsDelete && w.bolSpecialSale == Sessions.CurrentUser.tblUserTypes.bolSpecialSalePage).ToList();
        var besPlans = new List<tblBesPlans>();
        var credits = new List<tblCredits>();
        var fibabankProducts = new List<tblFibabankProducts>();

        if (!Sessions.CurrentUser.tblUserTypes.bolSpecialSalePage)
        {
            besPlans = db.tblBesPlans.Where(w => w.bolIsActive && !w.bolIsDelete).ToList();
            credits = db.tblCredits.Where(w => w.bolIsActive && !w.bolIsDelete).ToList();
            fibabankProducts = db.tblFibabankProducts.Where(w => w.bolIsActive && !w.bolIsDelete).ToList();
        }

        var _data = new tblCallcenters();
        if (PageControl.DomainType == "update" && intCallcenterID > 0)
        {
            _data = db.tblCallcenters.Where(w => w.intCallcenterID == intCallcenterID).FirstOrDefault();
        }

        var reportPermisions = new List<cReportPermisions>();
        if (!string.IsNullOrEmpty(_data.strReportPermisions))
        {
            System.Web.Script.Serialization.JavaScriptSerializer jss = new System.Web.Script.Serialization.JavaScriptSerializer();
            reportPermisions = jss.Deserialize<List<cReportPermisions>>(_data.strReportPermisions);
        }

        string strProducts = "";
        string strBesPlans = "";
        string strCredits = "";
        string strFibabankProducts = "";
        string strSpecialProducts = "";
        string strSpecialBesPlans = "";
        string strSpecialCredits = "";
        int i = 0;
            
        <form method="post" action="@Request.Url.ToString()">
            <fieldset class="form-horizontal">
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intCallcenterType">Türü</label>
                    <select id="intCallcenterType" name="intCallcenterType" class="selectpicker" data-width="100%" data-size="5">
                        <option value="1" @(_data.intCallcenterType == 1 ? "selected" : "")>Acente</option>
                        <option value="2" @(_data.intCallcenterType == 2 ? "selected" : "")>PYŞ</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strName">Adı</label>
                    <input id="strName" type="text" required value="@_data.strName"  name="strName" maxlength="150" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strBankNo">Banka Şube Kodu</label>
                    <input id="strBankNo" type="text" required value="@_data.strBankNo" name="strBankNo" maxlength="20" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strRegisterNo">Sicil No</label>
                    <input id="strRegisterNo" type="text" required value="@_data.strRegisterNo"  name="strRegisterNo" maxlength="20" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strCallcenterCode">Acente No</label>
                    <input id="strCallcenterCode" type="text" required value="@_data.strCallcenterCode"  name="strCallcenterCode" maxlength="20" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strEmail">E-posta</label>
                    <input id="strEmail" type="email" required value="@_data.strEmail" name="strEmail" maxlength="50" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strTradeName">Ticaret Ünvanı</label>
                    <input id="strTradeName" type="text" value="@_data.strTradeName" name="strTradeName" maxlength="250" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strPhone">Telefon</label>
                    <input id="strPhone" type="text" value="@_data.strPhone" name="strPhone" maxlength="250" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strFax">Faks</label>
                    <input id="strFax" type="text" value="@_data.strFax" name="strFax" maxlength="250" class="form-control input-md">
                </div>

                  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strTaxNumber">Vergi Numarası</label>
                    <input id="strTaxNumber" type="text" value="@_data.strTaxNumber" name="strTaxNumber" maxlength="20" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strAddress">Adres</label>
                    <textarea id="strAddress" name="strAddress" maxlength="500" rows="3" class="form-control input-md">@_data.strAddress</textarea>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strPublishKey">Satış Anahtarı <span style="font-size: 11px">(Türkçe karakter kullanmayınız ve boşluk bırakmayınız)</span></label>
                    <input id="strPublishKey" type="text" value="@_data.strPublishKey" name="strPublishKey" maxlength="20" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolIsActive">Durumu</label>
                    <label class="checkbox-inline" for="bolIsActive">
                        <input id="bolIsActive" type="checkbox" name="bolIsActive" @(_data.bolIsActive ? "checked" : "")>
                        Aktif 
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolCancel">Satış İptali</label>
                    <label class="checkbox-inline" for="bolCancel">
                        <input id="bolCancel" type="checkbox" name="bolCancel" @(_data.bolCancel ? "checked" : "")>
                        Satış İptali
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolInfoForm">Bilgilendirme Formu Zorunlu mu?</label>
                    <label class="checkbox-inline" for="bolInfoForm">
                        <input id="bolInfoForm" type="checkbox" name="bolInfoForm" @(_data.bolInfoForm ? "checked" : "")>
                        Evet
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolBesSaleFinishedButton">Sözleşme tanzimi yapamasın?</label>
                    <label class="checkbox-inline" for="bolBesSaleFinishedButton">
                        <input id="bolBesSaleFinishedButton" type="checkbox" name="bolBesSaleFinishedButton" @(_data.bolBesSaleFinishedButton ? "checked" : "")>
                        Evet
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Poliçe tanzim edilsin mi?</label>
                    <label class="checkbox-inline" for="bolProductIssued">
                        <input id="bolProductIssued" type="checkbox" name="bolProductIssued" @(_data.bolProductIssued ? "checked" : "")>
                        Hayat
                    </label>
                    <label class="checkbox-inline" for="bolBesIssued">
                        <input id="bolBesIssued" type="checkbox" name="bolBesIssued" @(_data.bolBesIssued ? "checked" : "")>
                        Bes
                    </label>
                    <label class="checkbox-inline" for="bolCreditIssued">
                        <input id="bolCreditIssued" type="checkbox" name="bolCreditIssued" @(_data.bolCreditIssued ? "checked" : "")>
                        Kredi Teminatı
                    </label>
                </div>

                @{ bool bolShowFather = false;
                   bool bolShowMother = false;
                   bool bolShowBirtPlace = false;

                   if (!string.IsNullOrEmpty(_data.strVisibleInputs))
                   {
                       List<string> visibleInputs = _data.strVisibleInputs.Split(',').ToList();
                       bolShowFather = visibleInputs.Count(c => c == "father") > 0;
                       bolShowMother = visibleInputs.Count(c => c == "mother") > 0;
                       bolShowBirtPlace = visibleInputs.Count(c => c == "birthplace") > 0;
                   }
                }

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Raporlar Sayfası İzinler</label>
                    <table style="width: 80%; border: 1px solid #dddddd;">
                        <tr>
                            <td></td>
                            <td>
                                <label class="control-label" style="font-size: 12px">Sayfayı Göster</label></td>
                            <td>
                                <label class="control-label" style="font-size: 12px">Excel'e Aktar Göster</label></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;">
                                <label class="control-label" style="font-size: 12px">Acente Admin</label>
                            </td>
                            <td style="text-align: center">
                                <label class="checkbox-inline" for="bolAdminPage">
                                    <input onclick="CheckReport('clear', 'bolAdminPage', 'bolAdminExcel');" id="bolAdminPage" type="checkbox" name="bolAdminPage" @(reportPermisions.Count > 0 ? (reportPermisions.First(f => f.UserType == Enums.UserType.Admin).bolPage ? "checked" : "") : "")>
                                </label>
                            </td>
                            <td style="text-align: center">
                                <label class="checkbox-inline" for="bolAdminExcel">
                                    <input onclick="CheckReport('click', 'bolAdminPage', 'bolAdminExcel');" id="bolAdminExcel" type="checkbox" name="bolAdminExcel" @(reportPermisions.Count > 0 ? (reportPermisions.First(f => f.UserType == Enums.UserType.Admin).bolExcel ? "checked" : "") : "")>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;">
                                <label class="control-label" style="font-size: 12px">Acente Kullanıcı</label>
                            </td>
                            <td style="text-align: center">
                                <label class="checkbox-inline" for="bolUserPage">
                                    <input onclick="CheckReport('clear', 'bolUserPage', 'bolUserExcel');" id="bolUserPage" type="checkbox" name="bolUserPage" @(reportPermisions.Count > 0 ? (reportPermisions.First(f => f.UserType == Enums.UserType.Normal).bolPage ? "checked" : "") : "")>
                                </label>
                            </td>
                            <td style="text-align: center">
                                <label class="checkbox-inline" for="bolUserExcel">
                                    <input onclick="CheckReport('click', 'bolUserPage', 'bolUserExcel');" id="bolUserExcel" type="checkbox" name="bolUserExcel" @(reportPermisions.Count > 0 ? (reportPermisions.First(f => f.UserType == Enums.UserType.Normal).bolExcel ? "checked" : "") : "")>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Inputlar görünsün</label>
                    <label class="checkbox-inline" for="bolShowFather">
                        <input id="bolShowFather" type="checkbox" name="bolShowFather" @(bolShowFather ? "checked" : "")>
                        Baba Adı
                    </label>
                    <label class="checkbox-inline" for="bolShowMother">
                        <input id="bolShowMother" type="checkbox" name="bolShowMother" @(bolShowMother ? "checked" : "")>
                        Anne Adı
                    </label>
                    <label class="checkbox-inline" for="bolShowBirtPlace">
                        <input id="bolShowBirtPlace" type="checkbox" name="bolShowBirtPlace" @(bolShowBirtPlace ? "checked" : "")>
                        Doğum Yeri
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="bolValidCreditCard">Kredi kartı zorunlu mu?</label>
                    <label class="checkbox-inline" for="bolValidCreditCard">
                        <input id="bolValidCreditCard" type="checkbox" name="bolValidCreditCard" @(_data.bolValidCreditCard ? "checked" : "")>
                        Evet
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="display: none">
                    <label class="control-label" for="bolPolicyBesPaymentChange">Poliçe sorgulama ekranında BES ödeme aracı değişikliği görünsün</label>
                    <label class="checkbox-inline" for="bolPolicyBesPaymentChange">
                        <input id="bolPolicyBesPaymentChange" type="checkbox" name="bolPolicyBesPaymentChange" @(_data.bolPolicyBesPaymentChange ? "checked" : "")>
                        Evet
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="display: @(Sessions.CurrentUser.tblUserTypes.bolSpecialSalePage ? "block" : "none")">
                    <label class="control-label" for="bolSpecialSale">Power Admin Kullanıcıları Göremesin</label>
                    <label class="checkbox-inline" for="bolSpecialSale">
                        <input id="bolSpecialSale" type="checkbox" name="bolSpecialSale" @(_data.bolSpecialSale ? "checked" : "")>
                        Evet 
                    </label>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px">
                    <label class="control-label" for="strOfferText">Teklif Formu Lütfen Okuyunuz</label>
                    <textarea id="strOfferText" name="strOfferText" maxlength="4000" class="form-control">@_data.strOfferText</textarea>
                </div>

            </fieldset>
            <fieldset class="form-horizontal">
                <div id="divProducts" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow-y: auto; border: 1px solid #dddddd; height: 200px; overflow-x: hidden; max-height: 200px">
                    <label class="control-label" for="checkboxesProd">Ürünler</label>
                    @foreach (var item in products)
                    {
                        var log = item.tblCallcenterProducts.Where(w => w.intCallcenterID == intCallcenterID && !w.bolSpecialSale).FirstOrDefault();

                        if (log != null)
                        {
                            strProducts = strProducts == "" ? cCrypto.EncryptText(item.intProductID.ToString()) : strProducts + "," + cCrypto.EncryptText(item.intProductID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesProd-@i">
                                <input id="checkboxesProd-@i" type="checkbox" onclick="SetIDs('divProducts', 'hdProducts');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intProductID.ToString())" />
                                @item.strName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdProducts" name="hdProducts" value="@strProducts" />
                </div>

                <div id="divBesPlans" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow-y: auto; border: 1px solid #dddddd; height: 200px; overflow-x: hidden; max-height: 200px">
                    <label class="control-label" for="checkboxesBes">Bes Planları</label>
                    @foreach (var item in besPlans)
                    {
                        var log = item.tblCallcenterBesPlans.Where(w => w.intCallcenterID == intCallcenterID).FirstOrDefault();

                        if (log != null)
                        {
                            strBesPlans = strBesPlans == "" ? cCrypto.EncryptText(item.intBesPlanID.ToString()) : strBesPlans + "," + cCrypto.EncryptText(item.intBesPlanID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesBes-@i">
                                <input id="checkboxesBes-@i" type="checkbox" onclick="SetIDs('divBesPlans', 'hdBesPlans');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intBesPlanID.ToString())" />
                                @item.strPlanName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdBesPlans" name="hdBesPlans" value="@strBesPlans" />
                </div>

                <div id="divCredits" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow-y: auto; border: 1px solid #dddddd; height: 200px; overflow-x: hidden; max-height: 200px">
                    <label class="control-label" for="checkboxesBes">Kredi Teminatları</label>
                    @foreach (var item in credits)
                    {
                        var log = item.tblCallcenterCredits.Where(w => w.intCallcenterID == intCallcenterID).FirstOrDefault();

                        if (log != null)
                        {
                            strCredits = strCredits == "" ? cCrypto.EncryptText(item.intCreditID.ToString()) : strCredits + "," + cCrypto.EncryptText(item.intCreditID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesCredit-@i">
                                <input id="checkboxesCredit-@i" type="checkbox" onclick="SetIDs('divCredits', 'hdCredits');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intCreditID.ToString())" />
                                @item.strName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdCredits" name="hdCredits" value="@strCredits" />
                </div>

                <div id="divFibabankProducts" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow-y: auto; border: 1px solid #dddddd; height: 200px; overflow-x: hidden; max-height: 200px">
                    <label class="control-label" for="checkboxesBes">Fibabanka Ürünleri</label>
                    @foreach (var item in fibabankProducts)
                    {
                        var log = item.tblCallcenterFibabankProducts.Where(w => w.intCallcenterID == intCallcenterID).FirstOrDefault();

                        if (log != null)
                        {
                            strFibabankProducts = strFibabankProducts == "" ? cCrypto.EncryptText(item.intFibabankProductID.ToString()) : strFibabankProducts + "," + cCrypto.EncryptText(item.intFibabankProductID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesFibabankProducts-@i">
                                <input id="checkboxesFibabankProducts-@i" type="checkbox" onclick="SetIDs('divFibabankProducts', 'hdFibabankProducts');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intFibabankProductID.ToString())" />
                                @item.strTitle
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdFibabankProducts" name="hdFibabankProducts" value="@strFibabankProducts" />
                </div>
            </fieldset>
            <fieldset class="form-horizontal" style="margin-top: 20px;">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intSaleTypeID">Satış kanalı</label>
                    <select id="intSaleTypeID" name="intSaleTypeID" class="selectpicker" data-width="100%" data-size="5">
                        <option value="0" @(_data.intSaleTypeID == 0 ? "selected" : "")>Yok</option>
                        <option value="1" @(_data.intSaleTypeID == 1 ? "selected" : "")>Eacente</option>
                        <option value="2" @(_data.intSaleTypeID == 2 ? "selected" : "")>Online Satış</option>
                    </select>
                </div>
            </fieldset>
            <fieldset id="SpecialProducts" class="form-horizontal" style="margin-top: 20px; @(_data.intSaleTypeID != 2 ? "display:none" : "")">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12" style="overflow-y: auto; overflow-x: hidden; max-height: 200px;">
                    <label class="control-label" for="checkboxesProd">Online Satış Ürünler</label>
                    @foreach (var item in products)
                    {
                        var log = item.tblCallcenterProducts.Where(w => w.intCallcenterID == intCallcenterID && w.bolSpecialSale).FirstOrDefault();

                        if (log != null)
                        {
                            strSpecialProducts = strSpecialProducts == "" ? cCrypto.EncryptText(item.intProductID.ToString()) : strSpecialProducts + "," + cCrypto.EncryptText(item.intProductID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesSpecialProd-@i">
                                <input id="checkboxesSpecialProd-@i" type="checkbox" onclick="SetIDs('SpecialProducts', 'hdSpecialProducts');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intProductID.ToString())" />
                                @item.strName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdSpecialProducts" name="hdSpecialProducts" value="@strSpecialProducts" />
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label" for="strInformationForm">Online Satış Ürün Bilgilendirme Formu</label>
                    <textarea id="strInformationForm" name="strInformationForm" class="form-control input-md">@_data.strInformationForm</textarea>
                </div>
            </fieldset>
            <fieldset id="SpecialBesPlans" class="form-horizontal" style="margin-top: 20px; @(_data.intSaleTypeID != 2 ? "display:none" : "")">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12" style="overflow-y: auto; overflow-x: hidden; max-height: 200px;">
                    <label class="control-label" for="checkboxesProd">Online Satış Bes Ürünleri</label>
                    @foreach (var item in besPlans)
                    {
                        var log = item.tblCallcenterBesPlans.Where(w => w.intCallcenterID == intCallcenterID && w.bolSpecialSale).FirstOrDefault();

                        if (log != null)
                        {
                            strSpecialBesPlans = strSpecialBesPlans == "" ? cCrypto.EncryptText(item.intBesPlanID.ToString()) : strSpecialBesPlans + "," + cCrypto.EncryptText(item.intBesPlanID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesBesplanProd-@i">
                                <input id="checkboxesBesplanProd-@i" type="checkbox" onclick="SetIDs('SpecialBesPlans', 'hdSpecialBesPlans');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intBesPlanID.ToString())" />
                                @item.strPlanName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdSpecialBesPlans" name="hdSpecialBesPlans" value="@strSpecialBesPlans" />
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label" for="strInformationFormBesPlan">Online Satış Bes Bilgilendirme Formu</label>
                    <textarea id="strInformationFormBesPlan" name="strInformationFormBesPlan" class="form-control input-md">@_data.strInformationFormBesPlan</textarea>
                </div>
            </fieldset>
            <fieldset id="SpecialCredit" class="form-horizontal" style="margin-top: 20px; @(_data.intSaleTypeID != 2 ? "display:none" : "")">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-12" style="overflow-y: auto; overflow-x: hidden; max-height: 200px;">
                    <label class="control-label" for="checkboxesProd">Online Satış Kredi Teminatları</label>
                    @foreach (var item in credits)
                    {
                        var log = item.tblCallcenterCredits.Where(w => w.intCallcenterID == intCallcenterID && w.bolSpecialSale).FirstOrDefault();

                        if (log != null)
                        {
                            strSpecialCredits = strSpecialCredits == "" ? cCrypto.EncryptText(item.intCreditID.ToString()) : strSpecialCredits + "," + cCrypto.EncryptText(item.intCreditID.ToString());
                        } 
                        <div class="checkbox">
                            <label for="checkboxesSpecialCredit-@i">
                                <input id="checkboxesSpecialCredit-@i" type="checkbox" onclick="SetIDs('SpecialCredit', 'hdSpecialCredit');" @(log != null ? "checked" : "") data-id="@cCrypto.EncryptText(item.intCreditID.ToString())" />
                                @item.strName
                            </label>
                        </div>
                        i++;
                    }
                    <input type="hidden" id="hdSpecialCredit" name="hdSpecialCredit" value="@strSpecialCredits" />
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="flKKDF">KKDF</label>
                    <input id="flKKDF" type="text" required value="@Utilities.Price(_data.flKKDF)" name="flKKDF" maxlength="20" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="flBSMV">BSMV</label>
                    <input id="flBSMV" type="text" required value="@Utilities.Price(_data.flBSMV)"  name="flBSMV" maxlength="20" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label" for="strInformationFormCredit">Online Satış Kredi Teminatı Bilgilendirme Formu</label>
                    <textarea id="strInformationFormCredit" name="strInformationFormCredit" class="form-control input-md">@_data.strInformationFormCredit</textarea>
                </div>
            </fieldset>
            <fieldset class="form-horizontal" style="margin-top: 20px;">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/Callcenter/List">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
        
                    db.Dispose();
    }
</div>

<script type="text/javascript" src="/js/fbmask.js"></script>
<script type="text/javascript">
    function CheckReport(strType, chkpage, chkexcel) {
        if (strType == 'clear') {
            if ($("#" + chkpage).is(":checked") == false) {
                $("#" + chkexcel).removeAttr('checked');
            }
        } else if (strType == 'click') {
            if ($("#" + chkexcel).is(":checked") == true) {
                if ($("#" + chkpage).is(":checked") == false) {
                    $("#" + chkexcel).removeAttr('checked');
                }
            }
        }
    }
    $(function () {
        $("#intSaleTypeID").change(function () {
            if ($(this).val() == "2") {
                $("#SpecialProducts").show();
                $("#SpecialBesPlans").show();
                $("#SpecialCredit").show();
            } else {
                $("#SpecialProducts").hide();
                $("#SpecialBesPlans").hide();
                $("#SpecialCredit").hide();
            }
        });

        $("#flKKDF").priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });

        $("#flBSMV").priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
        getEditor("strOfferText", "100%", "120");
    });
    function SetIDs(divID, hdID) {
        var strIDs = "";
        $("#" + divID + " input").each(function () {
            if ($(this).is(":checked")) {
                strIDs = strIDs == "" ? $(this).attr("data-id") : strIDs + "," + $(this).attr("data-id");
            }
        });

        $("#" + hdID).val(strIDs);
    };
    function DeleteModal() {
        location.href = '/shared/close';
    };
    function getEditor(_area, width, height) {
        tinyMCE.init({
            mode: "exact",
            elements: _area,
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options 
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "",
            theme_advanced_resizing: false,
            extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,

            width: width,
            height: height,

            // Drop lists for link/image/media/template dialogs 
            template_external_list_url: "js/template_list.js",
            external_link_list_url: "js/link_list.js",
            external_image_list_url: "js/image_list.js",
            media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin 
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            },

            // Schema is HTML5 instead of default HTML4 
            schema: "html5",

            // End container block element when pressing enter inside an empty block 
            end_container_on_empty_block: true,

            // HTML5 formats 
            style_formats: [
            { title: 'h1', block: 'h1' },
            { title: 'h2', block: 'h2' },
            { title: 'h3', block: 'h3' },
            { title: 'h4', block: 'h4' },
            { title: 'h5', block: 'h5' },
            { title: 'h6', block: 'h6' },
            { title: 'p', block: 'p' },
            { title: 'div', block: 'div' },
            { title: 'pre', block: 'pre' },
            { title: 'section', block: 'section', wrapper: true, merge_siblings: false },
            { title: 'article', block: 'article', wrapper: true, merge_siblings: false },
            { title: 'blockquote', block: 'blockquote', wrapper: true },
            { title: 'hgroup', block: 'hgroup', wrapper: true },
            { title: 'aside', block: 'aside', wrapper: true },
            { title: 'figure', block: 'figure', wrapper: true }
            ]
        });
    }
</script>

<script src="/js/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            $("#divMessage").html("");
            if ($("#intSaleTypeID").val() == "2") {
                if (tinyMCE.get('strInformationForm').getContent() == "") {
                    Msg(3, "Bilgilendirme formunu giriniz!");
                    return false;
                }
            }
        });

        getEditor("strInformationForm", "100%", "300");
        getEditor("strInformationFormBesPlan", "100%", "300");
        getEditor("strInformationFormCredit", "100%", "300");
    });
    function getEditor(_area, width, height) {
        tinyMCE.init({
            mode: "exact",
            elements: _area,
            theme: "advanced",
            plugins: "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options 
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "",
            theme_advanced_resizing: false,
            extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,

            width: width,
            height: height,

            // Drop lists for link/image/media/template dialogs 
            template_external_list_url: "js/template_list.js",
            external_link_list_url: "js/link_list.js",
            external_image_list_url: "js/image_list.js",
            media_external_list_url: "js/media_list.js",

            // Replace values for the template plugin 
            template_replace_values: {
                username: "Some User",
                staffid: "991234"
            },

            // Schema is HTML5 instead of default HTML4 
            schema: "html5",

            // End container block element when pressing enter inside an empty block 
            end_container_on_empty_block: true,

            // HTML5 formats 
            style_formats: [
            { title: 'h1', block: 'h1' },
            { title: 'h2', block: 'h2' },
            { title: 'h3', block: 'h3' },
            { title: 'h4', block: 'h4' },
            { title: 'h5', block: 'h5' },
            { title: 'h6', block: 'h6' },
            { title: 'p', block: 'p' },
            { title: 'div', block: 'div' },
            { title: 'pre', block: 'pre' },
            { title: 'section', block: 'section', wrapper: true, merge_siblings: false },
            { title: 'article', block: 'article', wrapper: true, merge_siblings: false },
            { title: 'blockquote', block: 'blockquote', wrapper: true },
            { title: 'hgroup', block: 'hgroup', wrapper: true },
            { title: 'aside', block: 'aside', wrapper: true },
            { title: 'figure', block: 'figure', wrapper: true }
            ]
        });
    }
</script>
