﻿@using FibaEmeklilikSales.Classes
@{
    var curretUser = Sessions.CurrentUser;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eAcente Fibaemeklilik - @ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">
    <link href="/css/acenta.css" rel="stylesheet">
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/acenta.js?v1.30"></script>
    <script src="/js/cookie.js"></script>
    @* @if (Session["sale"] == null && (ViewBag.Tab == null ? true : ViewBag.Tab == "1"))
        {
            <script src="/js/tabClose.js"></script>
        }*@

    <div id="divMessage" style="position: absolute; top: -7px; right: 30px; z-index: 1000000;">
        @if (Sessions.Message != "")
        {
            @Html.Raw(Sessions.Message)
            Sessions.Message = "";
        }
        @if (Sessions.Msg != "")
        {
            @Html.Raw(Sessions.Msg)
        }
    </div>
    @if (ViewBag.Top == "1")
    {
        if (!Request.IsAuthenticated)
        {
            Session.Abandon();
            System.Web.Security.FormsAuthentication.SignOut();

            Response.Redirect("/Default/Login");
        }

        var pages = curretUser == null ? new List<ModelLibrary.tblUserAuth>() : curretUser.tblUserAuth.OrderBy(o => o.tblPages.intOrder).ToList();
        var intPageID = PageControl.PageID;
        var page = pages.Where(w => w.tblPages.intPageID == intPageID).FirstOrDefault();

        List<string> listClasses = new List<string>
{
"light-blue",
"green",
"blue",
"orange",
"light-orange"
};

        int[] intM = { 4, 8 };
        if (page != null)
        {
            if (page.tblPages.strUrl.ToLower() == "/productsale/list" || page.tblPages.strUrl.ToLower() == "/besplansale/list")
            {
                intM[0] = 5;
                intM[1] = 7;
            }
        }

        <div id="headerContainer" class="container-fluid">
            <div id="header" class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 columns">
                        <div class="e-acenta columns">
                            <div></div>
                        </div>
                        <div class="logo columns">
                            <a href="javascript:;"></a>
                        </div>
                        <div class="userLogin">
                            <a href="javascript:;">@curretUser.strUserName<span>@((curretUser.tblUserTypes != null ? curretUser.tblUserTypes.bolPowerAdmin : false) ? "Admin" : (curretUser.tblCallcenters != null ? curretUser.tblCallcenters.strName : ""))</span></a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 clearfix columns">
                        <a class="exit" href="javascript:;" onclick="$('#myModalClose').modal('show');"></a>
                        <a href="/main/index" class="home"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="toolMenu" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        @for (int i = 0; i < pages.Count; i++)
                        {
                            if (UserFilter.PagePermision(pages[i]))
                            {
                                <a id="page@(pages[i].intPageID)" class="btn @(listClasses[i % listClasses.Count])" href="@pages[i].tblPages.strUrl">@pages[i].tblPages.strPageName</a>
                            }
                        }
                        <a href="/Profile/Update" class="btn @(listClasses[(pages.Count + 1) % listClasses.Count])">Profil</a>
                        <a id="linkPssChange" href="javascript:;" class="btn @(listClasses[(pages.Count + 2) % listClasses.Count])">Şifre Değiştir</a>
                        @if (curretUser.tblUserTypes.intUserTypeID == (byte)Enums.UserType.Admin || curretUser.tblUserTypes.intUserTypeID == (byte)Enums.UserType.Normal)
                        {
                            <a href="mailto:@(System.Configuration.ConfigurationManager.AppSettings["BizeUlasinMail"])?Subject=Acente%20Bize%20Ulaşın" class="btn @(listClasses[(pages.Count + 3) % listClasses.Count])">Bize Ulaşın</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        if (page != null)
        {
            if (page.tblPages.strUrl.ToLower() == "/productsale/list" || page.tblPages.strUrl.ToLower() == "/besplansale/list" || page.tblPages.strUrl.ToLower() == "/main/products")
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <ol @Html.Raw(page.tblPages.strUrl.ToLower() == "/productsale/list" && QueryStrings.SalePage == 4 ? "" : "class=\"breadcrumb\"")>
                                @if (page.tblPages.strUrl.ToLower() == "/productsale/list")
                                {
                                    switch (QueryStrings.SalePage)
                                    {
                                        case 0:
                                        case 1:
                                            <li><a href="/Main/Products">Ürün Seçimi</a></li>
                                            <li class="active">Sigortalı Giriş</li>
                                            break;
                                        case 2:
                                            <li><a href="/Main/Products">Ürün Seçimi</a></li>
                                            <li>Sigortalı Giriş</li>
                                            <li class="active">Poliçe</li>
                                            break;
                                        case 3:
                                            <li><a href="/Main/Products">Ürün Seçimi</a></li>
                                            <li>Sigortalı Giriş</li>
                                            <li>Poliçe</li>
                                            <li class="active">Ödeme Aracı Girişi </li>
                                            break;
                                    }
                                }
                                else if (page.tblPages.strUrl.ToLower() == "/besplansale/list")
                                {
                                    <li><a href="/Main/BesPlans">Bes Ürünleri</a></li>

                                    switch (QueryStrings.SalePage)
                                    {
                                        case 0:
                                            <li class="active">Aracı Seçimi</li>
                                            break;
                                        case 1:
                                        case 2:
                                            <li>Aracı Seçimi</li>
                                            <li class="active">@((bool)ViewBag.DifferentPaid ? "Ödeyen Farklı" : "Katılımcı Bilgileri")</li>
                                            break;
                                        case 3:
                                        case 4:
                                            <li>Aracı Seçimi</li>
                                            <li>Katılımcı Bilgileri</li>
                                            <li class="active">Katkı Payı Bilgileri</li>
                                            break;
                                        case 5:
                                        case 6:
                                            <li>Aracı Seçimi</li>
                                            <li>Katılımcı Bilgileri</li>
                                            <li>Katkı Payı Bilgileri</li>
                                            <li class="active">Ödeyen Bilgileri</li>
                                            break;
                                        case 7:
                                        case 8:
                                            <li>Aracı Seçimi</li>
                                            <li>Katılımcı Bilgileri</li>
                                            <li>Katkı Payı Bilgileri</li>
                                            <li>Ödeyen Bilgileri</li>
                                            <li class="active">Sözleşme Oluşturma</li>
                                            break;
                                    }
                                }
                                else if (page.tblPages.strUrl.ToLower() == "/main/products")
                                {
                                    <li class="active">Ürün Seçimi</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            }
        }
        <br />
        @ViewBag.PssChange
    }

    <div id="contentContainer" class="container-fluid">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <div style="height: 30px; width: 100%;"></div>
    <div id="modalPssChange" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btnPssChangeClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Şifre Değiştir</h4>
                </div>
                <div class="modal-body" style="overflow: hidden;">
                    <div class="form-group col-xs-12">
                        <iframe src="/profile/PasswordChange" scrolling="no" frameborder="0" width="550px" height="185px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDelete" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnModalDeleteClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-12">
                        <p>
                            <label id="lblDeleteMsg"></label>
                        </p>
                        <input type="hidden" id="hdtxitID" value="0" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="button" id="btnModalClose" class="btn btn-default" data-dismiss="modal">Hayır</button>
                        <button type="button" id="btnDelete" class="btn btn-primary">Evet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalClose" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">ÇIKIŞ</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-12">
                        <p>Çıkmak istediğine emin misin?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='/shared/close';">Evet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnMyModalClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body" style="overflow: hidden; text-align: center; margin: 0px;">
                    <label id="lblModal"></label>
                </div>
                <div id="myModalFooter" style="display: none;" class="modal-footer">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="button" id="btnMyModalCancel" class="btn btn-default" data-dismiss="modal">Hayır</button>
                        <button type="button" id="btnMyModalYes" class="btn btn-primary">Evet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popupMsg" class="modal fade" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Bilgi</h4>
                </div>
                <div id="lblpopupMsg" class="modal-body" style="overflow: hidden; text-align: center">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        history.pushState(null, null, document.location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, document.location.href);
        });

        $(function () {
            $("#linkPssChange").click(function () {
                $("#btnPssChangeClose").show();
                $('#modalPssChange').modal('show');
            });
            $("#btnDelete").click(function () {
                DeleteModal();
            });
            $("#btnModalClose").click(function () {
                $("#btnDelete").click(function () {
                    DeleteModal();
                });
                try {
                    ModalClose();
                } catch (ex) { }
            });
        });
    </script>
    <script>

    $(document).ready(function(){



        function addArr() {

            var height = []

            $('#products .columns').each(function(){
                height.push($(this).height());
            });

            Array.prototype.max = function(){
                return Math.max.apply(null, height);
            };

            $('#products .columns .addHeight').css('min-height', height.max());
        }
        addArr();
    });


    </script>
</body>
</html>
