﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "1";
    ViewBag.Tab = "0";

    bool bolResponse = PageControl.Get;

    DBEntities db = new DBEntities();

    var intBesPlanID = QueryStrings.BesPlanID;

    var intSalePage = QueryStrings.SalePage;

    var saleLog = new tblBesSaleLogs();
    int intLogID = Sessions.BesSaleLog;
    if (intLogID > 0)
    {
        saleLog = db.tblBesSaleLogs.Where(w => w.intLogID == intLogID).First();
    }

    var besPlan = db.tblBesPlans.Where(w => w.intBesPlanID == intBesPlanID).First();

    ViewBag.DifferentPaid = saleLog.bolDifferentPaid;
    if (intSalePage == 0)
    {
        ViewBag.Title = "Aracı Seçimi";
    }
    else if (intSalePage == 1 || intSalePage == 2)
    {
        if (!saleLog.bolDifferentPaid)
        {
            ViewBag.Title = "Katılımcı Bilgileri";
        }
        else
        {
            ViewBag.Title = "Ödeyen Farklı";
        }
    }
    else if (intSalePage == 3 || intSalePage == 4)
    {
        ViewBag.Title = "Katkı Payı Bilgileri";
    }
    else if (intSalePage == 5 || intSalePage == 6)
    {
        ViewBag.Title = "Ödeyen Bilgileri";
    }
    else if (intSalePage == 7)
    {
        ViewBag.Title = "Sözleşme Oluşturma";
    }
}

<script src="/js/cookie.js"></script>

<div class="col-xs-12">
    @if (bolResponse)
    {
        if (intSalePage != 1)
        {
            Sessions.Message2 = "";
        }

        switch (intSalePage)
        {
            case 0:
                <h2>Aracı Seçimi</h2>
                break;
            case 1:
            case 2:
                if (!saleLog.bolDifferentPaid)
                {
                    <h2>Katılımcı Bilgileri</h2>
                }
                else
                {
                    <h2>Ödeyen Farklı</h2>
                }
                break;
            case 3:
            case 4:
                <h2>Katkı Payı Bilgileri</h2>
                break;
            case 5:
            case 6:
                <h2>Ödeyen Bilgileri</h2>
                break;
            case 7:
            case 8:
                <h2>Sözleşme Oluşturma</h2>
                break;
        }

        if (!saleLog.bolDifferentPaid || intSalePage > 2)
        {
            @GetInfo(intSalePage, besPlan, saleLog)
        }

        if (intSalePage == 0)
        {
            string strInterMediary = System.Configuration.ConfigurationManager.AppSettings["InterMediary"].ToString().Split('|')[1];
            if (Sessions.CurrentUser.bolMediator && !string.IsNullOrEmpty(Sessions.CurrentUser.strMediatorID))
            {
                strInterMediary = Sessions.CurrentUser.strMediatorName;
            }

            @GetPage(strInterMediary)
        }
        else if (intSalePage == 1)
        {
            @GetPage1()
        }
        else if (intSalePage == 2)
        {
            @GetPage2(saleLog)
        }

        if (!saleLog.bolDifferentPaid)
        {
            if (intSalePage == 3)
            {
                @GetPage3(besPlan)
            }
            else if (intSalePage == 4)
            {
                @GetPage4(besPlan, saleLog, intSalePage, null)
            }
            else if (intSalePage == 5)
            {
                @GetPage5(besPlan)
            }
        }

        if (intSalePage == 6)
        {
            @GetPage6(saleLog)
        }
        else if (intSalePage == 7)
        {
            if (saleLog.tblBesSaleLogInfo.Count(c => c.bolInfoFormMail || c.bolInfoFormSms) == 0)
            {
                @GetPage7(saleLog.tblBesSaleLogPoliceler.First())
            }
            else
            {
                var policeler = saleLog.tblBesSaleLogPoliceler.FirstOrDefault();
                if (policeler != null)
                {
                    if (!policeler.bolSendMail)
                    {
                        //Logs.BesSaleLogPoliceSendMail(intLogID);
                    }
                }
            }
        }
    }

    @if (besPlan.tblBesPlanFiles.Count > 0)
    {
        string strBesPlanFile = System.Configuration.ConfigurationManager.AppSettings["BesPlanFile"];
        int i = 0;
        <div class="alert alert-info" style="margin-top: 50px">
            @foreach (var item in besPlan.tblBesPlanFiles)
            {
                i++;
                <p>
                    <strong>Pdf @i:</strong> <a href="@(strBesPlanFile + item.strName)" target="_blank">Göster</a>
                </p>
            }
        </div>
    }
</div>

<script type="text/javascript">
    function DeleteModal() {
        location.href = '/shared/close';
    };
</script>

@{
    db.Dispose();
}

@helper GetInfo(int intSalePage, tblBesPlans besPlan, tblBesSaleLogs saleLog)
    {
        <div id="products" class="row">
            <div class="col-xs-12">
                <div class="productContainer">
                    <h3>@besPlan.strPlanName</h3>
                    <p>
                        @Html.Raw(besPlan.strComment)
                    </p>
                </div>
            </div>
        </div>

        if (intSalePage >= 1)
        {
            <div id="products" class="row">
                <div class="col-xs-12">
                    <label class="control-label">Aracı</label>
                    <div class="productContainer" style="height: 55px">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                            <label class="control-label">Ad Soyad :</label>
                            @saleLog.strInterMediaryName
                        </div>
                    </div>
                </div>
            </div>
        }

        if (intSalePage > 1)
        {
            var info = saleLog.tblBesSaleLogInfo.Where(w => !w.DifferentPaid).FirstOrDefault();
            if (info != null)
            {
                <div id="products" class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Katılımcı Bilgileri</label>
                        <div class="productContainer" style="height: 55px">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label">TCKN : </label>
                                @info.TCKN
                            </div>
                            @if (!string.IsNullOrEmpty(info.adi))
                            {
                                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                    <label class="control-label">Ad Soyad : </label>
                                    @info.adi @info.soyadi
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }

        if (intSalePage > 3)
        {
            var saleOrder = saleLog.tblBesSaleLogOrder.FirstOrDefault();
            if (saleOrder != null)
            {
                <div id="products" class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Katkı Payı Bilgileri</label>
                        <div class="productContainer" style="height: 135px">
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label">Düzenli Katkı Payı Tutarı : </label>
                                @Utilities.Price(saleOrder.flOrderlyContAmount)
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Başlangıç Katkı Payı Tutarı : </label>
                                @Utilities.Price(saleOrder.flInitilalContAmount)
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Ek Katkı Payı Tutarı : </label>
                                @Utilities.Price(saleOrder.flExtraContAmount)
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Düzenli Katkı Payı Ödeme Periyodu : </label>
                                @switch (saleOrder.intOrderlyContAmountPeriod)
                                {
                                    case 12:
                                        @("Aylık")
                                        break;
                                    case 4:
                                        @("3 Aylık")
                                        break;
                                    case 2:
                                        @("6 Aylık")
                                        break;
                                    case 1:
                                        @("Yıllık")
                                        break;
                                }
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">İlk Vade Tarihi : </label>
                                @saleOrder.FirstDueDate
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        if (intSalePage > 4)
        {
            var saleOrder = saleLog.tblBesSaleLogOrder.FirstOrDefault();
            if (saleOrder != null)
            {
                List<cFonList> fonList = new List<cFonList>();
                System.Web.Script.Serialization.JavaScriptSerializer javaSer = new System.Web.Script.Serialization.JavaScriptSerializer();
                fonList = javaSer.Deserialize<List<cFonList>>(saleOrder.FonList);

                <div id="products" class="row">
                    <div class="col-xs-12">
                        <div class="productContainer" style="height: @(230 + (fonList.Count > 2 ? (fonList.Count - 2) * 32 : 0))px">
                            @GetPage4(besPlan, saleLog, intSalePage, fonList)
                        </div>
                    </div>
                </div>
            }
        }

        if (intSalePage > 5)
        {
            var saleOrder = saleLog.tblBesSaleLogOrder.FirstOrDefault();
            if (saleOrder != null)
            {
                <div id="products" class="row">
                    <div class="col-xs-12">
                        <div class="productContainer" style="height: 60px">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Ödeyen Farklı </label>
                                <input type="checkbox" style="margin-left: 30px" @(saleLog.bolDifferentPaid ? "checked" : "") disabled />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label class="control-label">Başlangıç Katkı Payı İçin Farklı Ödeme Aracı </label>
                                <input type="checkbox" style="margin-left: 30px" @(saleOrder.InitialDifferentPaid ? "checked" : "") disabled />
                            </div>
                        </div>
                    </div>
                </div>
            }

            if (saleLog.bolDifferentPaid)
            {
                var info = saleLog.tblBesSaleLogInfo.Where(w => w.DifferentPaid).FirstOrDefault();
                if (info != null)
                {
                    <div id="products" class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Ödeyen Farklı Bilgileri</label>
                            <div class="productContainer" style="height: 55px">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                    <label class="control-label">TCKN : </label>
                                    @info.TCKN
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                    <label class="control-label">Ad Soyad : </label>
                                    @info.adi @info.soyadi
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }

        if (intSalePage > 6)
        {
            var police = saleLog.tblBesSaleLogPoliceler.Where(w => w.strMethod == "setbasvuru").FirstOrDefault();
            if (police != null)
            {
                var userSession = Sessions.CurrentUser;

                <div id="products" class="row">
                    <div class="col-xs-12">
                        <div class="productContainer" style="height: 75px">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                <label class="control-label">
                                    @police.intPolID No'lu teklifiniz oluşturulmuştur.
                                    @if (!saleLog.tblBesSaleLogInfo.First().bolInfoFormMail && !saleLog.tblBesSaleLogInfo.First().bolInfoFormSms)
                                    {
                                        @("Tanzim linki müşteriye e-posta veya sms ile gönderilemedi. Teklifi fiba emekliliğe gönderiniz.")
                                    }
                                    else
                                    {
                                        var saleInfo = saleLog.tblBesSaleLogInfo.First();
                                        if (saleInfo.InfoFormSendType == "sms")
                                        {
                                            if (!saleLog.tblBesSaleLogInfo.First().bolInfoFormSms)
                                            {
                                                @("Tanzim linki sms olarak gönderilemedi. E-posta adresine link gönderildi.")
                                            }
                                            else
                                            {
                                                @("Tanzim linki müşteriye sms olarak gönderildi.")
                                            }
                                        }
                                        else
                                        {
                                            if (!saleLog.tblBesSaleLogInfo.First().bolInfoFormMail)
                                            {
                                                @("Tanzim linki e-posta olarak gönderilemedi. Telefon numarasına sms linki gönderildi.")
                                            }
                                            else
                                            {
                                                @("Tanzim linki müşteriye e-posta olarak gönderildi.")
                                            }
                                        }
                                    }

                                    @if (saleLog.tblBesSaleLogInfo.Count == 2)
                                    {
                                        <br />
                                        if (!saleLog.tblBesSaleLogInfo.Last().bolInfoFormMail && !saleLog.tblBesSaleLogInfo.Last().bolInfoFormSms)
                                        {
                                            @("Tanzim linki ödeyen farklı kişiye e-posta veya sms ile gönderilemedi. Teklifi fiba emekliliğe gönderiniz.")
                                        }
                                        else
                                        {
                                            var saleInfo = saleLog.tblBesSaleLogInfo.Last();
                                            if (saleInfo.InfoFormSendType == "sms")
                                            {
                                                if (!saleLog.tblBesSaleLogInfo.Last().bolInfoFormSms)
                                                {
                                                    @("Tanzim linki ödeyen farklı kişiye sms olarak gönderilemedi. E-posta adresine link gönderildi.")
                                                }
                                                else
                                                {
                                                    @("Tanzim linki ödeyen farklı kişiye sms olarak gönderildi.")
                                                }
                                            }
                                            else
                                            {
                                                if (!saleLog.tblBesSaleLogInfo.Last().bolInfoFormMail)
                                                {
                                                    @("Tanzim linki ödeyen farklı kişiye e-posta olarak gönderilemedi. Telefon numarasına sms linki gönderildi.")
                                                }
                                                else
                                                {
                                                    @("Tanzim linki ödeyen farklı kişiye e-posta olarak gönderildi.")
                                                }
                                            }
                                        }
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        if (intSalePage > 7)
        {
            string strMsg = "";
            if (Sessions.CurrentUser.tblCallcenters.bolBesIssued)
            {
                string PolID = "";
                var police = saleLog.tblBesSaleLogPoliceler.Where(w => w.strMethod == "settanzim").FirstOrDefault();
                if (police != null)
                {
                    PolID = police.intPolID;
                }

                strMsg = "<a target=\"_blank\" href=\"/besplansale/pdfview?police=" + cCrypto.EncryptText(PolID) + "\">" + PolID + "</a> No'lu sözleşmeniz oluşturulmuştur.";

                var payLog = saleLog.tblBesSaleLogPay.FirstOrDefault();
                if (payLog != null)
                {
                    bool bolInitialDifferentPaid = false;
                    var orderLog = saleLog.tblBesSaleLogOrder.FirstOrDefault();
                    if (orderLog != null)
                    {
                        if (orderLog.InitialDifferentPaid)
                        {
                            bolInitialDifferentPaid = true;
                            strMsg += " Başlangıç katkı payı tutarı hesaptan tahsil edilecektir.";
                        }
                    }

                    if (!bolInitialDifferentPaid)
                    {
                        if (payLog.issuccess == "T")
                        {
                            strMsg += " Düzenli katkı payı tutarı için kredi kartından provizyon alınmıştır.";

                            if (orderLog != null)
                            {
                                if (orderLog.flInitilalContAmount > 0)
                                {
                                    strMsg += " Başlangıç katkı payı için kredi kartından provizyon alınmıştır.";
                                }
                            }
                        }
                        else
                        {
                            if (orderLog != null)
                            {
                                if (!orderLog.InitialDifferentPaid)
                                {
                                    strMsg += " Kredi kartından provizyon alımı yapılamadı.";
                                }
                            }
                            else
                            {
                                strMsg += " Kredi kartından provizyon alımı yapılamadı.";
                            }
                        }
                    }
                }
            }
            else
            {
                strMsg += "Teklif fiba emekliliğe gönderilmiştir.";
            }

            <div id="products" class="row">
                <div class="col-xs-12">
                    <div class="productContainer" style="height: 55px">
                        <div class="col-xs-12 col-sm-12">
                            <label class="control-label">@Html.Raw(strMsg)</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalFinished" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">TAMAMLANDI</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group col-xs-12">
                                <p>
                                    @Html.Raw(strMsg)
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
        $(function () {
            $('#myModalFinished').modal('show');
        });
            </script>
        }
}

@helper GetPage(string strInterMediary)
    {

        <form id="frmNext1" method="post" action="/BesPlanSale/New?bp=@Request.QueryString["bp"]&sp=1" class="form-horizontal">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strInterMediary">Aracı</label>
                    <input type="text" disabled class="form-control input-md" value="@strInterMediary" />
                </div>
                <div class="buttons">
                    <button type="button" id="btnNext1" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext1fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
            <input type="hidden" id="hdInterMediary" name="hdInterMediary" />
        </form>

        <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $('#btnNext1').click(function () {
                if ($("#strInterMediary").val() == "0") {
                    Msg(2, "Aracı seçiniz!");
                    return;
                }

                $('#btnNext1').hide();
                $('#btnNext1fw').show();

                setTimeout(function () {
                    $('#frmNext1').submit();
                }, 500);
            });

            $("#strInterMediary").change(function () {
                $("#hdInterMediary").val($("#strInterMediary option:selected").text())
            });
        });
        </script>
}

@helper GetPage1()
    {
        <div id="divMessage" style="position: absolute; top: -7px; right: 30px; z-index: 1000000;">
            @if (Sessions.Message2 != "")
            {
                @Html.Raw(Sessions.Message2)
            }
        </div>

        <form id="frmNext2" method="post" action="/BesPlanSale/New?bp=@Request.QueryString["bp"]&sp=2" class="form-horizontal">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="txtTCKN">TC Kimlik No</label>
                    <input type="text" id="txtTCKN" name="txtTCKN" autocomplete="off" class="form-control input-md" placeholder="Kimlik numarası giriniz" />
                </div>
                <div class="buttons">
                    <button type="button" id="btnNext2" class="btn next floatRight">İleri</button>
                    <button type="button" id="btnNext2fw" class="btn next floatRight" style="display: none">İleri</button>
                </div>
            </fieldset>
        </form>

        <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $('#btnNext2').click(function () {
                if ($("#txtTCKN").val() == "") {
                    Msg(3, "TC kimlik nuramasını giriniz!");
                    return;
                }

                $('#btnNext2').hide();
                $('#btnNext2fw').show();

                if (saleInfo != "6") {
                    $.cookie("bessaleinfo", "2", { path: "/" });
                }

                setTimeout(function () {
                    $('#frmNext2').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage2(tblBesSaleLogs saleLog)
    {
        string strTCKN = Sessions.TCKN;

        DBEntities db = new DBEntities();
        FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient aileService = new FibaEmeklilikSales.AileBireySorgu.KpsBireySorguServiceClient();

        var ulkeler = db.tblMapping.Where(w => w.strType == "UYR" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var iller = db.tblMapping.Where(w => w.strType == "ILK" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();
        var ilceler = db.tblMapping.Where(w => w.strType == "ILC" && !string.IsNullOrEmpty(w.strName.Trim())).OrderBy(o => o.strName).ToList();

        db.Dispose();

        bool bolShowFather = false;
        bool bolShowMother = false;
        bool bolShowBirtPlace = false;
        string strVisibleInputs = Sessions.CurrentUser.tblCallcenters.strVisibleInputs;
        if (!string.IsNullOrEmpty(strVisibleInputs))
        {
            List<string> visibleInputs = strVisibleInputs.Split(',').ToList();
            bolShowFather = visibleInputs.Count(c => c == "father") > 0;
            bolShowMother = visibleInputs.Count(c => c == "mother") > 0;
            bolShowBirtPlace = visibleInputs.Count(c => c == "birthplace") > 0;
        }

        bool bolEx = false;
        cBireySorgu birey = new cBireySorgu();
        cAcikAdres adres = new cAcikAdres();

        <form class="form-horizontal" method="post">
            <fieldset>
                @try
                {
                    var kpsBireySorgu = new FibaEmeklilikSales.AileBireySorgu.kisiBilgisiType();
                    try
                    {
                        kpsBireySorgu = aileService.kpsBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                        {
                            cacheStyle = 1,
                            maxAge = 180,
                            kimlikNo = Utilities.NullFixLong(strTCKN),
                            kimlikNoSpecified = true
                        });
                    }
                    catch { }

                    if (kpsBireySorgu.tckimlikNo == 0)
                    {
                        var kpsYabanciSorgu = new FibaEmeklilikSales.AileBireySorgu.yabanciKisiBilgisiType();
                        try
                        {
                            kpsYabanciSorgu = aileService.kpsYabanciBireySorgu(new FibaEmeklilikSales.AileBireySorgu.bireySorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });
                        }
                        catch { }

                        if (kpsYabanciSorgu.tckimlikNo > 0)
                        {
                            var uyr = ulkeler.Where(w => w.strCode == kpsYabanciSorgu.uyrukKod.ToString()).FirstOrDefault();

                            birey.adi = kpsYabanciSorgu.adi;
                            birey.uyrukAd = uyr != null ? uyr.strCountryCode : kpsYabanciSorgu.uyrukAd;
                            birey.babaAdi = kpsYabanciSorgu.babaAdi;
                            birey.cinsiyeti = kpsYabanciSorgu.cinsiyeti;
                            birey.dogumTarihi = kpsYabanciSorgu.dogumTarihi.ToShortDateString();
                            birey.soyadi = kpsYabanciSorgu.soyadi;
                            birey.olum = kpsBireySorgu.olumTarihi == null || kpsBireySorgu.olumTarihi.Year > 1000;
                        }
                        else
                        {
                            bolEx = true;
                            Sessions.Message2 = "<script>$(function () {  $.cookie('bessaleinfo', '1', { path: '/' }); Msg(2, 'Kimlik numarasına ait kullanıcı bulunamadı!'); });</script>";
                            Response.Redirect("/BesPlanSale/New?bp=" + Request.QueryString["bp"] + "&sp=1");
                            return;
                        }
                    }
                    else
                    {
                        birey.adi = kpsBireySorgu.adi;
                        birey.anneAdi = kpsBireySorgu.anneAdi;
                        birey.babaAdi = kpsBireySorgu.babaAdi;
                        birey.cinsiyeti = kpsBireySorgu.cinsiyeti;
                        birey.dogumTarihi = kpsBireySorgu.dogumTarihi.ToShortDateString();
                        birey.dogumYeri = kpsBireySorgu.dogumYeri;
                        birey.medeniHali = kpsBireySorgu.medeniHali;
                        birey.soyadi = kpsBireySorgu.soyadi;
                        birey.uyrukAd = "TR";
                        birey.olum = kpsBireySorgu.olumTarihi == null || kpsBireySorgu.olumTarihi.Year > 1000;
                    }

                    if (birey.olum)
                    {
                        bolEx = true;
                        <script>Msg(2, 'Kimlik numarasına ait kişinin durumu vefat görünmektedir!');</script>
                    }
                }
                catch (Exception ex)
                {
                    bolEx = true;
                    Logs.BesSaleLog(false, Enums.LogType.PayView, saleLog.intBesPlanID, Logs.Error(ex));

                    Sessions.Message2 = "<script>$(function () {  $.cookie('bessaleinfo', '1', { path: '/' }); Msg(2, 'Kimlik numarasına ait kullanıcı bulunamadı!'); });</script>";
                    Response.Redirect("/BesPlanSale/New?bp=" + Request.QueryString["bp"] + "&sp=1");
                    return;
                }

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Uyruk</label>
                    <input id="uyruk" type="text" disabled class="form-control input-md" value="@birey.uyrukAd">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ad</label>
                    <input type="text" disabled class="form-control input-md" value="@birey.adi">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Soyad</label>
                    <input type="text" disabled class="form-control input-md" value="@birey.soyadi">
                </div>
                @if (bolShowMother)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Anne Adı</label>
                        <input type="text" @Html.Raw(birey.uyrukAd == "TR" ? "disabled" : "") id="anneAdi_t" class="form-control input-md" value="@birey.anneAdi">
                    </div>
                }
                @if (bolShowFather)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Baba Ad</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.babaAdi">
                    </div>
                }
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Cinsiyet</label>
                    <input type="text" disabled class="form-control input-md" value="@birey.cinsiyeti">
                </div>

                @if (bolShowBirtPlace)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Dogum Yeri İl / İlçe</label>
                        <input type="text" disabled class="form-control input-md" value="@birey.dogumYeri">
                    </div>
                }
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Doğum Tarihi</label>
                    <input type="text" disabled class="form-control input-md" value="@birey.dogumTarihi">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Medeni Hali</label>
                    @if (birey.uyrukAd == "TR")
                    {
                        <input type="text" disabled class="form-control input-md" value="@birey.medeniHali">
                    }
                    else
                    {
                        <select onchange="$('#medeniHali').val($(this).val());" class="selectpicker" data-width="100%" data-size="5">
                            <option value="E">Evli</option>
                            <option value="B">Bekar</option>
                        </select>
                    }
                </div>
            </fieldset>
        </form>
        <br />
        <form class="form-horizontal" id="frmNext3" method="post" action="/BesPlanSale/New?bp=@(Request.QueryString["bp"])&sp=3">
            <input type="hidden" id="adi" name="adi" value="@birey.adi" />
            <input type="hidden" id="soyadi" name="soyadi" value="@birey.soyadi" />
            <input type="hidden" id="anneAdi" name="anneAdi" value="@birey.anneAdi" />
            <input type="hidden" id="babaAdi" name="babaAdi" value="@birey.babaAdi" />
            <input type="hidden" id="cinsiyeti" name="cinsiyeti" value="@birey.cinsiyeti" />
            <input type="hidden" id="dogumYeri" name="dogumYeri" value="@birey.dogumYeri" />
            <input type="hidden" id="dogumTarihi" name="dogumTarihi" value="@birey.dogumTarihi" />
            <input type="hidden" id="medeniHali" name="medeniHali" value="@birey.medeniHali" />
            <fieldset>
                @try
                {
                    if (!bolEx)
                    {
                        if (birey.uyrukAd == "TR")
                        {
                            var kpsTCKisiAcikAdresSorgu = aileService.kpsTCKisiAcikAdresSorgu(new FibaEmeklilikSales.AileBireySorgu.kisiAdresSorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });

                            if (kpsTCKisiAcikAdresSorgu.kimlikNo > 0)
                            {
                                adres.acikAdres = kpsTCKisiAcikAdresSorgu.acikAdres;
                                adres.ilceKodu = kpsTCKisiAcikAdresSorgu.ilceKodu;
                                adres.ilKodu = kpsTCKisiAcikAdresSorgu.ilKodu;
                            }
                        }
                        else
                        {
                            var kpsYabanciAcikAdresSorgu = aileService.kpsYabanciKisiAcikAdresSorgu(new FibaEmeklilikSales.AileBireySorgu.kisiAdresSorguInputType()
                            {
                                cacheStyle = 1,
                                maxAge = 180,
                                kimlikNo = Utilities.NullFixLong(strTCKN),
                                kimlikNoSpecified = true
                            });

                            if (kpsYabanciAcikAdresSorgu.kimlikNo > 0)
                            {
                                adres.acikAdres = kpsYabanciAcikAdresSorgu.acikAdres;
                                adres.ilceKodu = "99900";
                                adres.ilKodu = "99";
                            }
                        }
                    }
                }
                catch (Exception ex)
                {
                    Logs.BesSaleLog(false, Enums.LogType.PayView, saleLog.intBesPlanID, Logs.Error(ex));
                }

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ülke Kod</label>
                    <select id="ulkekod" name="ulkekod" class="selectpicker" data-width="100%" data-size="5">
                        @foreach (var item in ulkeler)
                        {
                            <option value="@item.strCountryCode" @(item.strCountryCode == birey.uyrukAd ? "selected" : "")>@item.strName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İl Kod</label>
                    <select id="ilkod" name="ilkod" class="selectpicker" data-width="100%" data-size="5">
                        @if (birey.uyrukAd == "TR")
                        {
                            foreach (var item in iller)
                            {
                                <option value="@item.strCode.Trim()" @(!bolEx ? (item.strCode.Trim() == adres.ilKodu && birey.uyrukAd == "TR" ? "selected" : "") : "")>@item.strName</option>
                            }
                        }
                        else if (birey.uyrukAd != "TR")
                        {
                            <option value="99" selected>YABANCI İL</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İlçe Kod</label>
                    <select id="ilcekod" name="ilcekod" class="selectpicker" data-width="100%" data-size="5">
                        @if (birey.uyrukAd == "TR")
                        {
                            if (iller.Count(c => c.strCode.Trim() == adres.ilKodu) > 0)
                            {
                                ilceler = ilceler.Where(w => w.strCode.Trim().Substring(0, 3) == adres.ilKodu).ToList();
                            }

                            foreach (var item in ilceler)
                            {
                                <option value="@item.strCode.Trim()" @(!bolEx ? (item.strCode.Trim() == (!string.IsNullOrEmpty(adres.ilceKodu) ? adres.ilceKodu.Trim() : "") && birey.uyrukAd == "TR" ? "selected" : "") : "")>@item.strName</option>
                            }
                        }
                        else
                        {
                            <option value="99900" selected>YABANCI İLÇE</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Telefon No **</label>
                    <input type="text" id="iletisimno" required name="iletisimno" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">E-posta **</label>
                    <input type="text" id="email" name="email" maxlength="250" required class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Adres</label>
                    <textarea id="adres" name="adres" maxlength="1000" class="form-control">@adres.acikAdres</textarea>
                </div>
                <input type="hidden" name="uyruk" value="@birey.uyrukAd" />
            </fieldset>
        </form>

        if (!bolEx)
        {
            <div class="buttons" style="margin-top: 10px;">
                <button type="button" id="btnNext3" class="btn next floatRight">İleri</button>
                <button type="button" id="btnNext3fw" class="btn next floatRight" style="display: none">İleri</button>
            </div>
            <br />
            <br />
        }

            <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $("#btnNext3").click(function () {
                $("#divMessage").html("");
                var bolDifferent = "@(saleLog.bolDifferentPaid ? "1" : "0")";
                try {
                    var i = parseInt($("#iletisimno").val());
                    if (i == 0 || isNaN($("#iletisimno").val()) || $.trim($("#iletisimno").val()) == "") {
                        Msg(3, "Telefon numarasını giriniz!");
                        return;
                    }
                    else {
                        if ($.trim($("#iletisimno").val()).length < 10 || $.trim($("#iletisimno").val()).length > 11) {
                            Msg(3, "Telefon numarasını hatalı girdiniz!");
                            return;
                        }
                    }
                } catch (ex) {
                    Msg(3, "Telefon numarasını giriniz!");
                    return;
                }

                if (bolDifferent == "1") {
                    var iletisimNo = '@(saleLog.tblBesSaleLogInfo.First() != null ? saleLog.tblBesSaleLogInfo.First().iletisimno : "")'
                    if (iletisimNo == $("#iletisimno").val()) {
                        Msg(3, "İletişim numarası katılımcı ile aynı olmamalı!");
                        return;
                    }
                }

                if ($("#email").val() == "") {
                    Msg(3, "E-posta adresini giriniz!");
                    return;
                }

                if ($.trim($("#email").val()) != "") {
                    if (!emailReg.test($("#email").val())) {
                        Msg(3, "E-posta adresini hatalı girdiniz!");
                        return;
                    }
                }

                if (bolDifferent == "1") {
                    var email = '@(saleLog.tblBesSaleLogInfo.First() != null ? saleLog.tblBesSaleLogInfo.First().email : "")'
                    if (email == $("#email").val()) {
                        Msg(3, "E-posta adresi katılımcı ile aynı olmamalı!");
                        return;
                    }
                }

                if ($("#adres").val() == "") {
                    Msg(3, "Adresi giriniz!");
                    return;
                }

                if ($("#uyruk").val() != "TR") {
                    if ($("#anneAdi_t").val() == "") {
                        Msg(3, "Anne adını giriniz!");
                        return;
                    }

                    $('#anneAdi').val($('#anneAdi_t').val());
                }

                $('#btnNext3').hide();
                $('#btnNext3fw').show();

                $.cookie("bessaleinfo", "@(saleLog.bolDifferentPaid ? "6" : "3")", { path: "/" });

                setTimeout(function () {
                    $('#frmNext3').submit();
                }, 500);
            });
            $("#ilkod").change(function () {
                $('#ilcekod option[value!="0"]').remove();
                $('#ilcekod').selectpicker('refresh');
                $.ajax({
                    url: "/ProductSale/Counties",
                    dataType: "json",
                    data: { id: $("#ilkod").val() },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#ilcekod").append('<option value="' + data[i].strCode + '">' + data[i].strName + '</option>');
                        }
                        $('#ilcekod').selectpicker('refresh');
                    }
                });
            });
        });
            </script>

        aileService.Close();
        aileService.Abort();
}

@helper GetPage3(tblBesPlans besPlan)
    {
        <form class="form-horizontal" id="frmNext4" method="post" action="/BesPlanSale/New?bp=@(Request.QueryString["bp"])&sp=4">
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Düzenli Katkı Payı Tutarı</label>
                    <input type="text" id="flOrderlyContAmount" name="flOrderlyContAmount" class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Başlangıç Katkı Payı Tutarı</label>
                    <input type="text" id="flInitilalContAmount" name="flInitilalContAmount" @(besPlan.bolInitialCont ? "" : "disabled") class="form-control input-md" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ek Katkı Payı Tutarı</label>
                    <input type="text" id="flExtraContAmount" name="flExtraContAmount" class="form-control input-md">
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Düzenli Katkı Payı Ödeme Periyodu</label>
                    <select id="intOrderlyContAmountPeriod" name="intOrderlyContAmountPeriod" class="selectpicker" data-width="100%" data-size="5">
                        <option value="12">Aylık</option>
                        <option value="4">3 Aylık</option>
                        <option value="2">6 Aylık</option>
                        <option value="1">Yıllık</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">İlk Vade Tarihi</label>
                    <input type="text" id="FirstDueDate" name="FirstDueDate" maxlength="10" class="form-control input-md">
                </div>
            </fieldset>
        </form>

        <input type="hidden" id="flMinContAmount" value="@besPlan.flMinContAmount" />
        <input type="hidden" id="flInitialCont" value="@besPlan.flInitialCont" />

        <div class="buttons" style="margin-top: 10px;">
            <button type="button" id="btnNext4" class="btn next floatRight">İleri</button>
            <button type="button" id="btnNext4fw" class="btn next floatRight" style="display: none">İleri</button>
        </div>

        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $.datepicker.setDefaults($.datepicker.regional['tr']);
            $("#FirstDueDate").datepicker({ minDate: 0, maxDate: "+1M" });
            $("#FirstDueDate").datepicker("option", "dateFormat", "dd.mm.yy");
            $("#FirstDueDate").val('@(DateTime.Now.ToString("dd.MM.yyyy"))');

            $("#btnNext4").click(function () {
                $("#divMessage").html("");

                try {
                    var i = ParseDec($("#flOrderlyContAmount").val());
                    if (i == 0 || i == NaN) {
                        Msg(3, "Düzenli katkı payı tutarını giriniz!");
                        return false;
                    }
                } catch (ex) {
                    Msg(3, "Düzenli katkı payı tutarını giriniz!");
                    return false;
                }

                if (ParseDec($("#flOrderlyContAmount").val()) < ParseDec($("#flMinContAmount").val())) {
                    Msg(3, "Düzenli katkı payı tutarı " + $("#flMinContAmount").val() + " den küçük olamaz!");
                    return false;
                }

                if ('@(besPlan.bolInitialCont ? "1" : "0")' == '1') {
                    if (ParseDec($("#flInitilalContAmount").val()) > 0) {
                        if (ParseDec($("#flInitilalContAmount").val()) < ParseDec($("#flInitialCont").val())) {
                            Msg(3, "Başlangıç katkı payı tutarı " + $("#flInitialCont").val() + " den küçük olamaz!");
                            return false;
                        }
                    } else {
                        Msg(3, "Başlangıç katkı payı tutarını giriniz!");
                        return false;
                    }
                }

                if ($("#FirstDueDate").val() == "") {
                    Msg(3, "İlk vade tarihini seçiniz!");
                    return;
                }

                $('#btnNext4').hide();
                $('#btnNext4fw').show();

                $.cookie("bessaleinfo", "4", { path: "/" });

                setTimeout(function () {
                    $('#frmNext4').submit();
                }, 500);
            });
        });
        function ParseDec(val) {
            return parseFloat(val.replace('.', '').replace(',', '.'));
        }
        </script>
}

@helper GetPage4(tblBesPlans besPlan, tblBesSaleLogs saleLog, int intSalePage, List<cFonList> fonList)
    {
        FibaEmeklilikSales.FibaBES.FibaBesWebServiceClient service = new FibaEmeklilikSales.FibaBES.FibaBesWebServiceClient();
        var tarife = new FibaEmeklilikSales.FibaBES.EmkbasvurulibtarifeoutputtypUser();
        var fonlistService = service.getfonbytarife(besPlan.strPlanCode);

        if (intSalePage == 4)
        {
            @Html.Raw("<form class=\"form-horizontal\" id=\"frmNext5\" method=\"post\" action=\"/BesPlanSale/New?bp=" + (Request.QueryString["bp"]) + "&sp=5\"><fieldset>")
        }
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <label class="control-label">Fon Bilgileri</label>
            <table id="tblFonList" style="border: solid 1px #ccc;">
                <tr>
                    <td style="border: solid 1px #ccc; padding: 5px">Fon Adı</td>
                    <td style="border: solid 1px #ccc; padding: 5px">Oran %</td>
                </tr>
                @if (fonlistService.fonlar != null)
                {
                    DBEntities db = new DBEntities();
                    var besFunds = db.tblBesFunds.ToList();

                    int intTotalFund = 0;
                    int isdk = 0;
                    int i = -1;
                    foreach (var item in fonlistService.fonlar)
                    {
                        var besFund = besFunds.Where(w => w.strCode == item.fonkod).FirstOrDefault();
                        if (besFund != null)
                        {
                            if (intSalePage != 4 && item.isdk == "T")
                            {
                                continue;
                            }
                            intTotalFund++;

                            <tr data-isdk="@item.isdk">
                                <td style="border: solid 1px #ccc; padding: 5px">
                                    @item.fonaciklama
                                </td>
                                <td style="border: solid 1px #ccc; padding: 5px">
                                    @if (intSalePage == 4)
                                    {
                                        if (item.isdk == "T")
                                        {
                                            isdk++;
                                        }
                                        else
                                        {
                                            i++;
                                            <input type="hidden" @Html.Raw(item.isdk == "F" || item.isdk == "" ? "id=\"fonkod" + i + "\" name=\"fonkod" + i + "\"" : "") value="@(item.fonkod)" />
                                        }

                                        <input @(item.isdk == "T" ? "disabled" : "") type="text" @Html.Raw(item.isdk == "F" || item.isdk == "" ? "id=\"fonstandartoran" + i + "\" name=\"fonstandartoran" + i + "\"" : "") data-isdk="@item.isdk" value="@(item.fonstandartoran * 100)" class="form-control input-md">
                                    }
                                    else
                                    {
                                        var fon = fonList.Where(w => w.FonKod == item.fonkod).FirstOrDefault();
                                        if (fon != null)
                                        {
                                            @fon.Oran
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <input type="hidden" id="FonListCount" name="FonListCount" value="@(intTotalFund - isdk)" />
                }
            </table>
        </div>

        if (intSalePage == 4)
        {
            @Html.Raw("</fieldset></form>")

            <div class="buttons" style="margin-top: 10px;">
                <button type="button" id="btnNext5" class="btn next floatRight">İleri</button>
                <button type="button" id="btnNext5fw" class="btn next floatRight" style="display: none">İleri</button>
            </div>

            <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            if ('@(intSalePage == 4 ? "1" : "0")' == '1') {
                var isdk = "";
                $("#tblFonList tr").each(function () {
                    if ($(this).attr("data-isdk") == "T") {
                        isdk = $(this).html();
                        $(this).remove();
                    }
                });

                if (isdk != "") {
                    $("#tblFonList").append(isdk);
                }
            }

            $("#btnNext5").click(function () {
                $("#divMessage").html("");

                var flFonList = 0;
                $("#tblFonList input").each(function () {
                    if ($(this).attr("data-isdk") == "F" || $(this).attr("data-isdk") == "") {
                        var strVal = $(this).val() == null || $(this).val() == "" ? "0" : $(this).val();
                        flFonList += ParseDec(strVal);
                    }
                });

                if (flFonList != 100) {
                    Msg(3, "Girilen oranların toplamı 100 olmalıdır!");
                    return;
                }

                $('#btnNext5').hide();
                $('#btnNext5fw').show();

                $.cookie("bessaleinfo", "5", { path: "/" });

                setTimeout(function () {
                    $('#frmNext5').submit();
                }, 500);
            });
        });
        function ParseDec(val) {
            try {
                return parseFloat(val.replace('.', '').replace(',', '.'));
            } catch (ex) { }
        }
            </script>
        }
}

@helper GetPage5(tblBesPlans besPlan)
    {
        <form class="form-horizontal" id="frmNext6" method="post" action="/BesPlanSale/New?bp=@(Request.QueryString["bp"])&sp=6">
            <fieldset>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Ödeyen Farklı </label>
                    <input type="checkbox" id="DifferentPaid" name="DifferentPaid" style="margin-left: 30px" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label">Başlangıç Katkı Payı İçin Farklı Ödeme Aracı </label>
                    <input type="checkbox" id="InitialDifferentPaid" name="InitialDifferentPaid" style="margin-left: 30px" @(besPlan.bolInitialCont ? "" : "disabled") />
                </div>
            </fieldset>
        </form>

        <div class="buttons" style="margin-top: 10px;">
            <button type="button" id="btnNext6" class="btn next floatRight">İleri</button>
            <button type="button" id="btnNext6fw" class="btn next floatRight" style="display: none">İleri</button>
        </div>

        <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $("#btnNext6").click(function () {
                $("#divMessage").html("");

                $('#btnNext6').hide();
                $('#btnNext6fw').show();

                $.cookie("bessaleinfo", "6", { path: "/" });

                setTimeout(function () {
                    $('#frmNext6').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage6(tblBesSaleLogs saleLog)
    {
        bool bolInitialDifferentPaid = saleLog.tblBesSaleLogOrder.First().InitialDifferentPaid;

        <form class="form-horizontal" id="frmNext7" method="post" action="/BesPlanSale/New?bp=@(Request.QueryString["bp"])&sp=7">
            @if (bolInitialDifferentPaid)
            {
                DBEntities db = new DBEntities();
                <fieldset style="border-bottom: solid 1px #ccc; padding-bottom: 20px">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label" style="margin-bottom: 20px">Başlangıç Katkı Payı Ödeme Aracı Giriş</label>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                        <label class="control-label">Hesap Numarası</label>
                        <input type="text" id="hesapno" name="hesapno" class="form-control input-md" style="width: 250px" />
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="control-label">Şube Kodu</label>
                        <select id="subeno" name="subeno" class="selectpicker" data-width="250px" data-size="50">
                            @foreach (var item in db.tblBranches.ToList())
                            {
                                <option value="@item.strCode">@item.strName</option>
                            }
                        </select>
                    </div>
                </fieldset>

                db.Dispose();
            }
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label" style="margin-bottom: 20px">Düzenli Katkı Payı Ödeme Aracı Giriş</label>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="control-label">Kredi Kartı Numarası</label>
                    <input type="text" id="kartno" name="kartno" class="form-control input-md" style="width: 250px" maxlength="16" />
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <label class="control-label">Son Kullanma Tarihi</label>
                    <select id="kartay" name="kartay" class="selectpicker" data-width="80px" data-size="5">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@(i < 10 ? "0" + i : i.ToString())">@(i < 10 ? "0" + i : i.ToString())</option>
                        }
                    </select>
                    <select id="kartyil" name="kartyil" class="selectpicker" data-width="80px" data-size="5">
                        @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year + 10; i++)
                        {
                            <option value="@i.ToString().Substring(2, 2)">@i</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-2">
                    <label class="control-label">Kart Tipi</label>
                    <select id="karttipi" name="karttipi" class="selectpicker" data-width="80px" data-size="5">
                        <option value="V">Visa</option>
                        <option value="M">Master</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-2">
                    <label class="control-label">Güvenlik Kodu</label>
                    <input type="text" id="cvv" name="cvv" style="width: 80px" class="form-control input-md" />
                </div>
            </fieldset>
            <br />
            <fieldset>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label">Bilgilendirme Formunu Katılımcıya Gönder</label>
                    <select id="InfoFormSendType" name="InfoFormSendType" class="selectpicker">
                        <option value="sms">Sms İle Gönder</option>
                        <option value="mail"> E-posta İle Gönder</option>
                    </select>
                </div>
            </fieldset>
        </form>

        <div class="buttons" style="margin-top: 10px;">
            <button type="button" id="btnNext7" class="btn next floatRight">İleri</button>
            <button type="button" id="btnNext7fw" class="btn next floatRight" style="display: none">İleri</button>
        </div>

        <script type="text/javascript">
        $(function () {
            var saleInfo = $.cookie("bessaleinfo");

            $("#btnNext7").click(function () {
                $("#divMessage").html("");

                if ($("#kartno").val() == "") {
                    Msg(2, "Kart numarasını giriniz!");
                    return;
                }

                if ($("#hesapno").val() == "" && '@(bolInitialDifferentPaid ? '1' : '0')' == '1') {
                    Msg(2, "Hesap numarasını giriniz!");
                    return;
                }

                $('#btnNext7').hide();
                $('#btnNext7fw').show();

                setTimeout(function () {
                    $('#frmNext7').submit();
                }, 500);
            });
        });
        </script>
}

@helper GetPage7(tblBesSaleLogPoliceler saleLog)
    {
        <form id="frmNext8" method="post" action="/BesPlanSale/New?bp=@(Request.QueryString["bp"])&sp=8"></form>

        <div class="buttons" style="margin-top: 10px;">
            @*@if (Sessions.CurrentUser.tblCallcenters.bolBesIssued)
                {
                    <button type="button" id="btnNext8" class="btn btn-success floatRight" style="width: 170px">Satışı Bitir ve Ödeme Yap</button>
                    <button type="button" id="btnNext8fw" class="btn btn-success floatRight" style="display: none; width: 170px">Satışı Bitir ve Ödeme Yap</button>
                }
                else
                {*@
            <button type="button" id="btnNext9" class="btn btn-success floatRight" style="width: 190px;">Teklifi Fibaemekliliğe Gönder</button>
            <button type="button" id="btnNext9fw" class="btn btn-success floatRight" style="display: none; width: 190px">Teklifi Fibaemekliliğe Gönder</button>
            @*}*@
        </div>

        <div id="myModalTeklif" class="modal fade" data-keyboard="false" data-backdrop="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">ONAY</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-xs-12">
                            <p>Teklif formu imzalatıldı mı?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-8"></div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                            <button type="button" id="btnNext8Pay" class="btn btn-primary">Evet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        $(function () {
            $("#btnNext8").click(function () {
                $("#divMessage").html("");
                $('#myModalTeklif').modal('show');
            });

            $("#btnNext8Pay").click(function () {
                $('#btnNext8').hide();
                $('#btnNext8fw').show();

                $.cookie("bessaleinfo", "8", { path: "/" });

                setTimeout(function () {
                    $('#frmNext8').submit();
                }, 500);
            });

            $("#btnNext9").click(function () {
                $.cookie("bessaleinfo", "8", { path: "/" });

                setTimeout(function () {
                    $('#frmNext8').submit();
                }, 500);
            });
        });
        </script>
}