﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Top = "0";
    ViewBag.Tab = "0";

    string strSearch = QueryStrings.search != "" ? cCrypto.DecryptText(QueryStrings.search) : "";
    
    <div class="col-xs-12">
        @if (strSearch != "")
        {
            try
            {
                using (FibaEmeklilikSales.FibaBES.FibaBesWebServiceClient service = new FibaEmeklilikSales.FibaBES.FibaBesWebServiceClient())
                {
                    var getsozlesmebilgi = service.getsozlesmebilgi(new FibaEmeklilikSales.FibaBES.EmkbasvurulibinputtypUser
                    {
                        tckimlikno = strSearch,
                        userbilgi = new FibaEmeklilikSales.FibaBES.EmkbasvurulibuserinputtypUser
                        {
                            bankano = null,
                            kullanicikodu = System.Configuration.ConfigurationManager.AppSettings["BesWsUserCode"],
                            password = System.Configuration.ConfigurationManager.AppSettings["BesWsPss"],
                            username = System.Configuration.ConfigurationManager.AppSettings["BesWsUserName"],
                            subeno = Utilities.NullFixDecimal(Sessions.CurrentUser.tblCallcenters.strBankNo)
                        }
                    }).result;


                    if (getsozlesmebilgi != null)
                    {
                        if (getsozlesmebilgi.Count > 0)
                        {
                            var sozlesme = getsozlesmebilgi.Where(w => w.polid == Utilities.NullFixDecimal(Request.QueryString["polid"])).FirstOrDefault();
                            if (sozlesme != null)
                            {
                                DBEntities db = new DBEntities();

                                var fonlistService = db.tblPhons.ToList();
                                db.Dispose();
                            
            <div class="row">
                <div class="col-xs-12">
                    <div class="productContainer" style="height: 135px">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                            <label class="control-label">Sözleşme Numarası : </label>
                            @sozlesme.sozlesmeno
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Ürün Adı : </label>
                            @sozlesme.planadi
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Yürürlük Tarihi : </label>
                            @Utilities.DataParse(sozlesme.yururluktar)
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Tanzim Tarihi : </label>
                            @Utilities.DataParse(sozlesme.tanzimtar)
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Ödeyen Adı : </label>
                            @sozlesme.odeyenbilgi.ad
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Ödeyen Soyadı : </label>
                            @sozlesme.odeyenbilgi.soyad
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Yıllık Katkı Payı Tutarı : </label>
                            @sozlesme.yilprim
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">İlk Vade Tarihi : </label>
                            @Utilities.DataParse(sozlesme.ilkvadetar)
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Giriş Aidatı Tutarı / Ödeme Dönemi : </label>
                            @sozlesme.gatutar /
                            @switch (sozlesme.gaodedonem)
                            {
                                case "1":
                                @("Peşin")
                                    break;
                                case "12":
                                @("Aylık")
                                    break;
                                case "4":
                                @("3 Aylık")
                                    break;
                                case "2":
                                @("6 Aylık")
                                    break;
                            }
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Fon Bilgileri : </label>

                            <table id="tblFonList" style="border: solid 1px #ccc;">
                                <tr>
                                    <td style="border: solid 1px #ccc; padding: 5px">Fon Adı</td>
                                    <td style="border: solid 1px #ccc; padding: 5px">Oran %</td>
                                </tr>
                                @foreach (var item in sozlesme.fondetay)
                                {
                                    var fon = fonlistService.Where(w => w.strFonCode == item.fonkod).FirstOrDefault();
                                    if (fon != null)
                                    {
                                    <tr>
                                        <td style="border: solid 1px #ccc; padding: 5px">
                                            @fon.strFonName
                                        </td>
                                        <td style="border: solid 1px #ccc; padding: 5px">% @(item.fonoran * 100)</td>
                                    </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Birikim Tutarı : </label>
                            @sozlesme.anaparagetiri.birikim
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="control-label">Emeklilik Tarihi Bilgileri : </label>
                            @Utilities.DataParse(sozlesme.emekliliktar)
                        </div>
                    </div>
                </div>
            </div>
                            }
                        }
                    }
                    service.Close();
                }
            }
            catch (Exception ex)
            {
                Logs.Error(ex);
            }
        }
    </div> 
}