﻿@{
    ViewBag.Title = "Mesaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = " body-modal";
}

<div class="perfect-form">
    @ViewBag.Message
    <div class="row" style="width: 100%; text-align: center; padding-bottom: 20px; font-size: 16px">
        <a href="/collection/pay@(string.IsNullOrEmpty(CollectionPay.Classes.QueryStrings.t) ? "" : "?t=" + CollectionPay.Classes.QueryStrings.t)">Tahsilat ödeme sayfasın geri dönmek için tıklayınız.</a>
    </div>
</div>
