@using WebSales.Classes
@model cPayData

@{ var CardInfo = Sessions.CardInfo; }

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9">
    <script type="text/javascript" src="/js/fibaemeklilik.vendor.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("#form1").submit();
        });
    </script>
</head>
<body>
    <form id="form1" method="post" action="@System.Configuration.ConfigurationManager.AppSettings["GarantiPostPath"]">
        <input type="hidden" name="cardnumber" value="@CardInfo.cardno" />
        <input type="hidden" name="cardexpiredateyear" value="@CardInfo.year" />
        <input type="hidden" name="cardexpiredatemonth" value="@CardInfo.month" />
        <input type="hidden" name="cardcvv2" value="@CardInfo.cvv2" />
        <input type="hidden" name="secure3dsecuritylevel" value="3D" />
        <input type="hidden" name="mode" value="@Model.garanti.mode" />
        <input type="hidden" name="apiversion" value="@Model.garanti.apiversion" />
        <input type="hidden" name="terminalprovuserid" value="@Model.garanti.terminalprovuserid" />
        <input type="hidden" name="terminaluserid" value="@Model.garanti.terminaluserid" />
        <input type="hidden" name="terminalmerchantid" value="@Model.garanti.terminalmerchantid" />
        <input type="hidden" name="txntype" value="@Model.garanti.txntype" />
        <input type="hidden" name="txnamount" value="@Model.garanti.txnamount" />
        <input type="hidden" name="txncurrencycode" value="@Model.garanti.txncurrencycode" />
        <input type="hidden" name="txninstallmentcount" value="@Model.garanti.txninstallmentcount" />
        <input type="hidden" name="orderid" value="@Model.garanti.orderid" />
        <input type="hidden" name="terminalid" value="@Model.garanti.terminalid" />
        <input type="hidden" name="successurl" value="@Model.garanti.successurl" />
        <input type="hidden" name="errorurl" value="@Model.garanti.errorurl" />
        <input type="hidden" name="secure3dhash" value="@Model.garanti.secure3dhash" />
    </form>
</body>
</html>

<form id="form2" name="form2" method="post" action="https://sanalposprovtest.garanti.com.tr/servlet/gt3dengine">
    <div>
        <input type="hidden" name="secure3dsecuritylevel" id="secure3dsecuritylevel" value="3D" />
        <input type="hidden" name="mode" id="mode" value="TEST" />
        <input type="hidden" name="apiversion" id="apiversion" value="v0.01" />
        <input type="hidden" name="terminalprovuserid" id="terminalprovuserid" value="PROVAUT" />
        <input type="hidden" name="terminaluserid" id="terminaluserid" value="SANALUSER" />
        <input type="hidden" name="terminalmerchantid" id="terminalmerchantid" value="7000679" />
        <input type="hidden" name="txntype" id="txntype" value="sales" />
        <input type="hidden" name="txnamount" id="txnamount" value="100" />
        <input type="hidden" name="txncurrencycode" id="txncurrencycode" value="949" />
        <input type="hidden" name="txninstallmentcount" id="txninstallmentcount" value="" /> 
        <input type="hidden" name="orderid" id="orderid" value="@Model.garanti.orderid" />
        <input type="hidden" name="terminalid" id="terminalid" value="30691297" />
        <input type="hidden" name="successurl" id="successurl" value="http://localhost:8037/test/finish" />
        <input type="hidden" name="errorurl" id="errorurl" value="http://localhost:8037/test/finish" /> 
        <input type="hidden" name="secure3dhash" id="secure3dhash" value="@Model.garanti.secure3dhash" /> 
        <input type="hidden" name="cardnumber" id="cardnumber" value="4282209004348015" />
        <input type="hidden" name="cardexpiredatemonth" id="cardexpiredatemonth" value="05" />
        <input type="hidden" name="cardexpiredateyear" id="cardexpiredateyear" value="18" />
        <input type="hidden" name="cardcvv2" id="cardcvv2" value="123" /> 
        <input type="hidden" name="customeremailaddress"  id="customeremailaddress"  Value="fatih.aspnet@gricreative.com" />
        <input type="hidden" name="customeripaddress"  id="customeripaddress"  Value="85.105.198.251" />
    </div>
    <button type="submit">Submit</button>
</form>
