﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ürünler";
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get;    
    if (bolResponse)
    {
        List<tblCredits> credits = new List<tblCredits>();

        DBEntities db = new DBEntities();

        if (Sessions.CurrentUser.tblUserTypes.bolPowerAdmin)
        {
            credits.AddRange(db.tblCredits.Where(w => !w.bolIsDelete).ToList());
        }
        else
        {
            credits.AddRange(db.tblCredits.Where(w => !w.bolIsDelete && w.intCallcenterID == Sessions.CurrentUser.intCallcenterID).ToList());
        }

        string strSearch = QueryStrings.search;
        if (!string.IsNullOrEmpty(strSearch))
        {
            credits = credits.Where(w => w.strName.ToLower().Contains(strSearch.ToLower())).ToList();
        }

        int intPageSize = 20;
        int intCount = (credits.Count / intPageSize) + (credits.Count % intPageSize > 0 ? 1 : 0);

        int intPage = QueryStrings.page;
        intPage = intPage > 0 ? intPage - 1 : intPage;

        credits = credits.Skip(intPage * intPageSize).Take(intPageSize).ToList();

        bool bolInsert = PageControl.GetDetail(false, "", "new");
        bool bolUpdate = PageControl.GetDetail(false, "", "update");
        bool bolDelete = PageControl.GetDetail(false, "", "delete");

    <div class="col-xs-12">
        <h2>Kredi Teminatları</h2>

        @if (bolInsert)
        {
            <a href="/Credit/New">Yeni Kredi Teminatı Ekle</a>
        }

        <form method="get" action="@Request.Url.AbsolutePath" class="form-horizontal">
            <fieldset>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="txtSearch" name="txtSearch" value="@QueryStrings.search" class="form-control input-md" placeholder="Kredi teminatı adı giriniz"/>
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button type="submit" id="btnSearch" class="btn btn-success">Ara</button>
                </div>
            </fieldset>
        </form>
        <br />
        <div class="tableContainer">
            <table class="table">
                <tr>
                    <th>Adı</th>
                    <th>Paket Adedi</th>
                    <th>Durum</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Ekleme Tarihi</th> 
                    <th width="360px">&nbsp;</th>
                </tr>
                @if (credits.Count > 0)
                {
                    foreach (var item in credits)
                    {
                        string strCreditID = cCrypto.EncryptText(item.intCreditID.ToString());
                    <tr>
                        <td>@item.strName</td>
                        <td>@item.tblCreditPackets.Count(c => !c.bolIsDelete)</td>
                        <td>@(item.bolIsActive ? "Aktif" : "Pasif")</td>
                        <td>@item.dtUpdateDate</td>
                        <td>@item.dtRegisterDate</td> 
                        <td>
                            @if (item.bolWebSale)
                            {
                                <a class="btn btn-small btn-info" href="/Credit/Update?i=@strCreditID&type=publish">WEB SATIŞ DETAY</a>
                            }
                            <a class="btn btn-small btn-info" href="/CreditPacket/List?cr=@strCreditID">PAKETLER</a>
                            @if (bolUpdate)
                            {
                                <a class="btn btn-small btn-info" href="/Credit/Update?i=@strCreditID">DÜZENLE</a>
                            }
                            @if (bolDelete)
                            {
                                <a onclick="DeleteCredit('@strCreditID')" class="btn btn-small btn-danger" href="javascript:;">SİL</a>
                            }
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>

        @if (intCount > 1)
        {
            <ul class="pagination">
                @Web.Paging.pageLinks(Request.Url.AbsolutePath + (Request.QueryString["txtSearch"] != null ? "?txtSearch=" + Request.QueryString["txtSearch"] : ""), QueryStrings.page, intCount)
            </ul>
        }
    </div>
    }
}

<input type="hidden" id="hdIDCredit" value="0" />
<script type="text/javascript">
    function DeleteCredit(id) {
        $("#hdIDCredit").val(id);
        $("#deleteTitle").html("Sil");
        $("#lblDeleteMsg").html('Kredi teminatını silmek istediğine emin misin?');
        $('#myModalDelete').modal('show');
    };
    function DeleteModal() {
        location.href = '/Credit/Delete?i=' + $("#hdIDCredit").val() + ($("#txtSearch").val() == "" ? "" : "&txtSearch=" + $("#txtSearch").val());
    };
</script>
