﻿@using WebSales.Classes
@model List<cProductList>
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Script = Product();

    string strKey = "";
    if (ViewContext.RouteData.Values["key"] != null)
    {
        strKey = "/" + ViewContext.RouteData.Values["key"];
    }

    string strQuery = "";
    if (Request.QueryString["bid"] != null)
    {
        strQuery = "?bid=" + Request.QueryString["bid"];
    }
}

@if (Model.Count > 0)
{
    <div class="banner">
        <div class="def_container">
            <div id="slider">
                <div class="owl-carousel">
                    <div class="item">
                        <a href="@(strKey)/urunler@(strQuery)">
                            <img src="/img/online-980.jpg" alt=""></a>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <a href="@item.url">
                                <img src="@item.image" alt=""></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@*if (QueryStrings.BannerID == 0 && string.IsNullOrEmpty(QueryStrings.Key))
{ 
    <div style="display: none" class="fancy-popup"></div>
}*@

<section class="content">
    <div class="def_container">
        <div class="row">
            <h1>ÜRÜNLERİMİZ</h1>
        </div>
        <div class="boxlist">
            <div class="row">
            </div>
        </div>

        <div class="buttons text-center">
            <a id="btnMore" href="javascript:;" class="btn btn-sm more">DAHA FAZLA</a>
            <a id="btnAll" href="@(strKey)/urunler@(strQuery)" class="btn btn-sm btn--filled all">TÜMÜ</a>
        </div>
    </div>
    <input type="hidden" id="hdPage" value="1" />
</section>

@helper Product()
{
    <script type="text/javascript">
        $(function () {
            $("#hdPage").val("1");
            $("#btnMore").click(function () {
                GetProducts();
            });
            GetProducts();
        });
        function GetProducts() {
            $.ajax({
                url: "/product/getproducts", dataType: "json", cache: false, headers: { "cache-control": "no-cache" },
                data: { key: '@ViewContext.RouteData.Values["key"]', bid: @(WebSales.Classes.QueryStrings.BannerID), page: $('#hdPage').val() },
                success: function (data) {
                    if (data.length > 0) {
                        var strHtml = '';
                        for (var i = 0; i < data.length; i++) {
                            strHtml += '<div class="col-xs-3 boxlist__item"><a href="' + data[i].url + '" class="boxlist__item__image">' +
                                '<span class="boxlist__item__hover">SATIN AL <i class="icon-arrow-right-long"></i></span>' +
                                '<figure><img src="' + data[i].imagethumb + '" alt=""></figure></a>' +
                                '<h5 class="boxlist__item__title"><a href="' + data[i].url + '">' + data[i].name + '</a></h5>' +
                                '<p class="boxlist__item__text">' + data[i].spot + '</p>' +
                                (data[i].video == '' ? '' : '<a href="video-link.html" data-video="' + data[i].video + '" class="js-popup">İşlem Rehberi (Demo) için tıklayınız.</a>') +
                                '</div>';
                        }

                        $('.boxlist div:eq(0)').append(strHtml);
                        $('.js-popup').on('click', function (e) {
                            e.preventDefault();

                            var url = $(this).attr('href');
                            var dataVideo = $(this).attr("data-video")
                            console.log(dataVideo)
                            Popup.ajax('body', { url: url }, function () {
                                $(".video-temp").attr("src", dataVideo);
                            });

                        });
                        if (data[0].intCount == $('#hdPage').val()) {
                            $('#btnMore').hide();
                        }
                        else {
                            $('#hdPage').val(parseInt($('#hdPage').val()) + 1);
                        }
                    } else {
                        $('#btnAll').hide();
                    }
                }
            });
        };
    </script>
}