﻿@using FibaEmeklilikSales.Classes;
@using ModelLibrary;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Harita " + (PageControl.DomainType == "new" ? "Ekle" : "Güncelle");
    ViewBag.Top = "1";

    bool bolResponse = PageControl.Get; 
}

<div class="col-xs-12">
    <h2>Harita @(PageControl.DomainType == "new" ? "Ekle" : "Güncelle")</h2>

    @if (bolResponse)
    {
        int intID = QueryStrings.ID;

        DBEntities db = new DBEntities();
        var _data = new tblMapping();

        if (PageControl.DomainType == "update" && intID > 0)
        {
            _data = db.tblMapping.Where(w => w.intID == intID).First();
        }
                                    
        <form method="post" action="@Request.Url.ToString()" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="hdID" name="hdID" value="@Request.QueryString["i"]" />

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="intUserTypeID">Türü</label>
                    <select id="strType" name="strType" class="selectpicker" data-width="100%" data-size="5">
                        <option value="ILK" @(_data.strType == "ILK" ? "selected" : "")>İl</option>
                        <option value="ILC" @(_data.strType == "ILC" ? "selected" : "")>İlçe</option>
                        <option value="UYR" @(_data.strType == "UYR" ? "selected" : "")>Ülke</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="txtUserName">Adı</label>
                    <input id="strName" required name="strName" type="text" value="@_data.strName" class="form-control input-md"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strNameSurname">Kps Kodu</label>
                    <input id="strCode" type="text" required value="@_data.strCode"  name="strCode" maxlength="50" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="control-label" for="strEmail">Ülke Kodu</label>
                    <input id="strCountryCode" type="text" value="@_data.strCountryCode" name="strCountryCode" maxlength="50" class="form-control input-md">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label class=" control-label" for="btnSave">&nbsp;</label>
                    <a class="btn btn-primary" href="/Mapping/List">İptal</a>
                    <input id="btnSave" type="submit" value="Kaydet" class="btn btn-success" />
                </div>
            </fieldset>
        </form>
    }
</div>