﻿@model FibaEmeklilikSales.Areas.Credit.Classes.SaleInfo

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teklif Bilgileri</title>
    <style>

        @@font-face {
            font-family: 'fibasansbold';
            src: url('/fonts/fibasans-bold-webfont.eot');
            src: url('/fonts/fibasans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fibasans-bold-webfont.woff') format('woff'), url(/'fonts/fibasans-bold-webfont.ttf') format('truetype'), url('/fonts/fibasans-bold-webfont.svg#fibasansbold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @@font-face {
            font-family: 'fibasansmedium';
            src: url('/fonts/fibasans-medium-webfont.eot');
            src: url('/fonts/fibasans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fibasans-medium-webfont.woff') format('woff'), url('/fonts/fibasans-medium-webfont.ttf') format('truetype'), url('/fonts/fibasans-medium-webfont.svg#fibasansmedium') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        body {
            width: 100%;
            margin: 0 auto;
            color: #3e3e3e;
            background-color: #d6ebf7;
            font-family: 'fibasansmedium';
        }


        .fiba h2 {
            font-size: 26px;
            text-align: center;
            /* font-family: 'fibasansbold'; */
        }

        .fiba p {
            font-size: 14px;
            text-align: center;
            font-family: 'fibasansmedium';
        }

            .fiba p.small {
                font-size: 14px;
                text-align: center;
                font-family: 'fibasansmedium';
                max-width: 90%;
                margin: 0 auto;
                color: red;
            }

        .fiba .label-group {
            margin-top: 20px;
        }

            .fiba .label-group h3 {
                font-weight: normal;
                text-align: center;
                font-size: 20px;
            }

            .fiba .label-group h4 {
                text-align: center;
                font-weight: normal;
                font-size: 16px;
            }

        .fiba label {
            width: 100%;
            display: flex;
            padding: 20px;
            /* border: 1px solid #ddd; */
            margin-bottom: 1px;
            font-size: 14px;
            max-width: 80%;
        }

        .control-label-title {
            text-align: center;
            font-weight: normal;
            font-size: 20px !important;
            padding-left: 0 !important;
            padding-bottom: 10px !important;
            margin-top: 15px;
            margin-bottom: 0 !important;
        }

        .fiba input[type="checkbox"] {
            margin: -1px 10px 0px 0;
            width: 20px;
            height: 20px;
        }

        .fiba .label-button-group,
        button[type="button"],
        .label-button-group.fiba {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            justify-content: center;
            align-items: center;
        }

            .fiba .label-button-group label,
            button[type="button"],
            .label-button-group.fiba label {
                width: 100%;
                height: 60px;
                border: none;
                color: #fff;
                font-weight: 900;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: #d4e8b5;
                background: -moz-linear-gradient(top, #d4e8b5 0%, rgba(0, 120, 194, 0.85) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4e8b5), color-stop(100%, rgba(0, 120, 194, 0.85)));
                background: -webkit-linear-gradient(top, #d4e8b5 0%, rgba(0, 120, 194, 0.85) 100%);
                background: -o-linear-gradient(top, #d4e8b5 0%, rgba(0, 120, 194, 0.85) 100%);
                background: -ms-linear-gradient(top, #d4e8b5 0%, rgba(0, 120, 194, 0.85) 100%);
                background: linear-gradient(to bottom, #d4e8b5 0%, rgba(0, 120, 194, 0.85) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e8b5', endColorstr='#0078c2', GradientType=0);
                margin-bottom: 10px;
                align-items: center;
                justify-content: center;
            }

                .fiba .label-button-group label:focus,
                button[type="button"]:focus,
                .label-button-group.fiba label:focus {
                    border: none;
                    outline: none;
                }

                .fiba .label-button-group label:hover,
                button[type="button"]:hover,
                .label-button-group.fiba label:hover {
                    border: none;
                    outline: none;
                    opacity: .8;
                }

        @@media screen and (min-width: 767px) {
            .fiba .label-button-group,
            button[type="button"],
            .label-button-group.fiba {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 30px;
            }

                .fiba .label-button-group label,
                button[type="button"],
                .label-button-group.fiba label {
                    width: 50%;
                    margin: 0;
                }

                    .fiba .label-button-group label:nth-child(2),
                    .label-button-group.fiba label:nth-child(2) {
                        margin-left: 4%;
                        margin-top: 0;
                    }
        }

        * {
            box-sizing: border-box;
        }

        .button {
            cursor: pointer;
            width: 200px;
            height: 45px;
            line-height: 45px;
            border-radius: 3px;
            text-align: center;
            display: block;
            font-family: arial;
            color: #fff;
            margin: 50px auto 0 auto;
            background-color: #00aced;
        }

        header {
            height: 90px;
            background-color: #0077c0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .header-in {
            max-width: 800px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 auto;
            width: 100%;
        }

            .header-in span {
                font-family: sans-serif;
                font-weight: bold;
                color: #fff;
                display: flex;
                margin-right: 30px;
                font-size: 20px;
            }

        .fiba {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 50px;
            margin-top: 50px;
        }

        .line-style {
            width: 100%;
            border: 1px solid #ddd;
            display: flex;
            flex-direction: row;
        }

        footer {
            height: 70px;
            background-color: #0077c0;
            color: #fff;
            position: fixed;
            width: 100%;
            bottom: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-in">
            <span>
                eAcente
            </span>
            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>
        </div>
    </header>

    <div class="fiba">
        @if (string.IsNullOrEmpty(ViewBag.Message))
        {
            <h2>Teklif Bilgileri</h2>
        }

        <p class="small" id="msg">
            @ViewBag.Message
        </p>

        @if (Model != null)
        {
            <div class="label-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group line-style">
                            <label class="control-label">Teklif Numarası :</label>
                            <p>@Model.intPolID</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Dağıtım Kanalı / Şube Adı :</label>
                            <p>@Html.Raw(Model.strCallcenterName)</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Sigortalı Bilgileri</label>
                        <div class="form-group line-style">
                            <label class="control-label">TCKN : </label>
                            <p>@Model.strTCKN</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Ad Soyad : </label>
                            <p>@Model.strName @Model.strSurname</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Telefon : </label>
                            <p>@Model.strPhone</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">E-posta : </label>
                            <p>@Model.strEmail</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Adres : </label>
                            <p>@Model.strAddress</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Ödeme Bilgileri</label>
                        <div class="form-group line-style">
                            <label class="control-label">Kredi Kartı Numarası :</label>
                            <p>@Model.strCardNo</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Sigorta Bilgileri</label>

                        <div class="form-group line-style">
                            <label class="control-label">Prim :</label>
                            <p>@Model.strPrim</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Taksit Sayısı :</label>
                            <p>@Model.strInstallment</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Başlangıç Tarihi :</label>
                            <p>@Model.strStartDate</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Bitiş Tarihi :</label>
                            <p>@Model.strEndDate</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Kredi Geri Ödeme Planı</label>

                        <div class="form-group line-style">
                            <label class="control-label">Aylık Taksit Tutarı :</label>
                            <p>@Model.paymentPlans.First().flInstallAmount TL</p>
                        </div>
                        <div class="form-group line-style" style="text-align:center; max-height:340px; overflow-y:auto; overflow-x:hidden;">
                            <table style="width:100%;">
                                <tr>
                                    <td>Taksit Sayısı</td>
                                    <td>Kalan Ana Para</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>@Model.strCreditAmount TL</td>
                                </tr>
                                @for (int i = 0; i < Model.paymentPlans.Count - 1; i++)
                                {
                                    <tr>
                                        <td>@(Model.paymentPlans[i].intInstallment + 1)</td>
                                        <td>@Model.paymentPlans[i].flRemainingAmount TL</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Kredi Bilgileri</label>
                        <div class="form-group line-style">
                            <label class="control-label">Kredi Türü:</label>
                            <p>@Model.strCreditType</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Kredi Tutarı:</label>
                            <p>@Model.strCreditAmount TL</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Kredi Faiz Oranı :</label>
                            <p>% @Model.strCreditInterest</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Kredi / Sigorta Süresi :</label>
                            <p>@Model.strCreditMonth Ay</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">KKDF - Kaynak Kullanımı Destekleme Fonu :</label>
                            <p>% @Model.strKkdf</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">BSMV - Banka Sigorta Muamele Vergisi :</label>
                            <p>% @Model.strBsmv</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Lehtar Bilgileri</label>
                        <div class="form-group line-style">
                            <label class="control-label">Lehdar / Dain-I Mürtehin :</label>
                            <p>Kanuni Varisleri</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Ürün Bilgileri</label>
                        <div class="form-group line-style">
                            <label class="control-label">Ürün Adı :</label>
                            <p>@Model.strProductName</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Paket Adı :</label>
                            <p>@Model.strPacketName</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Temiat Adı :</label>
                            <p>@Model.strAssuranceName</p>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Para Birimi :</label>
                            <p>@Model.strCrediCurrencyType</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label control-label-title">Sağlık Sorusu</label>
                        <div class="form-group line-style">
                            <label class="control-label" style="width:150px;">Soru :</label>
                            <div>
                                @Html.Raw(Model.strQuestion)
                            </div>
                        </div>
                        <div class="form-group line-style">
                            <label class="control-label">Cevap :</label>
                            <p>@Model.strHealtAnswer</p>
                        </div>
                    </div>
                </div>
            </div>

            <form>
                <div class="label-button-group" style="margin-bottom: 50px;">
                    <button type="button" onclick="location.href = '@(Request.Url.ToString().Replace("index", "tanzim"))';">
                        İLERİ
                    </button>
                </div>
            </form>
        }
    </div>

    <footer>
        <p>© Fiba Emeklilik ve Hayat A.Ş. Tüm Hakkı Saklıdır</p>
    </footer>

    <script type="text/javascript">
        history.pushState(null, null, document.location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, document.location.href);
        });
    </script>
</body>
</html>