﻿@model SpecialSale.Classes.cSale
@{
    ViewBag.Title = "Ürün";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model != null)
    {
        string strCaptcha = SpecialSale.Classes.cCrypto.EncryptDES(SpecialSale.Classes.Utilities.RandomString(6));
                    
    <form id="form1" action="@Request.Url.AbsolutePath" method="post" class="form js_validate_form">
        <h2 class="form__title">@Model.strCallcenterName</h2>

        <div class="row">
            <div class="col-xs-6 pdRt-40">
                <label class="label">
                    <span class="label__text">Ürün Seçiniz</span>
                    <span class="input-holder">
                        <select id="product" name="product" class="selectpicker" data-width="100%" data-size="5" tabindex="1">
                            @if (Model.products != null)
                            {
                                foreach (var item in Model.products)
                                {  
                                <option @(Model.selectedProduct == item.id ? "selected" : "") value="@item.id">@item.text</option>
                                }
                            }
                        </select>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Paket Seçiniz</span>
                    <span class="input-holder">
                        <select id="packet" name="packet" class="selectpicker" data-width="100%" data-size="5" tabindex="2">
                            @if (Model.packets != null)
                            {
                                foreach (var item in Model.packets)
                                {  
                                <option @(ViewBag.packet == item.id ? "selected" : "") value="@item.id">@item.text</option>
                                }
                            }
                        </select>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Kimlik Numarası</span>
                    <span class="input-holder">
                        <input type="text" id="tckn" name="tckn" tabindex="3" autocomplete="off" data-rule-required="true" data-msg-required="Kimlik numarasını yazınız" value="@ViewBag.tckn" />
                        <i class="label__required">*</i>
                    </span>
                </label>
                @if (!string.IsNullOrEmpty(ViewBag.ShowAddress))
                {
                    <label class="label">
                        <span class="label__text">&nbsp;</span>
                        <span class="input-holder">
                            <input type="button" class="btn btn-sm btn-sm-v btn--corp_color" value="ADRES" onclick="ShowAddress($('#address').val());" />
                        </span>
                    </label>
                }
                <label class="label">
                    <span class="label__text">Güvenlik Kodu</span>
                    <span class="input-holder">
                        <i class="label__required">*</i>
                        <input type="text" name="txtCaptcha" tabindex="4" autocomplete="off" maxlength="6" data-rule-required="true" data-msg-required="Güvenlik kodunu yazınız" />
                    </span>

                    <div style="height: 52px; text-align: center; border-radius: 5px; background: #fff; width: 150px; margin-top: 25px;">
                        <img id="imgCaptcha" src="/Capctha?key=@strCaptcha" />
                        <input id="hdCapctha" type="hidden" name="hdCapctha" value="@strCaptcha" />
                    </div>
                </label>
            </div>
            <div class="col-xs-6 pdLf-40">
                <label class="label">
                    <span class="label__text">E-posta Adresi</span>
                    <span class="input-holder">
                        <input type="email" name="e_mail" tabindex="5" autocomplete="off" value="@ViewBag.email" data-rule-required="false" data-msg-required=" "   />
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Cep Telefonu Numarası</span>
                    <span class="input-holder">
                        <i class="label__required">*</i>
                        <input type="tel" name="mobile" tabindex="6" autocomplete="off" data-rule-required="true" data-msg-required="Cep telefonu numarasını yazınız" value="@ViewBag.mobile" />
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">Ödeme Şekli</span>
                    <span class="input-holder">
                        <div class="label label--radio js-step-1-radio-1">
                            <label>
                                <input type="radio" name="paytype" value="kredi" @(ViewBag.paytype == "kredi" ? "checked" : "") disabled required data-rule-required="true" data-msg-required="Lütfen ödeme şeklini seçiniz">
                                <span class="label__text label__text--radio">Banka Kredisi</span>
                            </label>
                            <label>
                                <input type="radio" name="paytype" value="kart" @(ViewBag.paytype == "kart" ? "checked" : "") disabled required data-rule-required="true">
                                <span class="label__text label__text--radio">Kredi kartı</span>
                            </label>
                            <label>
                                <input type="radio" name="paytype" value="nakit" @(ViewBag.paytype == "nakit" ? "checked" : "") disabled required data-rule-required="true">
                                <span class="label__text label__text--radio">Nakit</span>
                            </label>
                        </div>
                    </span>
                </label>
                <label class="label">
                    <span class="label__text">IBAN : @System.Configuration.ConfigurationManager.AppSettings["iban"]</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="label label--radio js-step-4-radio-1">
                <label>
                    <input type="checkbox" name="bilgilendirme_formu" checked required data-rule-required="true" data-msg-required="Lütfen Bilgilendirme Formu’nu okuyup onaylayınız.">
                    <span class="label__text label__text--checkbox"><a href="javascript:void(0);" onclick="OpenInfoForm();">Bilgilendirme Formu</a>’nu okudum, onaylıyorum.</span>
                </label>
            </div>
            <div class="label label--radio js-step-4-radio-1">
                <label>
                    <input type="checkbox" name="satis_sozlesmesi" required data-rule-required="true" data-msg-required="Lütfen Kullanıcı Sözleşmesi ve Kişisel Verileri Koruma Kanunu Kapsamında Bilgilendirme Metni’ni okuyup onaylayınız.">
                    <span class="label__text label__text--checkbox"><a target="_blank" href="/html/kullanici-sozlesmesi.html">Kullanıcı Sözleşmesi ve Kişisel Verileri Koruma Kanunu Kapsamında Bilgilendirme Metni</a>’ni okudum, onaylıyorum.</span>
                </label>
            </div>
            <div class="label label--radio js-step-4-radio-1">
                <label>
                    <input type="checkbox" name="mesafeli_satis" checked />
                    <span class="label__text label__text--checkbox"><a target="_blank" href="/html/mesafeli-sozlesme.html">Mesafeli Satış Sözleşmesi</a>’ni ve <a target="_blank" href="/html/saglik-beyani.html">Sağlık Beyanı</a>’nı okudum, onaylıyorum.</span>
                </label>
            </div>
        </div>
        <div class="form__bottom text-right">
            <button class="btn btn-sm btn-sm-v btn--corp_color js-step-next-btn-2">GÖNDER <i class="icon-arrow-right-thin left"></i></button>
        </div>
        <input type="hidden" id="address" name="address" value="@ViewBag.address" />
    </form> 
    
    <script type="text/javascript">
        function OpenInfoForm() {
            if ($('#tckn').val() != '') {
                $.ajax({
                    url: "/Crypto",
                    dataType: "json",
                    data: { value: $('#tckn').val() },
                    success: function (data) {
                        window.open('/bilgilendirmeformu?c=@SpecialSale.Classes.cCrypto.EncryptDES(Model.intCallcenterID.ToString())&t=' + data.value, '_blank');
                    }
                });
                } else {
                    popup.add("body", 'Kimlik numarasını giriniz!', "alert");
                }
            };
            function ErrorMsg(strMsg) {
                popup.add("body", strMsg, "alert");
            };
            function ShowAddress(strAddress) {
                var strHtml = '<label class="label"><span class="label__text">Adres giriniz</span><span class="input-holder"><textarea onkeydown="AddressSet();" onkeypress="AddressSet();" onkeyup="AddressSet();" id="popup_address" rows="5" style="width:400px">' + strAddress + '</textarea></span></label>';
                popup.add("body", strHtml, null);

                $('.fiba-popup__close').click(function () {
                    if ($('#address').val() == '') {
                        setTimeout(function () {
                            popup.add("body", 'Adres giriniz!', "alert");
                            $('.fiba-popup__close').click(function () {
                                setTimeout(function () {
                                    ShowAddress();
                                }, 500);
                            });
                        }, 500);
                    }
                });
            };
            function AddressSet() {
                $("#address").val($("#popup_address").val());
            };
            $(function () {
                @if (!string.IsNullOrEmpty(ViewBag.ShowAddress))
                {
                @Html.Raw("ShowAddress('" + ViewBag.address + "');")
                }

            @if (Session["Policy"] != null)
            {
                 @Html.Raw("popup.add('body','" + HtmlFinished().ToString().Replace(System.Environment.NewLine, "").Replace("  ", "").Trim() + "', null);")
            }

                $("#product").change(function () {
                    $('#packet option').remove();
                    $('#packet').selectpicker('refresh');
                    $.ajax({
                        url: "/Packets",
                        dataType: "json",
                        data: { product: $("#product").val() },
                        success: function (data) {
                            var newOptions = "";
                            for (var i = 0; i < data.length; i++) {
                                newOptions += '<option' + (i == 0 ? " selected" : "") + ' value="' + data[i].id + '">' + data[i].text + '</option>';
                            }
                            $('#packet').html(newOptions).selectpicker('render');
                            $('#packet').selectpicker('refresh');
                        }
                    });
                });
            });
            function Crypto() {
                $.ajax({
                    url: "/Crypto",
                    dataType: "json",
                    data: { value: $('#tckn').val() },
                    success: function (data) {
                        alert(data);
                    }
                });
            };
    </script>
    }
    else
    {
    <h2 class="form__title">Sayfa aktif değildir!</h2>
    }     
}

@helper HtmlFinished()
{
    <div class="text-center pdTp-40">
        <div class="infowindow__inner">
            <p>
                @(Session["Policy"]) numaralı teklifiniz oluşturulmuştur.
            </p>
            @*<a class="btn btn--corp_color mrTp-20" target="_blank" href="/pdf?policy=@SpecialSale.Classes.cCrypto.EncryptDES(Session["Policy"].ToString())"><span class="icon-pdf"></span>POLİÇENİZİ GÖRÜNTÜLEYİN</a>*@
        </div>
    </div>
    
    Session["Policy"] = null;
}

@section footer
{
    @Html.Raw(ViewBag.Message)
}