﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fibahayat - Başarılı</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            background-image: url(/img/fiba-background.jpg);
            background-color: #8cc3d8;
            background-repeat: repeat-x;
        }

        .fiba-header {
            display: flex;
            height: 30px;
            width: 100%;
            background-color: white;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
        }

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .content__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 40px;
        }

        .content__desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .content__desc span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 24px;
                font-family: 'fibasansmedium';
            }
    </style>

</head>
<body>
    <div class="fiba-header">

    </div>
    <div class="container">
        <!-- header BEGIN -->
        <div class="header">
            <img src="/img/fibahayat-logo.png" alt="">
        </div>
        <!-- header END -->
        <!-- content BEGIN -->
        <div class="content">
            <div class="content__image">
                <img src="/img/basarili-img.png" alt="">
            </div>
            <div class="content__desc">
                <span>Poliçeniz başarılı bir şekilde</span>
                <span>tanzim edilip tahsilatınız işlenmiştir.</span>
            </div>
        </div>
        <!-- content END -->
    </div>

</body>
</html>